mixin itemh(i, p)
	+e.col.col-md-6.col-lg-3(class="wow animate__fadeInUp" )
		+e.item(href='#' style=`--hover-bg: rgba(231,164,96,1);--hover-color: #E7A460;`)
			+e.DIV.img-wrap
				img(src=`img/svg/how-works-${i}.svg` alt="")
			p!= p
			+e.more
				span Батафсил
				+icon('shevron-right-sm')
mixin sHowWorks(data)
	// start sHowWorks
	+b.SECTION.sHowWorks.section#sHowWorks&attributes(attributes)
		.container
			//- +e.wrapper
			+b.section-title.text-center(class="wow animate__fadeInUp" )
				h2 Хизмат қандай ишлаши ҳақида
			.row.justify-content-center
				+itemh(1, `Фермерлар ўз махсулотларини жойлаштирадилар`)
				+itemh(2, `Сиз керакли маҳсулотни танлайсиз`)
				+itemh(7, `Етказиб берувчи керакли маҳсулотни текширади ва тасдиқлайди`)
				+itemh(3, `Етказиб бериш ва вақти ҳақида келишиб оласиз`)

	// end sHowWorks

mixin sHowWorks2(data)
	// start sHowWorks2
	+b.SECTION.sHowWorks.section#sHowWorks&attributes(attributes)
		.container
			//- +e.wrapper
			+b.section-title.text-center(class="wow animate__fadeInUp" )
				h2 Хизмат қандай ишлаши ҳақида
			.row.justify-content-center
				+itemh(4, `Ўзингиз ва компаниянгиз ҳақида маълумотни тўлдиринг`)
				+itemh(5, `Маҳсулотингизни сайтга юкланг`)
				+itemh(8, `Буюртмани қабул қилинг`)
				+itemh(6, `Ва савдоингизи кенгайтиринг`)

	// end sHowWorks2