// start .sHowWorks
@use "sass:math";

.sHowWorks {
	--sPT: #{rem(30)};
	--sPB: #{rem(30)};
	--sTPB: calc(#{rem(57)} / 2);
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
		--sTPB: #{rem(57)};
	}

	.section-title {
		h2 {
			margin-bottom: 0;
		}
	}
	&__wrapper {
		max-width: 770px;
		margin-left: auto;
		margin-right: auto;
	}
	.row {
		--bs-gutter-x: #{rem(19)};
		--bs-gutter-y: #{rem(19)};
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(25)};
			--bs-gutter-y: #{rem(25)};
		}
	
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		background: $white;
		border: 2px solid #e5e5e5;
		padding: rem(14) rem(30) rem(17) rem(17);
		border-radius: $border-radius-lg;
		@include media-breakpoint-up(md) {
			padding: rem(24) rem(19) rem(12);
			min-height: 258px;
			flex-direction: column;
		}
		@include media-breakpoint-up(lg) {
			min-height: 288px;
		}

		&:hover {
			box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
		}
		p {
			font-weight: 500;
			font-size: rem(14);
			line-height: math.div(16, 13);
			margin: rem(29) 0;
			color: #3e3e3e;
			@include media-breakpoint-up(sm) {
				font-size: rem(16);
			}
			@include media-breakpoint-up(md) {
				margin: 0 0 rem(19);
				flex-grow: 1;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}
			@include media-breakpoint-up(lg) {
				max-width: rem(185);
				font-size: rem(14);
			}
		}
	}

	&__more {
		position: absolute;
		right: rem(30);
		bottom: rem(15);
		@include media-breakpoint-up(lg) {
			margin-left: auto;
			position: static;
		}
		span {
			margin-right: rem(5);
		}

		.icon-shevron-right-sm {
			font-size: rem(8);
		}
	}

	&__img-wrap {
		position: relative;
		min-width: 109px;
		min-height: 109px;
		display: block;
		margin: 0 rem(16) 0 0;
		border-radius: 50%;
		background-color: var(--bg-img-wrap);
		border: var(--border-size, 5px) solid #e0e0e0;
		@include mt;
		@include media-breakpoint-up(md) {
			margin: 0 auto rem(25);
		}
		@include media-breakpoint-up(lg) {
			margin: 0 auto rem(35);
		}
		svg,
		img {
			@include mt;
			@include a-cent;
			max-width: 68px;
			max-height: 54px;
			.st1,
			.st0,
			[stroke="#00CD69"] {
				stroke: var(--color-icon, var(--bs-primary)) !important;
			}

			[fill="#00cd69"],
			[fill="#00CD69"] {
				fill: var(--color-icon, var(--bs-primary)) !important;
			}
		}
	}

	&__item:hover &__img-wrap {
		border-color: var(--hover-bd, rgba($color: #e7a460, $alpha: 1));
		background-color: var(--bg-img-wrap-hover, none);
		svg {
			.st1,
			.st0,
			[stroke="#00CD69"] {
				stroke: var(--hover-color, #e7a460) !important;
			}

			[fill="#00cd69"],
			[fill="#00CD69"] {
				fill: var(--hover-color, #e7a460) !important;
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sHowWorks
