mixin sWantToSell(data)
	// start sWantToSell
	+b.SECTION.sWantToSell.section#sWantToSell&attributes(attributes)
		.container
			.row
				.col-md-6
					+e.heading(class="wow animate__fadeInLeft" )
						+b.section-title
							h2 Сотишни хохлайсизми?
						p Ўзингизнинг маҳсулотингиз ёки хизматингиз борми? Сиз уни бизнинг платформамизда сотишни бошлашингиз мумкин.
						+e.btn.btn(href="#") Сотувни бошлаш
				+e.col.col-md-6(class="wow animate__fadeInRight" )
					+e.tooltip--1 Товарнинг <br> батафсил тавсифи
					+e.tooltip--2 Фючерслар, тендерлар, <br> сотиб олиш ва сотиш
					+pic(`want-to-sell.png`, ``, ``)
	// end sWantToSell