// start .sProfile
.sProfile {
	--sPT: 0;
	--sPB: 0;
	// --sTPB: ;
	@include media-breakpoint-up(xl) {
		padding-left: rem(35);
	}
	
	&__inner {
		max-width: 485px;
		margin-bottom: rem(22);
		@include media-breakpoint-up(md) {
		margin-bottom: rem(65);
		}
	}
	.h4 {
		color: #5a6066;
	}
	ul {
		list-style: none;
		margin-bottom: rem(19);
		li {
			margin-bottom: rem(7);
			span {
				@extend .text-secondary;
				margin-right: rem(5);
			}
		}
	}

	&__social {
		.icon {
			color: $black;
			font-size: rem(27);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProfile
