mixin sVacancy2(data)
    // start sUserLegalInfo
    div.vacancy-user.section#vacancy-user&attributes(attributes)
        .vac-info
            .head-region
                .col-md-9
                    .h2 Бош ветеринар муовини
                    .price 1 800 000 uzs
                    .company ООО "АГРОФИРМА АРИАНТ"
                .col-md-3
                    button.btn.btn-primary.w-180 Жавоб қайтариш
            .bottom-region
                .wrapper
                    .icon-wrapper
                        +icon("icon-address")
                    .info
                        p
                            strong Манзил
                        p Тошкент шаҳар, Чилонзор,
                        p Муқумий кўчаси 4 - уй
                .wrapper
                    .icon-wrapper
                        +icon("icon-clockk")
                    .info
                        p
                            strong Иш соати
                        p 9:00 - 18:00
                .wrapper
                    .icon-wrapper
                        +icon("icon-briefcase")
                    .info
                        p
                            strong Иш графиги
                        p Толиқ иш куни
                .wrapper
                    .icon-wrapper
                        +icon("icon-scale")
                    .info
                        p
                            strong Иш тажрибаси
                        p 12 йил
            .description
                .desc-title Батафсил тавсиф
                .text
                    p Кунига 3 марта сигирларни бевосита соғиш. Сигирларни парвариш қилиш — қўшиқ айтиш, овқатни тарқатиш, гўнгни тозалаш. Агрофирма "Ариант" - Урал вилоятида гўшт маҳсулотлари ишлаб чиқариш учун енг йирик агросаноат холдинг компанияси. Россияда саноатнинг ўнта раҳбарларидан бири. Вертикал интеграциялашган холдинг таркибига қишлоқ хўжалиги ва ишлаб чиқариш майдончалари, шунингдек, маркали савдо тармоғи киради.
                    p
                        strong Вазифалари:
                    ul
                        li Ветеринария ва санитария талабларига риоя етилишини назорат қилиш;
                        li Назорат ва назорат органлари билан ўзаро ҳамкорлик;
                        li Норматив ҳужжатларни ишлаб чиқишда иштирок етиш;
                        li Чорвачилик ходимлари учун тренинглар ва брифинглар ўтказиш.
                        li Антиепизоотик, профилактик ва терапевтик чора-тадбирлар режасини тузиш ва назорат қилиш;
                        li Лаборатория ишлари;
                        li Корхонанинг биологик хавфсизлигини назорат қилиш;
                        li Ветеринария ҳисоботлари ва бухгалтерия ҳисоби.