mixin sVacancy3(data)
    // start sUserLegalInfo
    div.vacancy-user.section#vacancy-user&attributes(attributes)
        .vac-info
            .head-region
                .col-md-9
                    .h2 Бош ветеринар муовини
                    .price 1 800 000 uzs
                    .company Азимов Сайфиддин
                .col-md-3
                    button.btn.btn-primary.w-180 Рақамни кўриш
            .bottom-region
                .wrapper
                    .icon-wrapper
                        +icon("icon-address")
                    .info
                        p
                            strong Манзил
                        p Тошкент шаҳар, Чилонзор,
                        p Муқумий кўчаси 4 - уй
                .wrapper
                    .icon-wrapper
                        +icon("icon-scale")
                    .info
                        p
                            strong Иш тажрибаси
                        p 12 йил
                .wrapper
                    .icon-wrapper
                        +icon("icon-briefcase")
                    .info
                        p
                            strong Иш графиги
                        p 9:00 - 18:00
                .wrapper
                    .icon-wrapper
                        +icon("icon-information")
                    .info
                        p
                            strong Маълумоти
                        p Олий маълумотли

            .description
                .desc-title Ози ҳақида
                .text
                    p Жисмоний тарбия ва sport факултетини тамомлаган. Мутахассислиги: жисмоний тарбия ўқитувчиси. Алоқа қўнғироқдан яхшироқ, почтани томоша қилишнинг ҳеч қандай усули йўқ.