mixin sMobileStore(data)
    +b.SECTION.sMobileStore.wow.animate__fadeInUp.section#sMobileStore&attributes(attributes)
        .container
            .row
                .image.col-5.d-none.d-lg-block
                    +pic('smartphone.png','',0)
                .info.col-7
                    h2 O’zimizniki ’мобил иловасини юклаб олинг
                    p Бизнинг сервис билан янада яқинроқ бўлинг
                    .app-links-wrapper
                        a(href="#")
                            +pic('google-play.png', '', 0)
                        a(href="#")
                            +pic('appstore.png', '', 0)
