mixin footer()
	+b.FOOTER.footer
		.container
			.row
				+e.col-first.col-lg.pb-3
					a(href="/")
						img(src="img/svg/footer-logo.svg", alt="")
					+e.copyright © 2000-2021 АО «Агробанк».  Лицензия Центрального Банка РУз №78 от 29.08.2014 г. 
					
				.col-sm-6.col-md-4.col-lg-3.pb-3 
					p.text-secondary2 Фойдали ҳаволалар:
					ul 
						li: a(href="#")  Хамкор булиш 
						li: a(href="#")  Оммабоп саволлар
						li: a(href="#")  Хизмат қандай ишлаши 
						li: a(href="#")  Боғланиш
						//- li: a(href="#")  Саватча
				.col-sm-6.col-md-4.col-lg-3.pb-3 
					p.text-secondary2 Биз ҳақимизда:
					ul 
						li: a(href="#")  Агробанк ҳақида
						li: a(href="#")  Лойиҳа ҳақида
						li: a(href="#")  Янгиликлар / Блог
						//- li: a(href="#")  Партнёрларимиз
				+e.col.col-sm-6.col-md-4.col-lg-auto
					p.text-secondary2 Колл-центр:
					a(href="tel:+998781500088") +998 (78) 150-00-88 
					p.text-secondary2 Telegram Bot:
					+e.support(href="#") On-line Support
					+soc()

			//- p.text-secondary2.mt-5.d-none.d-sm-block 2021 © Barcha huquqlar himoya qilingan. Barcha xizmatlar litsenziyalangan
