mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container 
			+e.inner
				.row.g-0
					.col-md-7
						+e.block--form-wrap
							h2 Хавабар жўнатиш
							+form-wrap
								+input("Исмингиз")
								+input("Телефон рақамингиз",'tel')
								+input("Хабар киритинг",'textarea')
								+e.btn(type="submit") Жўнатиш
					.col-md-5
						+e.block--sidebar
							h2 Боғланиш
							+e.sidebar-body
								
								+e.link(href="#")
									+e.icon-wap: +icon('telegram2')
									| Telegram Bot
								
								+e.link(href="mailto:headoffice@agrobank.uz")
									+e.icon-wap: +icon('email')
									| headoffice@agrobank.uz
								
								+e.link(href="tel:+998711505395")
									+e.icon-wap: +icon('phone')
									| +998 71 150 53 95
								
							+e.sidebar-footer
								+soc
	// end sForm
mixin sForm2()
	// start sForm
	+b.SECTION.sForm--2.section#sForm&attributes(attributes)
		.container 
			block
	// end sForm

mixin sForm3()
	+b.artical-form.section
		.container
			+form-wrap
				h2 Рўйхатдан ўтиш
				.row
					.col-lg-6
						+input(``,`text`,`Исм`)
					.col-lg-6
						+input(``,`text`,`E-mail`)
					.col-lg-6
						+input(``,`text`,`Фамилия`)
					.col-lg-6
						.form-wrap__input-wrap.form-group
							label
								span.form-wrap__input-title Дата рождения *
								.row.row-select
									.col-4
										+input(`Кун`,`select`)
									.col-4
										+input(`Ой`,`select`)
									.col-4
										+input(`Йил`,`select`)
					.col-lg-6
						+input(``,`tel`,`Телефон рақами`)
						label.custom-input.form-check
							input.custom-input__input.form-check-input(name='checkbox' type='checkbox')
							span.custom-input__text.form-check-label Шахсий маълумотлардан фойдаланиш <a href="#">шартларини қабул қиламан.</a>
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Рўйхатдан ўтиш