include ../sDates/_sDates.pug

mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container 
			+e.inner
				.row.g-0
					.col-md-7
						+e.block--form-wrap
							h2 Хавабар жўнатиш
							+form-wrap
								+input("Исмингиз")
								+input("Телефон рақамингиз",'tel')
								+input("Хабар киритинг",'textarea')
								+e.btn(type="submit") Жўнатиш
					.col-md-5
						+e.block--sidebar
							h2 Боғланиш
							+e.sidebar-body
								
								+e.link(href="#")
									+e.icon-wap: +icon('telegram2')
									| Telegram Bot
								
								+e.link(href="mailto:headoffice@agrobank.uz")
									+e.icon-wap: +icon('email')
									| headoffice@agrobank.uz
								
								+e.link(href="tel:+998711505395")
									+e.icon-wap: +icon('phone')
									| +998 71 150 53 95
								
							+e.sidebar-footer
								+soc
	// end sForm
mixin sForm2()
	// start sForm
	div.sForm--2.section#sForm&attributes(attributes)
		.container 
			block
	// end sForm

mixin sForm3()
	+b.artical-form.section#form
		.container
			h2 Рўйхатдан ўтиш
			+form-wrap
				.step-form
					.step.active 1
					.step 2
					.step 3
					.step 4
					.step 5
				.row
					.col-lg-6
						+input(``,`text`,`Исм`)
						+input(``,`text`,`Фамилия`)
						+input(``,`tel`,`Телефон рақами`)
						label.custom-input.form-check
							input.custom-input__input.form-check-input(name='checkbox' type='checkbox')
							span.custom-input__text.form-check-label Шахсий маълумотлардан фойдаланиш <a href="#">шартларини қабул қиламан.</a>
					.col-lg-6
						+input(``,`text`,`E-mail`)
						.form-wrap__input-wrap.form-group
							.label
								span.form-wrap__input-title Дата рождения *
								span.row.row-select
									span.col-4
										label
											+input(`Кун`,`select`)
									span.col-4
										label
											+input(`Ой`,`select`)
									span.col-4
										label
											+input(`Йил`,`select`)
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Кейингиси
mixin sForm3step2()
	+b.artical-form.section#form
		.container
			h2 Рўйхатдан ўтиш
			+form-wrap
				.step-form
					.step.active 1
					.step.active 2
					.step 3
					.step 4
					.step 5
				.row
					.col-lg-6
						.form-wrap__input-wrap-select.form-group
							.label
								span.form-wrap__input-title Жинсингиз *
								label
									+input(`Жинсингизи киритинг`,`select`)
						.form-wrap__input-wrap.form-group
							.label
								span.form-wrap__input-title Маълумотингиз *
								label
									+input(`Маълумотингизни киритинг`,`select`)
						.form-wrap__input-wrap.form-group
							.label
								span.form-wrap__input-title Паспорт маълумотлари *
								.group-input
									label
										input.form-wrap__input.form-control(name="text" type="text" placeholder="Серияси")
									label
										input.form-wrap__input.form-control(name="text" type="text" placeholder="Рақами")
						span.location-text Ўқишга қабул қилинган тақдирда Сиз ўқиш учун Фермерлар мактаби Андижон шахри филиалига йўналтириласиз. <a href="#">Локация</a>
					.col-lg-6
						.form-wrap__input-wrap.form-group
							span.form-wrap__input-title Пасспортингизни маълумотлар қисмини илова қилинг *
							+input("",'file')
						.form-wrap__input-wrap.form-group
							span.form-wrap__input-title Пасспортингизни яшаш жойи (прописка) қисмини илова қилинг *
							+input("",'file')
						.form-wrap__input-wrap.form-group
							.label
								span.form-wrap__input-title Доимий яшаш жойингиз *
								span.row.row-select
									span.col-4
										label
											+input(`Ҳудудингизн`,`select`)
									span.col-4
										label
											+input(`Шаҳар/Туман`,`select`)
									span.col-4
										label
											+input(`Манзил`,`text`)
						.address-group
							.name Вилоят:
								span Андижон
							.name Шаҳар / туман:
								span Андижон
							.name Манзил:
								span Куйганёр
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Кейингиси
mixin sForm3step3()
	+b.artical-form.section#form
		.container
			h2 Рўйхатдан ўтиш
			+form-wrap
				.step-form
					.step.active 1
					.step.active 2
					.step.active 3
					.step 4
					.step 5
				.row
					.col-lg-6
						.form-wrap__input-wrap.form-group
							.input-text-group
								span.form-wrap__input-title Сиз Фермерлар мактаби ҳақида қаердан ешитдингиз? *
								label
									input.form-wrap__input.form-control(name="text" type="text" placeholder="Телеграмдан (Қайси канал ёки гуруҳдан)")
								label
									input.form-wrap__input.form-control(name="text" type="text" placeholder="Телеведениядан (Қайси каналдан)?")
								label
									input.form-wrap__input.form-control(name="text" type="text" placeholder="Инстаграмдан (Қайси саҳифадан)?")
								label
									input.form-wrap__input.form-control(name="text" type="text" placeholder="Агробанк филиалидан (Қайси филиалдан)?")
								label
									input.form-wrap__input.form-control(name="text" type="text" placeholder="Бошқа манбадан (масалан, дўстимдан)")
						+input("",'text', "Диплом бўйича мутахассислигингиз: *")
					.col-lg-6
						+input("",'text', "Ҳозирги кунда қаерда нима иш билан шуғулланасиз? *")
						+input("",'textarea', "Иш тажрибангиз неча йил (норасмий меҳнат фаолияти ҳам ҳисобланади)? *")(rows="6")
						.form-wrap__input-wrap.form-group
							span.form-wrap__input-title Аграр соҳада фаолият учун банк кредитидан фойдаланганмисиз? *
							.group-radios
								+in-c(`radio`, `Ҳа, фойдаланганман`)
								+in-c(`radio`, `Йўқ, фойдаланмаганман.`)
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Кейингиси
mixin sForm3step4()
	+b.artical-form.section#form
		.container
			h2 Рўйхатдан ўтиш
			+form-wrap
				.step-form
					.step.active 1
					.step.active 2
					.step.active 3
					.step.active 4
					.step 5
				.row
					.col-lg-6
						.form-wrap__input-wrap.form-group
							.input-text-group
								span.form-wrap__input-title 3 та ижобий хислатингиз *
								label
									input.form-wrap__input.form-control(name="text" type="text" placeholder="1 - ижобий хислатингиз")
								label
									input.form-wrap__input.form-control(name="text" type="text" placeholder="2 - ижобий хислатингиз")
								label
									input.form-wrap__input.form-control(name="text" type="text" placeholder="3 - ижобий хислатингиз")
					.col-lg-6
						.form-wrap__input-wrap.form-group.checkboxes-group
							span.form-wrap__input-title Қишлоқ хўжалигининг қайси соҳасига кўпроқ қизиқасиз (бир нечта жавобни танлашингиз мумкин)? *
							+in-c('checkbox', "Чорвачилик")
							+in-c('checkbox', "Сабзавот ва полизчилик")
							+in-c('checkbox', "Паррандачилик")
							+in-c('checkbox', "Иссиқхона хўжалиги")
							+in-c('checkbox', "Узумчилик")
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Кейингиси
mixin sForm3step5()
	+b.artical-form.section#form
		.container
			h2 Рўйхатдан ўтиш
			+form-wrap
				.step-form
					.step.active 1
					.step.active 2
					.step.active 3
					.step.active 4
					.step.active 5
				+input("",'textarea', "Фермерлар мактабидан нималарни кутяпсиз? (фикрларингизни аниқ равишда 100-150 та сўзда ифодаланг)? *")(rows="6")
				+input("",'textarea', "Танлаган соҳангиз бўйича қандай тажриба ва кўникмаларга эгасиз? Фермерлар мактабида ўқиш учун ўзингизни қай даражада тайёрман деб ҳисоблайсиз? Жавобингизни 100-150 та сўзда ифодаланг. *")(rows="6")
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Кейингиси
mixin sForm3agrolab()
	+b.artical-form.section#form
		.container
			h2 Рўйхатдан ўтиш
			+form-wrap
				.step-form
					.step.active 1
					.step 2
					.step 3
					.step 4
					.step 5
				.row
					.col-lg-6
						.form-wrap__input-wrap-select.form-group
							.label
								span.form-wrap__input-title Таълим йўналишлари
								label
									+input(`Энтомология`,`select`)
						.form-wrap__input-wrap.form-group
							.label
								span.form-wrap__input-title Ўқиш тури
								label
									+input(`Интенсив курс`,`select`)
						+input(``,`text`,`Исм`)
						+input(``,`text`,`Фамилия`)
					.col-lg-6
						+input(``,`tel`,`Телефон рақами`)
						+input(``,`text`,`E-mail`)
						.form-wrap__input-wrap.form-group
							.label
								span.form-wrap__input-title Дата рождения *
								span.row.row-select
									span.col-4
										label
											+input(`Кун`,`select`)
									span.col-4
										label
											+input(`Ой`,`select`)
									span.col-4
										label
											+input(`Йил`,`select`)
						label.custom-input.form-check
							input.custom-input__input.form-check-input(name='checkbox' type='checkbox')
							span.custom-input__text.form-check-label Шахсий маълумотлардан фойдаланиш <a href="#">шартларини қабул қиламан.</a>
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Кейингиси
mixin sForm3step2agrolab()
	+b.artical-form.section#form
		.container
			h2 Рўйхатдан ўтиш
			+form-wrap
				.step-form
					.step.active 1
					.step.active 2
					.step 3
					.step 4
					.step 5
				.row
					.col-lg-6
						.form-wrap__input-wrap-select.form-group
							.label
								span.form-wrap__input-title Жинсингиз *
								label
									+input(`Жинсингизи киритинг`,`select`)
						.form-wrap__input-wrap.form-group
							.label
								span.form-wrap__input-title Маълумотингиз *
								label
									+input(`Маълумотингизни киритинг`,`select`)
						.form-wrap__input-wrap.form-group
							.label
								span.form-wrap__input-title Паспорт маълумотлари *
								.group-input
									label
										input.form-wrap__input.form-control(name="text" type="text" placeholder="Серияси")
									label
										input.form-wrap__input.form-control(name="text" type="text" placeholder="Рақами")
						span.location-text Ўқишга қабул қилинган тақдирда Сиз ўқиш учун Фермерлар мактаби Андижон шахри филиалига йўналтириласиз. <a href="#">Локация</a>
					.col-lg-6
						.form-wrap__input-wrap.form-group
							span.form-wrap__input-title Пасспортингизни маълумотлар қисмини илова қилинг *
							+input("",'file')
						.form-wrap__input-wrap.form-group
							span.form-wrap__input-title Пасспортингизни яшаш жойи (прописка) қисмини илова қилинг *
							+input("",'file')
						.form-wrap__input-wrap.form-group
							.label
								span.form-wrap__input-title Доимий яшаш жойингиз *
								span.row.row-select
									span.col-4
										label
											+input(`Ҳудудингизни`,`select`)
									span.col-4
										label
											+input(`Шаҳар/Туман`,`select`)
									span.col-4
										label
											+input(`Манзил`,`text`)
						.address-group
							.name Вилоят:
								span Андижон
							.name Шаҳар / туман:
								span Андижон
							.name Манзил:
								span Куйганёр
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Кейингиси
mixin sForm3step3agrolab()
	+b.artical-form.section#form
		.container
			h2 Рўйхатдан ўтиш
			+form-wrap
				.step-form
					.step.active 1
					.step.active 2
					.step.active 3
					.step 4
					.step 5
				+input("",'text', "Касбингиз (нима иш билан шуғулланасиз?): ")
				+input("",'textarea', "Иш тажрибангиз (норасмий меҳнат фаолияти ҳам) *")(rows="6")
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Кейингиси
mixin sForm3step4agrolab()
	+b.artical-form.section#form
		.container
			h2 Рўйхатдан ўтиш
			+form-wrap
				.step-form
					.step.active 1
					.step.active 2
					.step.active 3
					.step.active 4
					.step 5
				.row
					.col-lg-6
						.form-wrap__input-wrap.form-group
							.form-wrap__input-wrap.form-group.checkboxes-group
								span.form-wrap__input-title Ўқимоқчи бўлган йўналишингизни танланг – асосий танлов:
								+in-c('checkbox', "Энтомология")
								+in-c('checkbox', "Фитопатология")
								+in-c('checkbox', "Нематология")
								+in-c('checkbox', "Вирусология")
								+in-c('checkbox', "Гербология")
								+in-c('checkbox', "Тупроқ ва сув таҳлили")
								+in-c('checkbox', "Токсикология")
					.col-lg-6
						.form-wrap__input-wrap.form-group.checkboxes-group
							span.form-wrap__input-title Ўқимоқчи бўлган йўналишингизни танланг – 2 чи танлов:
							+in-c('checkbox', "Энтомология")
							+in-c('checkbox', "Фитопатология")
							+in-c('checkbox', "Нематология")
							+in-c('checkbox', "Вирусология")
							+in-c('checkbox', "Гербология")
							+in-c('checkbox', "Тупроқ ва сув таҳлили")
							+in-c('checkbox', "Токсикология")
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Кейингиси
mixin sForm3step5agrolab()
	+b.artical-form.section#form
		.container
			h2 Рўйхатдан ўтиш
			+form-wrap
				.step-form
					.step.active 1
					.step.active 2
					.step.active 3
					.step.active 4
					.step.active 5
				+input("",'textarea', "“Ўсимликларни ҳимоя қилиш” интенсив ўқув курсида айнан қандай билим ва кўникмаларни эгаллашни хоҳлардингиз ва уларни нима мақсадда қўллайсиз (фикрингизни 100-150 та сўздан иборат ҳолда ифодаланг)?")(rows="6")
				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Кейингиси
mixin sForm4()
	+b.artical-form.section#form
		.container
			+form-wrap
				h2 Сўров жўнатиш
				.artical-form__wrap
					.artical-form__inputs
						+input(`Этказиб бериш`,`select`,`Хизмат турини танланг`)
						+input(`Agrolab`,`select`,`Ҳизматлар`)
						+input(`Тупроқ таҳлили ва агрокимёвий тадқиқотлар лаборат...`,`select`,`Ҳизматни танланг`)
						+input(``,`text`,`Исм`)
						+input(``,`text`,`Фамилия`)
						+input(``,`tel`,`Телефон рақами`)
						+input(``,`textarea`,`Адрес`)(id="myCoordinates")
						+input(``,`text`,`Широта`)(id="myLatitude")
						+input(``,`text`,`Долгота`)(id="myLongitude")
					.artical-form__map
						p Етказиб бериш жойини белгиланг
						div(id="map")

				.artical-form__btn-wrap
					a.artical-form__btn(href="#") Жўнатиш

mixin sForm5()
	+b.vacancy-form.section(id="form")
		.container
			+form-wrap
				h2 Вакансия жойлаш
				.row
					.col-lg-8
						+input(`Мутаҳассис номини киритинг`,`text`,`Мутаҳассис номи`, 'text')
						+input(`Ташкилот номини киритинг`,`text`,`Ташкилот номи`, 'text')
						+input(`Мисол 5 йил`,`select`,`Тажрибаси  ( йил )`)
					.col-lg-4
						+input(`Ойлик маошни киритинг`,`text`,`Ойлик маош(Сўм)`, 'text')
						.form-wrap__input-wraper.form-group
							.label
								span.form-wrap__input-title Иш соати
								span.row.row-select
									span.col-6
										label
											+input(`Дан`,`select`)
									span.col-6
										label
											+input(`Гача`,`select`)
						+input(`Толиқ иш куни`,`select`,`Иш графиги`)
					.form-wrap__textarea-wrap.form-group
						label
							span.form-wrap__input-title Батафсил тавсиф
							textarea.form-wrap__input.form-control(name="textarea" rows="6" cols="50" placeholder='Кунига 3 марта сигирларни бевосита соғиш. Сигирларни парвариш қилиш — қўшиқ айтиш, овқатни тарқатиш, гўнгни тозалаш. Агрофирма "Ариант" - Урал вилоятида гўшт маҳсулотлари ишлаб чиқариш учун енг йирик агросаноат холдинг компанияси. Россияда саноатнинг ўнта раҳбарларидан бири. Вертикал интеграциялашган холдинг')
					.map-wrapper
						+input(`Тошкент, Ўзбекистон, 15, Бектемир тумани, Олим Оширов даҳа,`,`text`,`Манзил`, 'address')
						#map
							iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8981.093516180676!2d37.61745250750734!3d55.75375308504574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5a738fa419%3A0x7c347d506b52311f!2z0JrRgNCw0YHQvdCw0Y8g0J_Qu9C-0YnQsNC00Yw!5e0!3m2!1sru!2sru!4v1645091525105!5m2!1sru!2sru' style='border:0; width: 100%;height: 240px;' allowfullscreen='' loading='lazy')
						p.map-desc Перетащите метку на карте или напишите ваш точный адрес.
					.group-radio
						+in-c(`radio`, `Фаол`)
						+in-c(`radio`, `Фаол эмас`)
				.custom-form__btn-wrap
					button.btn.btn-primary Жойлаш

mixin sForm6()
	+b.vacancy-form.section(id="form")
		.container
			+form-wrap
				h2 Резуме жойлаш
				.row
					.col-lg-8
						+input(`Лавозимни номини киритинг`,`text`,`Лавозимни киритинг`, 'text')
						.row
							.col-lg-6
								+input(`Ташкилот номини киритинг`,`text`,`Исм`, 'text')
							.col-lg-6
								+input(`Ташкилот номини киритинг`,`text`,`Фамилия`)
						+input(`Мисол 5 йил`,`select`,`Тажрибаси  ( йил )`)
					.col-lg-4
						+input(`Ойлик маошни киритинг`,`text`,`Ойлик маош(Сўм)`, 'text')
						+input(`Ўрта маҳсус`,`select`,`Маълумоти`)
						+input(`Толиқ иш куни`,`select`,`Иш графиги`)
					.form-wrap__textarea-wrap.form-group
						label
							span.form-wrap__input-title Батафсил тавсиф
							textarea.form-wrap__input.form-control(name="textarea" rows="6" cols="50" placeholder='Кунига 3 марта сигирларни бевосита соғиш. Сигирларни парвариш қилиш — қўшиқ айтиш, овқатни тарқатиш, гўнгни тозалаш. Агрофирма "Ариант" - Урал вилоятида гўшт маҳсулотлари ишлаб чиқариш учун енг йирик агросаноат холдинг компанияси. Россияда саноатнинг ўнта раҳбарларидан бири. Вертикал интеграциялашган холдинг')
					.map-wrapper
						+input(`Тошкент, Ўзбекистон, 15, Бектемир тумани, Олим Оширов даҳа,`,`text`,`Манзил`, 'address')
						#map(style="width:100%;height:240px;")
						p.map-desc Перетащите метку на карте или напишите ваш точный адрес.
					.group-radio
						+in-c(`radio`, `Фаол`)
						+in-c(`radio`, `Фаол эмас`)
				.custom-form__btn-wrap
					button.btn.btn-primary Жойлаш

mixin sFormConsulting()
	.webform-consulting.row
		h4 Шахсий маълумотларингизни киритинг
		.col-lg-6
			+input("",'text','Исм *')
			+input("",'text','Фамилия *')
			+input("",'text','Мутаҳасислиги')
			.file-download.form-wrap__input-wrap.form-group
				label Файл бириктириш
				input.form-wrap__input.form-control(name="file" type="file")
		.col-lg-6
			+input("","textarea","Хизматлар рўйхати (Бошқа хизматларни киритинг)")

mixin sFormTabbedDates()
	.dates-form-region
		h4 Ҳафта кунлари ва иш соатингизни киритинг
		.tabs-region
			.date-tabs
				label(for="tab-btn-individual").custom-input.form-check
					input(type="radio" name="tab-btn" id="tab-btn-individual" value="" checked).custom-input__input.form-check-input
					span.custom-input__text.form-check-label Индивидуал созлама
				label(for="tab-btn-schedule").custom-input.form-check
					input(type="radio" name="tab-btn" id="tab-btn-schedule" value="").custom-input__input.form-check-input
					span.custom-input__text.form-check-label Тизмли созлама
			.tab-content-individual.active
				+sDatesIndividual()
			.tab-content-schedule
				+sDatesSchdule()

mixin sFormAgroservice()
	+b.agroservice-form.section#form
		+form-wrap
			+e.step-wrapper
				h2 Хизматни улаш жуда осон
				+e.step-form
					.step.active
						.count 1
						.desc Фойдаланишни бошлаш учун сўров қолдиринг
					.step.active.last
						.count 2
						.desc Харажатларни ҳисобланг таҳлил ва веб-сайтида тўлаш
					.step
						.count 3
						.desc С вами свяжется менеджер для подключения
					.step
						.count 4
						.desc С вами свяжется менеджер для подключения
			+e.form-sector(id="formSector")
				.name Уланиш учун сўров қолдиринг
				.text Барча савол ва мурожаатлар бўйича сўровингизни қолдиринг ва бизнинг мутаҳасислар сиз билан алоқага чиқишади
				+e.webform-wrapper
					.row
						.image.col-lg-6
							+pic('service-webform-image.png','bg',0)
						.form-group.col-lg-6
							+in-c('radio','Стандарт',name="tarif")(id="standart")
							+in-c('radio','Оптимал',name="tarif")(id="optimal")
							+in-c('radio','Максимум',name="tarif")(id="maximum")
							+input(``,`text`,`Тариф`)
							+input(``,`text`,`Исм`)
							+input(``,`text`,`Фамилия`)
							+input(``,`text`,`E-mail`)
							+input(``,`tel`,`Телефон рақами`)
							+e.btn-wrap
								a(href="#").btn.btn-primary Кейингиси

mixin sFormAgroservice2()
	+b.agroservice-form.section#form
		+form-wrap
			+e.step-wrapper
				h2 Хизматни улаш жуда осон
				+e.step-form
					.step.active
						.count 1
						.desc Фойдаланишни бошлаш учун сўров қолдиринг
					.step.active
						.count 2
						.desc Харажатларни ҳисобланг таҳлил ва веб-сайтида тўлаш
					.step.active.last
						.count 3
						.desc С вами свяжется менеджер для подключения
					.step
						.count 4
						.desc С вами свяжется менеджер для подключения
			+e.form-sector(id="formSector")
				.name Уланиш учун сўров қолдиринг
				.text Барча савол ва мурожаатлар бўйича сўровингизни қолдиринг ва бизнинг мутаҳасислар сиз билан алоқага чиқишади
				+e.webform-wrapper
					.row
						.image.col-lg-6
							+pic('service-webform-image.png','bg',0)
						.form-group.col-lg-6
							+in-c('radio','Стандарт',name="tarif")(id="standart")
							+in-c('radio','Оптимал',name="tarif")(id="optimal")
							+in-c('radio','Максимум',name="tarif")(id="maximum")
							+input(``,`text`,`Тариф`)
							+input(``,`text`,`Исм`)
							+input(``,`text`,`Фамилия`)
							+input(``,`text`,`E-mail`)
							+input(``,`tel`,`Телефон рақами`)
							+e.btn-wrap
								a(href="#").btn.btn-primary Кейингиси

mixin sFormAgroservice3()
	+b.agroservice-form.section#form
		+form-wrap
			+e.step-wrapper
				h2 Хизматни улаш жуда осон
				+e.step-form
					.step.active
						.count 1
						.desc Фойдаланишни бошлаш учун сўров қолдиринг
					.step.active
						.count 2
						.desc Харажатларни ҳисобланг таҳлил ва веб-сайтида тўлаш
					.step.active
						.count 3
						.desc С вами свяжется менеджер для подключения
					.step.active.last
						.count 4
						.desc С вами свяжется менеджер для подключения
			+e.form-sector(id="formSector")
				.name Уланиш учун сўров қолдиринг
				.text Барча савол ва мурожаатлар бўйича сўровингизни қолдиринг ва бизнинг мутаҳасислар сиз билан алоқага чиқишади
				+e.webform-wrapper
					.row
						.image.col-lg-6
							+pic('service-webform-image.png','bg',0)
						.form-group.col-lg-6
							+in-c('radio','Стандарт',name="tarif")(id="standart")
							+in-c('radio','Оптимал',name="tarif")(id="optimal")
							+in-c('radio','Максимум',name="tarif")(id="maximum")
							+input(``,`text`,`Исм`)
							+input(``,`text`,`Фамилия`)
							+input(``,`text`,`E-mail`)
							+input(``,`tel`,`Телефон рақами`)
							+e.btn-wrap
								a(href="#").btn.btn-primary Кейингиси