mixin sOrderHead(b="Бекор қилиш ")
	// start sOrderHead
	+b.sOrderHead.section#sOrderHead&attributes(attributes)
		.container
			+e.inner
				.row
					.col-auto
						+e.back(href="#")
							+icon('arrow-left')
					.col-auto
						h1 № 210403-907701
					.col
						if block
							block
						else
							+e.status(style="--color:#7C7E80") Буюртма берилган
					.col-md-auto
						+e.btn(href="#")= b
	// end sOrderHead


mixin sOrderHeadSeller(data)
	// start sOrderHeadSeller
	+b.sOrderHead--seller.section#sOrderHead&attributes(attributes)
		.container
			+e.inner
				.row
					.col-auto
						+e.back(href="#")
							+icon('arrow-left')
					.col-auto
						h1= data.number
					.col.text-end.text-md-start
						if block
							block
						else
							+e.status(style=`--color:${data.color}`)= data.status
					if data.btn
						+e.col.col.text-center.text-md-end
							+e.btn(href="#")= data.btn
				if data.date
					+e.date.text-secondary.d-none.d-md-block= data.date
	// end sOrderHeadSeller