
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.form-data.h3.ttu Обратный звонок
				p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

			+input("Ваше Имя")(required)  
			+e.BUTTON.btn.btn(type="submit"  ) 
			+policy()
	// #modal-call
	+b.modal-win.text-center(id="modal-go-reg" class=" " style="display: none" )
		img(src="img/svg/home-icon.svg", loading="lazy"  alt="").w-100px.mx-auto
		br
		br
		br
		p.text-secondary Сотувни амалга ошириш учун тизмидан рўйхатдан ўтган болишингиз зарур
		br
		br
		br
		a.btn.btn-primary.w-190.mx-auto(href="#") Рўйхатдан ўтиш 
	// #modal-go-reg
	+b.modal-win.text-center(id="modal-view-order" class=" " style="display: none" )
		img(src="img/svg/basket-i.svg",  loading="lazy" alt="").w-100px.mx-auto
		br
		.h4.text-center Сизнинг буюртмангиз қабул қилинди
		br
		p.text-secondary Мутахассис буюртмани тасдиқлаш ва маълумотларни аниқлаштириш учун сизга мурожаат қилади
		br
		br
		br
		a.btn.btn-primary.w-190.mx-auto(href="#") Буюртмани кўриш
	// #modal-view-order
	+b.modal-win.text-center(id="modal-star" class=" " style="display: none" )
		img(src="img/svg/star-i.svg",  loading="lazy" alt="").w-100px.mx-auto
		br
		.h4.text-center Баҳолаш мезони
		br
		p.text-secondary Харид сизга мақул келган бўлса ўз&nbsp;баҳоингизни қолдиришингиз мумкин. Сизнинг баҳоингиз сотувчиларнинг рейтинги учун муҳимдир
		br
		+stars().--lg
		br
		br
		a.btn.btn-primary.w-190.mx-auto(href="#") Таййор
	// #modal-star

	+b.modal-win.text-center(id="modal-close-order" class=" " style="display: none" )
		img(src="img/svg/gift-1.svg",  loading="lazy" alt="").w-100px.mx-auto
		br
		.h4.text-center Буюртмани ёпиш
		br
		p.text-secondary Буюртмани ёпиш ҳақидаги сўровингиз харидор томонидан тасдиқлаганганидан сўнг қабул қилинади ва&nbsp;&laquo;Буюртма ёпилган&raquo; статусига ўзгаради
		br
		br
		a.btn.btn-primary.w-190.mx-auto(href="#") Тайёр
	// #modal-close-order
	

	+b.modal-win.text-center(id="modal-delete" class=" " style="display: none" )
		img(src="img/svg/delete.svg",  loading="lazy" alt="").w-100px.mx-auto
		br
		.h4.text-center Махсулот ўчириш хохлайсизми?
		br
		p.small.text-secondary Ўчирилган махсулот платформадан бутунлай олиб ташланади ва&nbsp;уни&nbsp;таҳрирлашнинг имкони бўлмайди
		br
		br
		a.btn.btn-primary.mx-auto(href="#") Махсулотни ўчириш
	// #modal-delte
	
	
	+b.form-wrap.modal-win(id="modal-online-consultant" class=" " style="display: none" ) 
		.h4.text-center Онлайн консултант ҳизмати 
		form
			+input("",'text','Исм *')
			+input("",'text','Фамилия *')
			+input("",'text','Мутаҳассислиги')
			+input("",'textarea','Биография')
			.p-4.bg-primary.text-start.mb-3(style="--bs-bg-opacity: .3;") Иш соатингиз ҳақидаги қисқача малумотни киритинг. Ҳафта кунлари ва соатларини кўрсатинг
			+input("",'text','Иш соати')
			.text-center
				button.btn.btn-primary(type="submit").w-190 Жўнатиш
	// #modal-online-consultant
	
	+b.form-wrap.modal-win(id="modal-online-consultant2" class=" " style="display: none" ) 
		.h4.text-center.mb-3 Онлайн консултант рад етиш
		form 
			.p-4.bg-primary.text-start.mb-3(style="--bs-bg-opacity: .3;") Илтимос, онлайн консултант ҳизматини рад етиш сабабини кўрсатинг
			+input("",'textarea') 
			.text-center
				button.btn.btn-primary(type="submit").w-190 Жўнатиш
	// #modal-online-consultant2
	
	+b.modal-avatar.form-wrap.modal-win(id="modal-online-consultant3" class=" " style="display: none" ) 
		+e.avatar.bg-wrap
			+icon('user') 
			+pic(`avatar-1.png`,'bg',0).picture-bg
		.h4.text-center.mb-3 Жамолива Гўзал
		+stars
		p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	// #modal-online-consultant3
	+b.form-wrap.modal-win(id="modal-online-consultant4" class=" " style="display: none" ) 
		.h4.text-center.mb-3 "Ветеринар" консултацияси учун видео сўров жўнатиш
		form 
			.p-4.bg-primary.text-start.mb-3(style="--bs-bg-opacity: .3;") Еслатиб ўтамиз, сизнинг аризангизни мутахассис томонидан кўриб чиқилгандан сўнг қабул қилинади
			+input("",'textarea','Илтимос, мурожаатингизнинг моҳиятини қисқача тасвирлаб беринг.') 
			+input("",'file')
			p.text-start.text-secondary.mb-4 Белгиланган вақт: 04.05.2021  11:30 - 12:00
			.text-center
				button.btn.btn-primary.w-190(type="submit") Жўнатиш
	// #modal-online-consultant4

	+b.form-wrap.modal-win.modal-win--status(id="modal-pa" class=" " style="display: none" ) 
		.h1.strong.mb-5 № 210403-907701 
		+b.modal-head.row
			.col-auto
				+e.img-wrap.bg-wrap(href="#")
						+pic("prod-2.jpg",'bg',0).picture-bg
			.col
				.fw-500 Шокиров Дилмурод
				div МЧЖ "Azia media"
				.toggle-modal-more Реквизиты
					+icon("chevron-down")
			.col-auto
				+e.btn-circle(href="#"): +icon("email-link")
			.col-auto
				+e.btn-circle(href="#"): +icon("phone-link")
		+b.block-more-info 
			.row
				.col-4 
					.text-secondary Вилоят
					p Самарқанд вилояти
				.col-8
					.text-secondary Банк МФО си
					p "Агробанк" аксиядорлик-тижорат банки»
				.w-100
				.col-4 
					.text-secondary Туман
					p Пастдарғом туман
				.col
					.text-secondary Хисоб рақами
					p 2223 1238 4568 1234 9963 
				.col-auto 
					.text-secondary СТИР
					p 154786022
				.col-12 
					.text-secondary Манзил
					p 43 Мукимий Кўчаси, Тошкент, Ўзбекистон, 100096-уй
		.text-secondary2.h4 Маҳсулот
		+b.prod-order-item
			.row
				.col-auto
					+e.img-wrap.bg-wrap(href="#")
						+pic("prod-2.jpg",'bg',0).picture-bg
				.col
					.fw-500 Крупногабаритная шина 45/65R45(1150/65R45) BKT EARTHMAX SR 53 L-5 ** CR 245 A2 ** TL
		table 
			tr 
				th Нархи (сум)	
				th 10 199 
			tr 
				td Миқдори
				td 1000 килограмм
			tr.h6.fw-400 
				td Жами
				td 31 944 889 сўм
		.row 
			.col-6 
				button.btn.btn-outline-primary.w-100  Бекор қилиш
			.col-6 
				button.btn.btn-primary.w-100  Қабул қилиш
	// #modal-pa

	+b.form-wrap.modal-win.modal-win--status(id="modal-pa2" class=" " style="display: none" ) 
		.h1.strong.mb-5 № 210403-907701 
		+b.modal-head.row
			.col-auto
				+e.img-wrap.bg-wrap(href="#")
						+pic("prod-2.jpg",'bg',0).picture-bg
			.col
				.fw-500 Шокиров Дилмурод
				div МЧЖ "Azia media"
				.toggle-modal-more Реквизиты
					+icon("chevron-down")
			//- .col-auto
			//- 	+e.btn-circle(href="#"): +icon("email-link")
			//- .col-auto
			//- 	+e.btn-circle(href="#"): +icon("phone-link")
		+b.block-more-info 
			.row
				.col-4 
					.text-secondary Вилоят
					p Самарқанд вилояти
				.col-8
					.text-secondary Банк МФО си
					p "Агробанк" аксиядорлик-тижорат банки»
				.w-100
				.col-4 
					.text-secondary Туман
					p Пастдарғом туман
				.col
					.text-secondary Хисоб рақами
					p 2223 1238 4568 1234 9963 
				.col-auto 
					.text-secondary СТИР
					p 154786022
				.col-12 
					.text-secondary Манзил
					p 43 Мукимий Кўчаси, Тошкент, Ўзбекистон, 100096-уй
		.text-secondary2.h4 Маҳсулот
		+b.prod-order-item
			.row
				.col-auto
					+e.img-wrap.bg-wrap(href="#")
						+pic("prod-2.jpg",'bg',0).picture-bg
				.col
					.fw-500 Крупногабаритная шина 45/65R45(1150/65R45) BKT EARTHMAX SR 53 L-5 ** CR 245 A2 ** TL
		table 
			tr 
				th Нархи (сум)	
				th 10 199 
			tr 
				td Миқдори
				td 1000 килограмм
			tr.h6.fw-400 
				td Жами
				td 31 944 889 сўм
		.row 
			.col-6 
				button.btn.btn-outline-primary.w-100  Написать сообщение
			.col-6 
				button.btn.btn-outline-primary.w-100 Позвонить
	// #modal-pa2



	+b.modal-win.text-center(id="modal-pa3" class=" " style="display: none" )
		img(src="img/svg/list.svg",  loading="lazy" alt="").w-100px.mx-auto
		br
		.h4.text-center Сизнинг аризангиз қабул қилинди
		br
		p.text-secondary Аризангиз moderator томонидан кўриб чиқилади
		br
		br
		b
		a.btn.btn-primary.w-190.mx-auto(href="#") Тайёр

	+b.modal-win.text-center(id="modal-user" class=" " style="display: none" )
		+icon("modal-users").w-100px.mx-auto
		br
		.h4.text-center Сиз мутаҳассис консултант сифатида рўяхатга олиндингиз
		br
		br
		br
		br
		a.btn.btn-primary.w-190.mx-auto(href="#") Кириш

	+b.modal-win.modal-work.text-center(id="modal-work" class=" " style="display: none" )
		.h4.text-center Иш соатигнизни хафта кунлари ва соатларини кўрсатинг
		.dates-wrapper
			.title-wrapper
				.row
					.title.col-6 Ҳафта кунлари
					.title.col-6 Иш соати
			.date.row
				.week.col-6
					label.custom-input.form-check
						input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
						span.check-label Душанба
				.from-to.col-6
					input(type="text" id="mon-from" name="from" placeholder="00:00")
					input(type="text" id="mon-to" name="from" placeholder="00:00")
			.date.row
				.week.col-6
					label.custom-input.form-check
						input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
						span.check-label Сешанба
				.from-to.col-6
					input(type="text" id="tue-from" name="from" placeholder="00:00")
					input(type="text" id="tue-to" name="from" placeholder="00:00")
			.date.row
				.week.col-6
					label.custom-input.form-check
						input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
						span.check-label Чоршанба
				.from-to.col-6
					input(type="text" id="thu-from" name="from" placeholder="00:00")
					input(type="text" id="thu-to" name="from" placeholder="00:00")
			.date.row
				.week.col-6
					label.custom-input.form-check
						input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
						span.check-label Пайшанба
				.from-to.col-6
					input(type="text" id="wen-from" name="from" placeholder="00:00")
					input(type="text" id="wen-to" name="from" placeholder="00:00")
			.date.row
				.week.col-6
					label.custom-input.form-check
						input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
						span.check-label Жума
				.from-to.col-6
					input(type="text" id="fri-from" name="from" placeholder="00:00")
					input(type="text" id="fri-to" name="from" placeholder="00:00")
			.date.row
				.week.col-6
					label.custom-input.form-check
						input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
						span.check-label Шанба
				.from-to.col-6
					input(type="text" id="sut-from" name="from" placeholder="00:00")
					input(type="text" id="sut-to" name="from" placeholder="00:00")
			.date.row
				.week.col-6
					label.custom-input.form-check
						input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
						span.check-label Якшанба
				.from-to.col-6
					input(type="text" id="sunday-from" name="from" placeholder="00:00")
					input(type="text" id="sunday-to" name="from" placeholder="00:00")
		.wrapper-links
			a.btn.btn-outline-primary.w-190.mx-auto(href="#") Орқага
			a.btn.btn-primary.w-190.mx-auto(href="#") Жўнатиш

	+b.modal-win.modal-video.text-center(id="modal-video" class=" " style="display: none" )
		.h4.text-center Керакли қурилмани танланг
		.content-wrapper
			+input('По умолчанию - Микрофон(HD pro Webcamc920','select',"")
			.progress-wrap
				span По умолчанию - Микрофон(HD pro Webcamc920)
				.progress
					.progress-bar(role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
			+input('HD pro Webcam c920','select',"")
			.video-wrapper
				+b.item-video(href="https://www.youtube.com/watch?v=KP09uMK-tho" data-fancybox)
					+e.DIV.img-wrap.bg-wrap
						+pic(`speaker_webcam.jpg`,'bg',0).picture-bg
			button.btn.btn-primary ok

	+b.modal-win.modal-archive-download.text-center(id="modal-archive-download" class=" " style="display: none" )
		+icon('download-modal').w-100px.mx-auto
		br
		br
		.h4.text-center Архивга қўшиш
		br
		p.text-secondary Маҳсулотингизни архивлаш орқали сиз маҳсулотингизни фаолсизлантиришингиз мумкин
		br
		br
		b
		a.btn.btn-primary.mx-auto(href="#") Архивлаш

	+b.modal-win.modal-archive-upload.text-center(id="modal-archive-upload" class=" " style="display: none" )
		+icon('upload-modal').w-100px.mx-auto
		br
		br
		.h4.text-center Архивдан чиқариш
		br
		p.text-secondary Маҳсулотларни арҳивдан чиқариш орқали сиз маҳсулотларингизни фаоллаштирасиз
		br
		br
		b
		a.btn.btn-primary.mx-auto(href="#") Арҳивдан чиқариш

	+b.modal-win.modal-archive-del.text-center(id="modal-archive-del" class=" " style="display: none" )
		+icon('delete-modal').w-100px.mx-auto
		br
		br
		.h4.text-center Махсулотларни ўчириш
		br
		p.text-secondary Ўчирилган махсулот платформадан бутунлай олиб ташланади ва уни таҳрирлашнинг имкони бўлмайди
		br
		br
		b
		a.btn.btn-primary.mx-auto(href="#") Махсулотларни ўчириш

	+b.form-wrap.modal-win.modal-work-time.text-center(id="modal-work-time" class=" " style="display: none" )
		form
			.row
				.self-info.col-md-6
					.h4 Шахсий маълумотларингизни киритинг
					+input("",'text','Исм *')
					+input("",'text','Фамилия *')
					+input("",'text','Мутаҳассислиги')
					+input("",'textarea','Биография')
					+input("",'file')
				.dates.col-md-6
					.h4 Ҳафта кунлари ва иш соатингизни киритинг
					.dates-wrapper
						.title-wrapper
							.row
								.title.col-6 Ҳафта кунлари
								.title.col-6 Иш соати
						.date.row
							.week.col-6
								label.custom-input.form-check
									input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
									span.check-label Душанба
							.from-to.col-6
								input(type="text" id="monday-from" name="from" placeholder="00:00")
								input(type="text" id="monday-to" name="from" placeholder="00:00")
						.date.row
							.week.col-6
								label.custom-input.form-check
									input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
									span.check-label Сешанба
							.from-to.col-6
								input(type="text" id="tuesday-from" name="from" placeholder="00:00")
								input(type="text" id="tuesday-to" name="from" placeholder="00:00")
						.date.row
							.week.col-6
								label.custom-input.form-check
									input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
									span.check-label Чоршанба
							.from-to.col-6
								input(type="text" id="thursday-from" name="from" placeholder="00:00")
								input(type="text" id="thursday-to" name="from" placeholder="00:00")
						.date.row
							.week.col-6
								label.custom-input.form-check
									input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
									span.check-label Пайшанба
							.from-to.col-6
								input(type="text" id="wednessday-from" name="from" placeholder="00:00")
								input(type="text" id="wednessday-to" name="from" placeholder="00:00")
						.date.row
							.week.col-6
								label.custom-input.form-check
									input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
									span.check-label Жума
							.from-to.col-6
								input(type="text" id="friday-from" name="from" placeholder="00:00")
								input(type="text" id="friday-to" name="from" placeholder="00:00")
						.date.row
							.week.col-6
								label.custom-input.form-check
									input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
									span.check-label Шанба
							.from-to.col-6
								input(type="text" id="suturday-from" name="from" placeholder="00:00")
								input(type="text" id="suturday-to" name="from" placeholder="00:00")
						.date.row
							.week.col-6
								label.custom-input.form-check
									input.custom-input__input.form-check-input(name="checkbox" type="checkbox")
									span.check-label Якшанба
							.from-to.col-6
								input(type="text" id="sun-from" name="from" placeholder="00:00")
								input(type="text" id="sun-to" name="from" placeholder="00:00")
				.wrapper-links
					a.btn.btn-primary.w-190.mx-auto(href="#") Жўнатиш

	+b.modal-win.text-center(id="modal-product" class="modal-product" style="display: none" )
		.head-sector
			.image-wrapper
				img(src="img/@2x/prod-slide.png" loading="lazy" , alt="")
			.title-wrapper
				h3 Бинафша Шоҳ Нўхати
				+e.price
					strong 3 290 сум
					span килограм
		.bottom-sector
			.label Тавсифи
			.description
				p Ўсимликнинг баландлиги 1 метрга етади, екиш пайтида уни зарур ишларни амалга ошириш керак.Озиқ-овқат маҳсулотларидан ташқари, нўхат жуда декоратив кўриришга ега бўлади. Узлуксиз ҳосилдорликни олиш учун тавсия етилади Ўсимликнинг баландлиги 1 метрга етади, екиш пайтида уни зарур ишларни амалга ошириш керак. Озиқ-овқат маҳсулотларидан ташқари, нўхат жуда декоратив кўриришга ега бўлади. Узлуксиз ҳосилдорликни олиш учун тавсия етилади. Озиқ-овқат маҳсулотларидан ташқари, нўхат жуда декоратив кўриришга ега бўлади. Узлуксиз ҳосилдорликни олиш учун тавсия етилади Ўсимликнинг баландлиги 1 метрга етади, екиш пайтида уни зарур ишларни амалга ошириш керак. Озиқ-овқат маҳсулотларидан ташқари, нўхат жуда декоратив кўриришга ега бўлади. Узлуксиз ҳосилдорликни олиш учун тавсия етилади Ўсимликнинг баландлиги 1 метрга етади, екиш пайтида уни зарур ишларни амалга ошириш керак.
		a.btn.btn-primary.w-190.mx-auto(href="#") Ёпиш
	// end modals