mixin agrojobsResume(data)
    // start agrojobsResume
    +b.SECTION.agrojobsResume.section#agrojobsResume&attributes(attributes)
        .container.wow.animate__fadeInUp
            +b.section-title.text-center
                h2 Сўнги жойланган резумелар
            +e.slider--js.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +e.item
                            +e.title-price
                                +e.prof Зоотехник
                                +e.price Ойлик кўрсатилмаган
                            +e.user
                                +pic('azimov','',0)
                                +e.name Азимов Сайфиддин
                            +e.options
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-scale")
                                    .info
                                        p
                                            strong Иш тажрибаси
                                        p 12 йил
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-briefcase")
                                    .info
                                        p
                                            strong Иш графиги
                                        p Толиқ иш куни
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-information")
                                    .info
                                        p
                                            strong Маълумоти
                                        p Олий маълумотли
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-address")
                                    .info
                                        p
                                            strong Манзил
                                        p Тошкент шаҳар, Чилонзор,
                                        p Муқумий кўчаси 4 - уй
                    .swiper-slide
                        +e.item
                            +e.title-price
                                +e.prof Жисмоний маданият бўйича катта ўқитувчи маданият
                                +e.price 12 000 000 &nbsp;
                                    span uzs
                            +e.user
                                +pic('azimov','',0)
                                +e.name Азимов Сайфиддин
                            +e.options
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-scale")
                                    .info
                                        p
                                            strong Иш тажрибаси
                                        p 12 йил
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-briefcase")
                                    .info
                                        p
                                            strong Иш графиги
                                        p Толиқ иш куни
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-information")
                                    .info
                                        p
                                            strong Маълумоти
                                        p Олий маълумотли
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-address")
                                    .info
                                        p
                                            strong Манзил
                                        p Тошкент шаҳар, Чилонзор,
                                        p Муқумий кўчаси 4 - уй
                    .swiper-slide
                        +e.item
                            +e.title-price
                                +e.prof Аграном
                                +e.price 5 000 000 &nbsp;
                                    span uzs
                            +e.user
                                +pic('azimov','',0)
                                +e.name Азимов Сайфиддин
                            +e.options
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-scale")
                                    .info
                                        p
                                            strong Иш тажрибаси
                                        p 12 йил
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-briefcase")
                                    .info
                                        p
                                            strong Иш графиги
                                        p Толиқ иш куни
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-information")
                                    .info
                                        p
                                            strong Маълумоти
                                        p Олий маълумотли
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-address")
                                    .info
                                        p
                                            strong Манзил
                                        p Тошкент шаҳар, Чилонзор,
                                        p Муқумий кўчаси 4 - уй
                    .swiper-slide
                        +e.item
                            +e.title-price
                                +e.prof Аграном
                                +e.price 5 000 000 &nbsp;
                                    span uzs
                            +e.user
                                +pic('azimov','',0)
                                +e.name Азимов Сайфиддин
                            +e.options
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-scale")
                                    .info
                                        p
                                            strong Иш тажрибаси
                                        p 12 йил
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-briefcase")
                                    .info
                                        p
                                            strong Иш графиги
                                        p Толиқ иш куни
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-information")
                                    .info
                                        p
                                            strong Маълумоти
                                        p Олий маълумотли
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-address")
                                    .info
                                        p
                                            strong Манзил
                                        p Тошкент шаҳар, Чилонзор,
                                        p Муқумий кўчаси 4 - уй
                    .swiper-slide
                        +e.item
                            +e.title-price
                                +e.prof Аграном
                                +e.price 5 000 000 &nbsp;
                                    span uzs
                            +e.user
                                +pic('azimov','',0)
                                +e.name Азимов Сайфиддин
                            +e.options
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-scale")
                                    .info
                                        p
                                            strong Иш тажрибаси
                                        p 12 йил
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-briefcase")
                                    .info
                                        p
                                            strong Иш графиги
                                        p Толиқ иш куни
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-information")
                                    .info
                                        p
                                            strong Маълумоти
                                        p Олий маълумотли
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-address")
                                    .info
                                        p
                                            strong Манзил
                                        p Тошкент шаҳар, Чилонзор,
                                        p Муқумий кўчаси 4 - уй
                +e.arrow-wrapper
                    +arrow
            +btn('Барча резюмелар', href)

    // end agrojobsResume

mixin agrojobsResume2(data)
    // start agrojobsResume
    +b.SECTION.agrojobsResume.section#agrojobsResume&attributes(attributes)
        .container.wow.animate__fadeInUp
            +b.section-title.text-center
                h2 Сўнги жойланган вакансиялар
            +e.slider--js.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +e.item
                            +e.title-price
                                +e.prof Зоотехник
                                +e.price Ойлик кўрсатилмаган
                            +e.user
                                +pic('azimov','',0)
                                +e.name Азимов Сайфиддин
                            +e.options
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-scale")
                                    .info
                                        p
                                            strong Иш тажрибаси
                                        p 12 йил
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-briefcase")
                                    .info
                                        p
                                            strong Иш графиги
                                        p Толиқ иш куни
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-information")
                                    .info
                                        p
                                            strong Маълумоти
                                        p Олий маълумотли
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-address")
                                    .info
                                        p
                                            strong Манзил
                                        p Тошкент шаҳар, Чилонзор,
                                        p Муқумий кўчаси 4 - уй
                    .swiper-slide
                        +e.item
                            +e.title-price
                                +e.prof Бош ветеринар муовини
                                +e.price 12 000 000 &nbsp;
                                    span uzs
                            +e.user
                                +pic('azimov','',0)
                                +e.name Азимов Сайфиддин
                            +e.options
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-scale")
                                    .info
                                        p
                                            strong Иш тажрибаси
                                        p 12 йил
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-briefcase")
                                    .info
                                        p
                                            strong Иш графиги
                                        p Толиқ иш куни
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-information")
                                    .info
                                        p
                                            strong Маълумоти
                                        p Олий маълумотли
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-address")
                                    .info
                                        p
                                            strong Манзил
                                        p Тошкент шаҳар, Чилонзор,
                                        p Муқумий кўчаси 4 - уй
                    .swiper-slide
                        +e.item
                            +e.title-price
                                +e.prof Аграном
                                +e.price 5 000 000 &nbsp;
                                    span uzs
                            +e.user
                                +pic('azimov','',0)
                                +e.name Азимов Сайфиддин
                            +e.options
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-scale")
                                    .info
                                        p
                                            strong Иш тажрибаси
                                        p 12 йил
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-briefcase")
                                    .info
                                        p
                                            strong Иш графиги
                                        p Толиқ иш куни
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-information")
                                    .info
                                        p
                                            strong Маълумоти
                                        p Олий маълумотли
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-address")
                                    .info
                                        p
                                            strong Манзил
                                        p Тошкент шаҳар, Чилонзор,
                                        p Муқумий кўчаси 4 - уй
                    .swiper-slide
                        +e.item
                            +e.title-price
                                +e.prof Аграном
                                +e.price 5 000 000 &nbsp;
                                    span uzs
                            +e.user
                                +pic('azimov','',0)
                                +e.name Азимов Сайфиддин
                            +e.options
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-scale")
                                    .info
                                        p
                                            strong Иш тажрибаси
                                        p 12 йил
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-briefcase")
                                    .info
                                        p
                                            strong Иш графиги
                                        p Толиқ иш куни
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-information")
                                    .info
                                        p
                                            strong Маълумоти
                                        p Олий маълумотли
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-address")
                                    .info
                                        p
                                            strong Манзил
                                        p Тошкент шаҳар, Чилонзор,
                                        p Муқумий кўчаси 4 - уй
                    .swiper-slide
                        +e.item
                            +e.title-price
                                +e.prof Аграном
                                +e.price 5 000 000 &nbsp;
                                    span uzs
                            +e.user
                                +pic('azimov','',0)
                                +e.name Азимов Сайфиддин
                            +e.options
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-scale")
                                    .info
                                        p
                                            strong Иш тажрибаси
                                        p 12 йил
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-briefcase")
                                    .info
                                        p
                                            strong Иш графиги
                                        p Толиқ иш куни
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-information")
                                    .info
                                        p
                                            strong Маълумоти
                                        p Олий маълумотли
                                .wrapper
                                    .icon-wrapper
                                        +icon("icon-address")
                                    .info
                                        p
                                            strong Манзил
                                        p Тошкент шаҳар, Чилонзор,
                                        p Муқумий кўчаси 4 - уй
                +e.arrow-wrapper
                    +arrow
            +btn('Барча резюмелар', href)

    // end agrojobsResume

mixin agrojobsCompanies(data)
    // start agrojobsCompanies
    +b.SECTION.agrojobsCompanies.section#agrojobsCompanies&attributes(attributes)
        .container.wow.animate__fadeInUp
            +b.section-title.text-center
                h2 Бизга ишонч билдирган компаниялар
            +e.slider--js.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +e.item
                            +pic('company1.png','',0)
                    .swiper-slide
                        +e.item
                            +pic('company2.png','',0)
                    .swiper-slide
                        +e.item
                            +pic('company3.png','',0)
                    .swiper-slide
                        +e.item
                            +pic('company4.png','',0)
                    .swiper-slide
                        +e.item
                            +pic('company1.png','',0)
                    .swiper-slide
                        +e.item
                            +pic('company2.png','',0)
                    .swiper-slide
                        +e.item
                            +pic('company3.png','',0)
                +e.arrow-wrapper
                    +arrow
            .container
                .swiper-pagination
    // end agrojobsCompanies