mixin legal-info(empty)
	// start legal-info
	if empty
		+b.legal-info-empty
				+e.wrapper
					+e.subtitle Юридик малумотлар
					p Маълумотлар тўлдирилмаган <br> Буюртма бериш учун сиз юридик маълумотларни кўрсатишингиз керак.
					+e.BUTTON.btn.btn.btn-primary Маълумот қўшиш
	else
		+b.legal-info-filled
			+e.subtitle Юридик малумотлар
			.row
				.col-md-6
					mixin item(h, t)
						+e.item
							+e.title= h
							+e.text= t
					+item(`Номи`, `Шокиров Дилмурод Асқарович `)
					+item(`Телефон рақами`, `+998974050002`)
					+item(`Вилоят`, `Самарқанд вилояти`)
					+item(`Туман`, `Пастдарғом туман`)
				.col-md-6
					+item(`Банк МФО си`, `"Агробанк" аксиядорлик-тижорат банки»`)
					+item(`Манзил`, `43 Мукимий Кўчаси, Тошкент, Ўзбекистон, 100096-уй`)
					+item(`СТИР`, `154786022`)
					+item(`Хисоб рақами`, `2223 1238 4568 1234 9963 `)
			+e.BUTTON.btn.btn.btn-primary Маълумотларни ўзгартириш

	// end legal-info