@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-accordeon {
	font-size:math.div(49,10)*1rem;
	width: math.div(50,49)*1em;
}
.icon-alert {
	font-size:math.div(22,10)*1rem;
	width: math.div(25,22)*1em;
}
.icon-arrow-download {
	font-size:math.div(16,10)*1rem;
	width: math.div(14,16)*1em;
}
.icon-arrow-left {
	font-size:math.div(25,10)*1rem;
	width: math.div(24,25)*1em;
}
.icon-bakalashka {
	font-size:math.div(61,10)*1rem;
	width: math.div(27,61)*1em;
}
.icon-bang {
	font-size:math.div(18,10)*1rem;
	width: math.div(15,18)*1em;
}
.icon-basket {
	font-size:math.div(18,10)*1rem;
	width: math.div(15,18)*1em;
}
.icon-basket-new {
	font-size:math.div(22,10)*1rem;
	width: math.div(22,22)*1em;
}
.icon-bell {
	font-size:math.div(22,10)*1rem;
	width: math.div(20,22)*1em;
}
.icon-camera {
	font-size:math.div(12,10)*1rem;
	width: math.div(18,12)*1em;
}
.icon-chat {
	font-size:math.div(11,10)*1rem;
	width: math.div(10,11)*1em;
}
.icon-chat-arrow {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-check {
	font-size:math.div(10,10)*1rem;
	width: math.div(14,10)*1em;
}
.icon-check-double-read {
	font-size:math.div(10,10)*1rem;
	width: math.div(17,10)*1em;
}
.icon-check-read {
	font-size:math.div(10,10)*1rem;
	width: math.div(13,10)*1em;
}
.icon-chevron-double-left {
	font-size:math.div(500,10)*1rem;
	width: math.div(375,500)*1em;
}
.icon-chevron-double-right {
	font-size:math.div(500,10)*1rem;
	width: math.div(375,500)*1em;
}
.icon-chevron-down {
	font-size:math.div(8,10)*1rem;
	width: math.div(12,8)*1em;
}
.icon-chevron-left {
	font-size:math.div(17,10)*1rem;
	width: math.div(9,17)*1em;
}
.icon-chevron-left-slider {
	font-size:math.div(22,10)*1rem;
	width: math.div(11,22)*1em;
}
.icon-chevron-right {
	font-size:math.div(12,10)*1rem;
	width: math.div(6,12)*1em;
}
.icon-chevron-right-slider {
	font-size:math.div(22,10)*1rem;
	width: math.div(11,22)*1em;
}
.icon-chevron-right2 {
	font-size:math.div(17,10)*1rem;
	width: math.div(10,17)*1em;
}
.icon-circle-time {
	font-size:math.div(34,10)*1rem;
	width: math.div(34,34)*1em;
}
.icon-clock {
	font-size:math.div(15,10)*1rem;
	width: math.div(15,15)*1em;
}
.icon-clock-2 {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-close {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-customer-service {
	font-size:math.div(43,10)*1rem;
	width: math.div(40,43)*1em;
}
.icon-delete {
	font-size:math.div(18,10)*1rem;
	width: math.div(17,18)*1em;
}
.icon-delete-modal {
	font-size:math.div(101,10)*1rem;
	width: math.div(91,101)*1em;
}
.icon-deliver-prod {
	font-size:math.div(17,10)*1rem;
	width: math.div(23,17)*1em;
}
.icon-deliver-prod2 {
	font-size:math.div(96,10)*1rem;
	width: math.div(129,96)*1em;
}
.icon-doctor {
	font-size:math.div(43,10)*1rem;
	width: math.div(34,43)*1em;
}
.icon-download {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-download-modal {
	font-size:math.div(110,10)*1rem;
	width: math.div(95,110)*1em;
}
.icon-download2 {
	font-size:math.div(11,10)*1rem;
	width: math.div(10,11)*1em;
}
.icon-duty-1 {
	font-size:math.div(58,10)*1rem;
	width: math.div(58,58)*1em;
}
.icon-duty-2 {
	font-size:math.div(58,10)*1rem;
	width: math.div(58,58)*1em;
}
.icon-duty-3 {
	font-size:math.div(58,10)*1rem;
	width: math.div(58,58)*1em;
}
.icon-duty-4 {
	font-size:math.div(58,10)*1rem;
	width: math.div(58,58)*1em;
}
.icon-duty-5 {
	font-size:math.div(58,10)*1rem;
	width: math.div(58,58)*1em;
}
.icon-duty-6 {
	font-size:math.div(53,10)*1rem;
	width: math.div(53,53)*1em;
}
.icon-edit {
	font-size:math.div(14,10)*1rem;
	width: math.div(14,14)*1em;
}
.icon-email {
	font-size:math.div(19,10)*1rem;
	width: math.div(23,19)*1em;
}
.icon-email-link {
	font-size:math.div(39.4,10)*1rem;
	width: math.div(45.4,39.4)*1em;
}
.icon-eye {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-eye-2 {
	font-size:math.div(13,10)*1rem;
	width: math.div(18,13)*1em;
}
.icon-eye2 {
	font-size:math.div(10,10)*1rem;
	width: math.div(15,10)*1em;
}
.icon-facebook {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-fb {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-file {
	font-size:math.div(60,10)*1rem;
	width: math.div(51,60)*1em;
}
.icon-filter-1 {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-filter-2 {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-filter-3 {
	font-size:math.div(16,10)*1rem;
	width: math.div(25,16)*1em;
}
.icon-filter-4 {
	font-size:math.div(16,10)*1rem;
	width: math.div(25,16)*1em;
}
.icon-filter-icon {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-full-time-job {
	font-size:math.div(43,10)*1rem;
	width: math.div(42,43)*1em;
}
.icon-handshake {
	font-size:math.div(24,10)*1rem;
	width: math.div(38,24)*1em;
}
.icon-handshake-prod {
	font-size:math.div(18,10)*1rem;
	width: math.div(20,18)*1em;
}
.icon-horizontal {
	font-size:math.div(19,10)*1rem;
	width: math.div(23,19)*1em;
}
.icon-icon-address {
	font-size:math.div(22,10)*1rem;
	width: math.div(18,22)*1em;
}
.icon-icon-archive {
	font-size:math.div(17,10)*1rem;
	width: math.div(17,17)*1em;
}
.icon-icon-basket {
	font-size:math.div(19,10)*1rem;
	width: math.div(18,19)*1em;
}
.icon-icon-box {
	font-size:math.div(14,10)*1rem;
	width: math.div(16,14)*1em;
}
.icon-icon-briefcase {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-icon-clock {
	font-size:math.div(7,10)*1rem;
	width: math.div(4,7)*1em;
}
.icon-icon-clockk {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-icon-convert {
	font-size:math.div(14,10)*1rem;
	width: math.div(17,14)*1em;
}
.icon-icon-convert-button {
	font-size:math.div(15,10)*1rem;
	width: math.div(19,15)*1em;
}
.icon-icon-delete {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-icon-doc {
	font-size:math.div(51,10)*1rem;
	width: math.div(45,51)*1em;
}
.icon-icon-docs {
	font-size:math.div(36,10)*1rem;
	width: math.div(30,36)*1em;
}
.icon-icon-edit {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-icon-edit-b {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-icon-files-delete {
	font-size:math.div(16,10)*1rem;
	width: math.div(17,16)*1em;
}
.icon-icon-img {
	font-size:math.div(48,10)*1rem;
	width: math.div(38,48)*1em;
}
.icon-icon-information {
	font-size:math.div(18,10)*1rem;
	width: math.div(16,18)*1em;
}
.icon-icon-pdf {
	font-size:math.div(36,10)*1rem;
	width: math.div(30,36)*1em;
}
.icon-icon-png {
	font-size:math.div(38,10)*1rem;
	width: math.div(38,38)*1em;
}
.icon-icon-scale {
	font-size:math.div(19,10)*1rem;
	width: math.div(18,19)*1em;
}
.icon-icon-user {
	font-size:math.div(17,10)*1rem;
	width: math.div(17,17)*1em;
}
.icon-icon-user-big {
	font-size:math.div(19,10)*1rem;
	width: math.div(19,19)*1em;
}
.icon-icon-user-cabinet {
	font-size:math.div(17,10)*1rem;
	width: math.div(16,17)*1em;
}
.icon-icon-video {
	font-size:math.div(14,10)*1rem;
	width: math.div(21,14)*1em;
}
.icon-icon-video-button {
	font-size:math.div(12,10)*1rem;
	width: math.div(18,12)*1em;
}
.icon-icon-xls {
	font-size:math.div(36,10)*1rem;
	width: math.div(30,36)*1em;
}
.icon-image-services {
	font-size:math.div(343,10)*1rem;
	width: math.div(417,343)*1em;
}
.icon-instagram {
	font-size:math.div(27,10)*1rem;
	width: math.div(28,27)*1em;
}
.icon-instagram2 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-like {
	font-size:math.div(14,10)*1rem;
	width: math.div(16,14)*1em;
}
.icon-like-link {
	font-size:math.div(14,10)*1rem;
	width: math.div(17,14)*1em;
}
.icon-list {
	font-size:math.div(68,10)*1rem;
	width: math.div(75,68)*1em;
}
.icon-logout {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-mark {
	font-size:math.div(14,10)*1rem;
	width: math.div(12,14)*1em;
}
.icon-menu {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-menu-i {
	font-size:math.div(17,10)*1rem;
	width: math.div(22,17)*1em;
}
.icon-modal-users {
	font-size:math.div(85,10)*1rem;
	width: math.div(85,85)*1em;
}
.icon-ok {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-online-chat {
	font-size:math.div(400,10)*1rem;
	width: math.div(400,400)*1em;
}
.icon-pay {
	font-size:math.div(10,10)*1rem;
	width: math.div(12,10)*1em;
}
.icon-pen {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-phone {
	font-size:math.div(20,10)*1rem;
	width: math.div(26,20)*1em;
}
.icon-phone-icon {
	font-size:math.div(10,10)*1rem;
	width: math.div(10,10)*1em;
}
.icon-phone-link {
	font-size:math.div(39.2,10)*1rem;
	width: math.div(41.2,39.2)*1em;
}
.icon-plus {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-plus-circle {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-plus-nocircle {
	font-size:math.div(15,10)*1rem;
	width: math.div(14,15)*1em;
}
.icon-pocket-prod {
	font-size:math.div(16,10)*1rem;
	width: math.div(17,16)*1em;
}
.icon-pribory {
	font-size:math.div(69,10)*1rem;
	width: math.div(60,69)*1em;
}
.icon-products {
	font-size:math.div(33,10)*1rem;
	width: math.div(32,33)*1em;
}
.icon-repost {
	font-size:math.div(15,10)*1rem;
	width: math.div(14,15)*1em;
}
.icon-search {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-search2 {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-share {
	font-size:math.div(26,10)*1rem;
	width: math.div(26,26)*1em;
}
.icon-shevron-right-sm {
	font-size:math.div(8,10)*1rem;
	width: math.div(4,8)*1em;
}
.icon-shipping {
	font-size:math.div(15,10)*1rem;
	width: math.div(15,15)*1em;
}
.icon-shopping-cart-outline {
	font-size:math.div(109,10)*1rem;
	width: math.div(109,109)*1em;
}
.icon-sosiska {
	font-size:math.div(50,10)*1rem;
	width: math.div(50,50)*1em;
}
.icon-star {
	font-size:math.div(34,10)*1rem;
	width: math.div(37,34)*1em;
}
.icon-telegram {
	font-size:math.div(27,10)*1rem;
	width: math.div(28,27)*1em;
}
.icon-telegram2 {
	font-size:math.div(21,10)*1rem;
	width: math.div(26,21)*1em;
}
.icon-telegram3 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-time {
	font-size:math.div(400,10)*1rem;
	width: math.div(400,400)*1em;
}
.icon-upload-modal {
	font-size:math.div(108,10)*1rem;
	width: math.div(94,108)*1em;
}
.icon-user {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-vertical {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-video {
	font-size:math.div(12,10)*1rem;
	width: math.div(18,12)*1em;
}
.icon-video-call {
	font-size:math.div(346.154,10)*1rem;
	width: math.div(400,346.154)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-warning {
	font-size:math.div(25,10)*1rem;
	width: math.div(24,25)*1em;
}
.icon-wett {
	font-size:math.div(30,10)*1rem;
	width: math.div(38,30)*1em;
}
.icon-wett2 {
	font-size:math.div(30,10)*1rem;
	width: math.div(38,30)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
