:root{
	--bs-primary-hover: #1ad278;
	--bs-primary-dark: rgba(0, 140, 72, 1);
	--circle-check: url("data:image/svg+xml,%3Csvg width='34' height='33' viewBox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.8242 0C7.71172 0 0.324219 7.3875 0.324219 16.5C0.324219 25.6125 7.71172 33 16.8242 33C25.9367 33 33.3242 25.6125 33.3242 16.5C33.3242 7.3875 25.9367 0 16.8242 0ZM23.9762 13.71C24.1079 13.5595 24.2082 13.3841 24.2711 13.1943C24.334 13.0044 24.3583 12.8039 24.3426 12.6045C24.3269 12.4051 24.2715 12.2108 24.1796 12.0332C24.0877 11.8555 23.9612 11.6981 23.8075 11.57C23.6539 11.442 23.4762 11.3459 23.2849 11.2876C23.0936 11.2292 22.8925 11.2097 22.6935 11.2302C22.4946 11.2507 22.3017 11.3108 22.1263 11.4069C21.9509 11.5031 21.7965 11.6333 21.6722 11.79L15.2222 19.5285L11.8847 16.1895C11.6018 15.9163 11.2229 15.7651 10.8296 15.7685C10.4363 15.7719 10.0601 15.9297 9.78199 16.2078C9.50388 16.4859 9.34612 16.8621 9.34271 17.2554C9.33929 17.6487 9.49048 18.0276 9.76372 18.3105L14.2637 22.8105C14.4111 22.9578 14.5876 23.0728 14.7818 23.1481C14.9761 23.2234 15.184 23.2574 15.3921 23.248C15.6003 23.2385 15.8042 23.1858 15.9908 23.0932C16.1775 23.0005 16.3428 22.8701 16.4762 22.71L23.9762 13.71Z' fill='%2300CD69'/%3E%3C/svg%3E%0A");
}
 .btn-success,
 .btn-primary
 {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);

}

.btn-outline-primary{
	border-color: var(--bs-primary);
	color: var(--bs-primary);
}
.btn-success,
.btn-primary,
.btn-outline-primary{
	box-shadow: none !important;
	&.active:hover,
	&:focus,
	&:active,
	&.active,
	&:hover {
		background-color: var(--bs-primary-hover) !important;
		border-color: var(--bs-primary-hover) !important;
		color: #fff;
	}

}
.sServicePurpose__img-wrap svg,
.sWarning__img-wrap svg,
.modal-win .w-100px.mx-auto{
	.st1,
	.st0,
	[stroke="#00CD69"],
	[stroke="#00CC69"]{
		stroke: var(--bs-primary) !important;
	}
	[fill="#00CD69"] {
		fill: var(--bs-primary) !important;

	}
}



.icon-like-link{
	[fill="#00CD69"]{
		fill: currentColor !important;
	}
	// fill: transparent;
	// stroke: currentColor;
	// stroke-width: 1px;
	path{
		&:nth-child(2){
			// display: none;
			opacity: var(--op, 0);
		}
	}
}


.avatar--empty{
	background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5 25.9995C22.1924 25.9995 24.375 23.8169 24.375 21.1245C24.375 18.4321 22.1924 16.2495 19.5 16.2495C16.8076 16.2495 14.625 18.4321 14.625 21.1245C14.625 23.8169 16.8076 25.9995 19.5 25.9995Z' stroke='%23C3CAD4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.5 6.5H16.25C15.819 6.5 15.4057 6.67121 15.101 6.97595C14.7962 7.2807 14.625 7.69402 14.625 8.125C14.625 8.98695 14.2826 9.8136 13.6731 10.4231C13.0636 11.0326 12.237 11.375 11.375 11.375H8.125C7.26305 11.375 6.4364 11.7174 5.8269 12.3269C5.21741 12.9364 4.875 13.763 4.875 14.625V29.25C4.875 30.112 5.21741 30.9386 5.8269 31.5481C6.4364 32.1576 7.26305 32.5 8.125 32.5H30.875C31.737 32.5 32.5636 32.1576 33.1731 31.5481C33.7826 30.9386 34.125 30.112 34.125 29.25V17.875' stroke='%23C3CAD4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M24.375 9.75H34.125' stroke='%23C3CAD4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M29.25 4.87549V14.6255' stroke='%23C3CAD4' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center center;
}

.swiper-pagination--custom{
		margin-top: rem(40);
		display: flex;
		align-items: center;
		justify-content: center;
		height: rem(14);
		.swiper-pagination-bullet {
			background-color: #afafaf;
			width: rem(10);
			height: rem(10);
			margin-left: rem(5);
			margin-right: rem(5);
			&-active {
				width: rem(14);
				height: rem(14);
				background-color: var(--bs-primary);
			}
	}
}

.bot-banner{
	background: var(--bg-banner, rgba(90, 182, 226, 0.2));
	border-radius: 8px;
	margin-bottom: rem(72);
	color: var(--color-banner, #4E7B92);
	padding-bottom: 7px;
	padding-left: rem(37);
	padding-right: rem(37);
	@include media-breakpoint-down(md) {
		img{
			max-width: 100%;
			height: auto;
		}
		text-align: center;
		padding-bottom: 30px;
		.row{
			justify-content: center;
		}
	}
	.row{
		align-items: center;
	}
	&__title{
		@include rfs(40px);
		font-weight: bold;
	}
	p{
		@include media-breakpoint-down(md){
			margin-left: auto;
			margin-right: auto;
		}
		@include rfs(20px);
		max-width: rem(410);
		margin-bottom: rem(25);
	}
	&__btn{
		@extend .btn, .btn-primary;
		width: 156px;
	}
}

[data-fancybox="modal"]{
	cursor: pointer;
}

.gy-52{
	--bs-gutter-y: 52px
}

.btn-white{
	background-color: #fff;
	border-color: #fff;
	color: var(--bs-primary);
}