
.theme-blue{
// body{
	$primary: #377BE1;
	--bs-primary: #{$primary};
	--bs-primary-hover: #5488D8;
	--bs-primary-rgb: 55, 123, 225; 
	// $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
	--hover-color: var(--bs-primary);
	--hover-bd: var(--bs-primary); 
	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--bs-primary-dark: #2a5daa;
	.sCategories{
		--hover-color: #fff;
		--hover-bg: var(--bs-primary);
	}

		--chevron-down-primary: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.49137 5.99797C5.30811 5.99836 5.13051 5.92865 4.98939 5.80093L0.283345 1.51743C0.12317 1.37202 0.022441 1.16306 0.00331894 0.936524C-0.0158031 0.70999 0.0482477 0.484437 0.181381 0.309485C0.314514 0.134532 0.505824 0.0245113 0.713224 0.00362514C0.920625 -0.017261 1.12713 0.0526984 1.2873 0.198113L5.49137 4.03613L9.69544 0.335186C9.77567 0.264023 9.86799 0.210881 9.96708 0.178813C10.0662 0.146745 10.1701 0.136385 10.2729 0.148326C10.3756 0.160268 10.4752 0.194276 10.5659 0.248397C10.6566 0.302518 10.7366 0.375685 10.8014 0.463691C10.8732 0.551778 10.9276 0.655119 10.9612 0.767238C10.9947 0.879358 11.0067 0.99784 10.9964 1.11526C10.9861 1.23268 10.9537 1.34652 10.9013 1.44963C10.8488 1.55273 10.7774 1.6429 10.6916 1.71447L5.98551 5.85233C5.84034 5.95986 5.66636 6.01114 5.49137 5.99797Z' fill='#{$primary}'/%3E%3C/svg%3E%0A");

		--input-time-bg: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0'?%3e%3csvg fill='#{$primary}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30px' height='30px'%3e%3cpath d='M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z'/%3e%3c/svg%3e");
		--circle-check: url("data:image/svg+xml,%3Csvg width='34' height='33' viewBox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.8242 0C7.71172 0 0.324219 7.3875 0.324219 16.5C0.324219 25.6125 7.71172 33 16.8242 33C25.9367 33 33.3242 25.6125 33.3242 16.5C33.3242 7.3875 25.9367 0 16.8242 0ZM23.9762 13.71C24.1079 13.5595 24.2082 13.3841 24.2711 13.1943C24.334 13.0044 24.3583 12.8039 24.3426 12.6045C24.3269 12.4051 24.2715 12.2108 24.1796 12.0332C24.0877 11.8555 23.9612 11.6981 23.8075 11.57C23.6539 11.442 23.4762 11.3459 23.2849 11.2876C23.0936 11.2292 22.8925 11.2097 22.6935 11.2302C22.4946 11.2507 22.3017 11.3108 22.1263 11.4069C21.9509 11.5031 21.7965 11.6333 21.6722 11.79L15.2222 19.5285L11.8847 16.1895C11.6018 15.9163 11.2229 15.7651 10.8296 15.7685C10.4363 15.7719 10.0601 15.9297 9.78199 16.2078C9.50388 16.4859 9.34612 16.8621 9.34271 17.2554C9.33929 17.6487 9.49048 18.0276 9.76372 18.3105L14.2637 22.8105C14.4111 22.9578 14.5876 23.0728 14.7818 23.1481C14.9761 23.2234 15.184 23.2574 15.3921 23.248C15.6003 23.2385 15.8042 23.1858 15.9908 23.0932C16.1775 23.0005 16.3428 22.8701 16.4762 22.71L23.9762 13.71Z' fill='#{$primary}'/%3E%3C/svg%3E%0A");

	.sProductsOnSite{
		background: #EBF2FC; 
	}
	
	 
}
