mixin sServicePurpose(data)
	// start sServicePurpose
	+b.SECTION.sServicePurpose.section#sServicePurpose&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sServicePurpose
				
			.row
	// end sServicePurpose