// start .sMessages
@use "sass:math";

.sChat {
	// --sPT: ;
	--sPB: 0;
	--sTPB: #{rem(22)};
	@include media-breakpoint-up(md) {
		--sTPB: #{rem(45)};
	}
	.section-title {
		h1 {
			margin-bottom: 0;
			font-weight: 500;
			line-height: math.div(37, 32);
			color: #000000;
			@include rfs(32px);
			@include media-breakpoint-up(xl) {
				font-size: rem(32);
			}
		}
	}
	&__inner {
		background: #ffffff;
		border-radius: 16px;
		@include media-breakpoint-up(sm) {
			border: 1px solid #e6e6e6;
			padding: rem(25);
		}
	}

	&__time {
		font-size: 12px;
		line-height: math.div(14, 12);
		color: #999999;
		margin-bottom: 1em;
		.icon{
				margin-left: rem(7);
				font-size: rem(10);
			}
	}

	&__all-messages {
		min-height: 600px;
		background-color: #f8f9fa;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		padding: rem(16) rem(8);
		@include media-breakpoint-up(sm) {
			padding: rem(16);
		}
		&--empty {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			&::before {
				content: "Хабар юбориш учун чатни танланг";
				font-size: rem(18);
			}
			.sChat__messages-body {
				display: none;
			}
			.sChat__input-wrap {
				display: none;
			}
		}
	}

	&__messages-body {
		flex-grow: 1;
	}

	&__message-wrap {
		margin-bottom: rem(14);
		
		&:last-child {
			margin-bottom: rem(25);
		}
		.sChat__message {
			padding: rem(12);
			box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.04);
			border-radius: 8px;
			.btn{
				.icon{
					font-size: 1em;
					margin-right: rem(10);
					position: relative;
					top: rem(-1);
				}
			}
			p.small{
				max-width: rem(240);
			}
			p {
				margin-bottom: rem(8);
			}
		}
		&--out {
			justify-content: flex-start;
			.sChat__message {
				background-color: $white;
				max-width: 305px;
				word-break: break-word;
				@include media-breakpoint-up(sm) {
					max-width: 340px;
				}
				p {
					color: $black;
				}
			}
		}
	
		&--in {
			display: flex;
			justify-content: flex-end;
			.sChat__message {
				background-color: #E6F2F8;
				max-width: 240px;
				text-align: right;
				word-break: break-word;
				@include media-breakpoint-up(sm) {
					max-width: 265px;
				}
				p {
					// color: $white;
				}
				.sChat__time {
					// color: #89ffc5;
				}
			}
		}
	}
	.form-group {
		position: relative;
		.form-control {
			padding: rem(9) rem(40) rem(8) rem(8);
		}
	}
	&__btn {
		@include a-cent(y);
		padding: rem(10);
		right: 0;
		border: none;
		outline: none;
		background-color: transparent;
		.icon {
			@include mt;
			font-size: rem(20);
		}
		&:hover {
			.icon {
				color: var(--bs-primary);
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sMessages
.sChat__messages-body{
	max-height: 500px;
	overflow-y: auto;
	position: relative;
	// padding-right: 0;
	padding-right: rem(15);
	@include media-breakpoint-up(lg) {
		
		margin-right: rem(-15);
	}
}
.all-users {
	overflow-x: hidden;
	padding-right: rem(15);
	@include media-breakpoint-up(lg) {
	margin-right: rem(-15);
	}
	max-height: 600px;
	overflow-y: auto;
	position: relative;
	@include media-breakpoint-down(sm) {
		--bs-gutter-x: #{rem(24)};
	}
	@include media-breakpoint-down(md) {
		--bs-gutter-x: #{rem(10.5)};
		list-style: none;
		h1 {
			font-weight: 500;
			line-height: math.div(28, 24);
			font-size: rem(24);
			margin-bottom: rem(40);
		}
		&__user {
			position: relative;
			display: block;
			padding: rem(13) 0;
			&::after {
				content: "";
				position: absolute;
				width: calc(100% + var(--bs-gutter-x) * 2);
				height: 0.5px;
				background-color: #e0e0e0;
				left: calc(-1 * var(--bs-gutter-x));
				bottom: 0;
			}
			&:last-of-type {
				&::after {
					display: none;
				}
			}

			&:hover {
				.all-users__name,
				.all-users__time {
					color: var(--bs-primary);
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__name {
			@include mt;
			display: block;
			font-size: 14px;
			line-height: 1;
			color: #000;
			margin-bottom: rem(6);
		}

		&__time {
			@include mt;
			display: block;
			font-size: 12px;
			line-height: math.div(14, 12);
			color: #999999;
			
		}
	}
	@include media-breakpoint-up(md) {
		&__name {
			@include mt;
			display: block;
			font-size: 14px;
			line-height: 1;
			color: #000;
			margin-bottom: rem(6);
			font-weight: bold;
		}

		&__time {
			@include mt;
			display: block;
			font-size: 12px;
			line-height: math.div(14, 12);
			color: #999999;
		}
		&__count{
			@include mt;
			position: absolute;
			@include a-cent(y);
			right: rem(5);

			width: rem(16px);
			height: rem(16px);
			background: #ed6262;
			border-radius: 50%;
			color: #fff;
			display: flex !important;
			justify-content: center;
			align-items: center;
			font-size: rem(10);
			font-weight: 500;
			text-align: center;
		}
		&__user {
			@include mt;
			display: block;
			padding: rem(8) rem(9);
			padding-right: rem(25);
			border-radius: 8px;
			margin-bottom: rem(8);
			width: 201px;
			cursor: pointer;
			position: relative;
			&:hover {
				box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.04);
				.all-users__name,
				.all-users__time {
					color: var(--bs-primary);
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			&.active {
				background-color: var(--bs-primary);
				box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.04);
				.all-users__name,
				.all-users__time {
					color: $white;
				}
			}
		}
	}
}


.download-media{
	margin-top: rem(20);
	.row{
		--bs-gutter-x: 10px;
		--bs-gutter-y: 10px;
		margin-bottom: 20px;
	}
	&__item{
		width: 46px;
		@include block;
		background: rgba(255, 255, 255, 0.3);
		@extend .text-secondary;
		&::after{
			content: '';
			@include a-cent1;
			width: 14px;
			height: 14px;
			background-color: #fff;
			border-radius: 50%;
			z-index: 1;
		}
		.icon{
			z-index: 2;
			@include a-cent1;
			font-size: 18px;
		}
		img{
			filter: blur(7px);
			// position: relative;
		}
/* Note: backdrop-filter has minimal browser support */
		// position: relative;
		overflow: hidden;
		border-radius: 5px;
	}
}

.w-100{
	width: 100%;
}

	.sChat__message{
		.stars{
			justify-content: center;
			display: flex;
			margin-bottom: 20px;
		}
		.icon-star{
			font-size: 32px;
			cursor: pointer;
			&:hover{
				fill: #f6c23d;
			}
		}
		.form-control{
			margin-bottom: 1rem;
		}
	}
	.sChat__message.bg-white{
		max-width: 100% !important;
	}
	.sChat__message--footer{
			margin-top: 10px;
		}

		.sChat__message--lg{
			background: #FFFFFF;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
			border-radius: 20px;
			max-width: 456px;
			padding: 37px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			textarea{
				height: 98px;
			}
			.btn{
				width: 100%;
				max-width: rem(235);
				margin-top: 37px;
			}
			.sChat__message__time{
				font-size: 14px;
				margin-bottom: 35px;
				color: #7C7E80;margin-top: 1rem;
			}
			.icon-star{
				font-size: 47px;
				margin-bottom: 30px;
			}
		}

		.alert-block{
			position: fixed;
			right: 15px;
			max-width: calc(100% - 15px);
			width: rem(383);
			top: 150px;

		}

		.alert-item{
			display: block;
			padding: 20px;
			padding-left: rem(54);
			display: block;
			background: #FFFFFF;
			border-radius: 14px;
			filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.15));
			margin-bottom: 38px;
			&__title{
				color: #3E3E3E;
				font-size: rem(18);
				display: block;
			}
			&__text{
				font-size: rem(14);
				color: rgba(62, 62, 62, 0.8);
				display: block;
			}
			&::before{
				content: '';
				width: 24px;
				height: 24px;
				border-radius: 50%;
				position: absolute;
				top: 25px;
				left: 16px;
				background-color: var(--alert-color, --bs-primary);
			}
		}