// start .sCategories
.sCategories {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	--sPT: #{rem(30)};
	--sPB: #{rem(30)};
	--sTPB: calc(#{rem(50)} / 2);
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
		--sTPB: #{rem(50)};
	}
	position: relative;
	overflow: hidden;
	.row {
		--bs-gutter-x: #{rem(22)};
		--bs-gutter-y: #{rem(22)};
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(30)};
			--bs-gutter-y: #{rem(30)};
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: $white;
		border-radius: $border-radius-lg;
		padding: rem(30) rem(22) rem(22);
		@include media-breakpoint-up(xl) {
			padding: rem(42) rem(29) rem(29);
		}
	}
	&__title {
		font-size: rem(18);
		line-height: 125%;
		color: $body-color;
		text-align: center;
	}

	&__img-wrap {
		--bs-text-opacity: .15;
		background-color:  rgba(var(--bs-primary-rgb),var(--bs-text-opacity));
		position: relative;
		min-width: 90px;
		min-height: 90px;
		border-radius: 50%;
		@include mt;
		margin-bottom: rem(22);
		@include media-breakpoint-up(lg) {
			min-width: 110px;
			min-height: 110px;
		}
		@include media-breakpoint-up(xl) {
			min-width: 122px;
			min-height: 122px;
			margin-bottom: rem(36);
		}
		svg,
		img {
			@include a-cent;
			max-width: 56px;
			max-height: 58px;
			@include mt;
			@include media-breakpoint-up(xl) {
				max-width: 75px;
				max-height: 77px;
			}
			[stroke="#00CD69"] {
				stroke: var(--bs-primary) !important;
			}
			.cls-1,
			[fill="#00cd69"],
			[fill="#00CD69"] {
				@include mt;
				fill: var(--bs-primary) !important;
			}
		}
	}
	&__item:hover &__img-wrap {
		background-color: var(--hover-bg, rgba(#e7a460, 0.15));
		svg {
			[stroke="#00CD69"] {
				stroke: var(--hover-color, #e7a460) !important;
			}
			.cls-1,
			[fill="#00cd69"],
			[fill="#00CD69"] {
				fill: var(--hover-color, #e7a460) !important;
			}
		}
	}

	&__slider {
		// padding-bottom: calc(var(--size));
		@include media-breakpoint-down(lg) {
			.row {
				// min-width: 967.44px;
				flex-wrap: nowrap;
			}
		}
		.sCategories__col {
			@include media-breakpoint-down(lg) {
				width: 238px;
			}
		}
		.swiper-wrapper {
			width: auto;
			margin-right: calc(-0.5 * var(--bs-gutter-x));
			margin-left: calc(-0.5 * var(--bs-gutter-x));
			margin-top: calc(-1 * var(--bs-gutter-y));
			display: flex;
			flex-flow: row wrap;
			@include media-breakpoint-up(lg) {
				transform: none !important;
			}
		}
		.swiper-slide {
			height: auto;
			border: 2px solid #e5e5e5;
			border-radius: $border-radius-lg;
			width: 23%;
			padding: 0;
			margin-right: 30px;
			transition: 0.3s;
			&:nth-child(4n - 4) {
				margin-right: 0;
			}
			&:hover {
				box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
			}
			@include media-breakpoint-down(xl) {
				margin-right: 25px;
			}
			@include media-breakpoint-down(lg) {
				&:nth-child(4n - 4) {
					margin-right: 30px;
				}
			}
		}
	}
	.btn-wrapper {
		text-align: center;
		margin-top: 35px;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCategories