mixin sCategories(data)
	// start sCategories
	+b.SECTION.sCategories.section#sCategories&attributes(attributes)
		.container
			+b.section-title.text-center(class="wow animate__fadeInUp"  )
				h2 Маҳсулот категориялари
			+e.slider--js
				.row.swiper-wrapper
					mixin item(i, t)
						+e.col.col-lg-3.swiper-slide(class="wow animate__fadeInUp" )
							+e.item(href='#' )
								+e.DIV.img-wrap
									img(src=`img/svg/categories-${i}.svg` alt="")
								+e.title!= t
					+item(1, `Уруғлар`)
					+item(2, `Агрохимия`)
					+item(3, `Ўғитлар`)
					+item("4_1", `Техника`)
	// end sCategories