mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock.bg-wrap&attributes(attributes)
		+pic('header-block-1.jpg','bg','').picture-bg
		
		.container
			+b.section-title
				h1 Ўз аграр бизнесингизни биз билан қуринг
				p Ҳамкорлар, дилерлар, етказиб берувчилар ва улгуржи харидорларни топиш учун ягона онлайн платформа
	// end headerBlock