mixin blockProfessions(data)
    +b.blockProfessions.section#blockProfessions&attributes(attributes)
        .section-title.text-center.wow.animate__fadeInUp
            h2 Касблар бўйича ишлар
        +e.region.wow.animate__fadeInUp
            +e.list
                +e.item
                    +e.icon-wrapper
                        +icon('prof1')
                    +e.info-wrap
                        +e.title Агроном
                        +e.count 158 &nbsp;
                            span та вакансиялар
                +e.item
                    +e.icon-wrapper
                        +icon('prof2')
                    +e.info-wrap
                        +e.title Тракторчи
                        +e.count 158 &nbsp;
                            span та вакансиялар
                +e.item
                    +e.icon-wrapper
                        +icon('prof3')
                    +e.info-wrap
                        +e.title Ветеринар
                        +e.count 158 &nbsp;
                            span та вакансиялар
                +e.item
                    +e.icon-wrapper
                        +icon('prof4')
                    +e.info-wrap
                        +e.title Агрохимик
                        +e.count 158 &nbsp;
                            span та вакансиялар
                +e.item
                    +e.icon-wrapper
                        +icon('prof5')
                    +e.info-wrap
                        +e.title Зоотехник
                        +e.count 158 &nbsp;
                            span та вакансиялар
                +e.item
                    +e.icon-wrapper
                        +icon('prof6')
                    +e.info-wrap
                        +e.title Сут соғиш мутаҳассиси
                        +e.count 158 &nbsp;
                            span та вакансиялар

mixin blockProfessions2(data)
    +b.blockProfessions.section#blockProfessions&attributes(attributes)
        .section-title.text-center.wow.animate__fadeInUp
            h2 Категория бўйича вакансиялар
        +e.region.wow.animate__fadeInUp
            +e.list
                +e.item
                    +e.icon-wrapper
                        +icon('prof1')
                    +e.info-wrap
                        +e.title Агроном
                        +e.count 158 &nbsp;
                            span та вакансиялар
                +e.item
                    +e.icon-wrapper
                        +icon('prof2')
                    +e.info-wrap
                        +e.title Тракторчи
                        +e.count 158 &nbsp;
                            span та вакансиялар
                +e.item
                    +e.icon-wrapper
                        +icon('prof3')
                    +e.info-wrap
                        +e.title Ветеринар
                        +e.count 158 &nbsp;
                            span та вакансиялар
                +e.item
                    +e.icon-wrapper
                        +icon('prof4')
                    +e.info-wrap
                        +e.title Агрохимик
                        +e.count 158 &nbsp;
                            span та вакансиялар
                +e.item
                    +e.icon-wrapper
                        +icon('prof5')
                    +e.info-wrap
                        +e.title Зоотехник
                        +e.count 158 &nbsp;
                            span та вакансиялар
                +e.item
                    +e.icon-wrapper
                        +icon('prof6')
                    +e.info-wrap
                        +e.title Сут соғиш мутаҳассиси
                        +e.count 158 &nbsp;
                            span та вакансиялар