mixin sUserInfo(accepted)
    // start sBiography
    +b.sUserInfo.section#sUserInfo&attributes(attributes)
        .list-a4
            +pic('agromarkaz-user.png', '', 0)
            .state
                .label Холати:
                if accepted
                    .info(style="color: #00CD69") Қабул қилинди
                if !accepted
                    .info(style="color: #ED6262") Рад етилди
            .date
                .label Жўнатилган вақти:
                .info 04.04.2022
            hr
            .label Исм:
            .info Sobirov
            .label Фамилия:
            .info Alisher
            .label Телефон рақами:
            .info +998974411213
            .label Манзил:
            .info 43 Muqimiy ko'chasi, Тошкент 100096
            .label Вилоят:
            .info Навоий тумани
            .label Туман:
            .info Навбахор тумани
            .label Хизмат тури:
            .info Этказиб бериш
            .label Сервислар:
            .info Мева-собзавотларни сотиб олиш, саралаш, қайта-ишлаш, қадоқлаш ҳамда сақлаш Мева-собзавотларни сотиб олиш, саралаш, қайта-ишлаш, қадоқлаш ҳамда сақлаш Мева-собзавотларни сотиб олиш, саралаш, қайта-ишлаш, қадоқлаш ҳамда сақлаш
            .label Хизмат тури:
            .info Тупроқ таҳлили ва агрокимёвий тадқиқотлар лабораторияси хизмати Тупроқ таҳлили ва агрокимёвий тадқиқотлар лабораторияси хизмати

mixin sUserInfo2(accepted)
    // start sBiography
    +b.sUserInfo.section#sUserInfo&attributes(attributes)
        .list-a4
            +pic('ferma-user.png', '', 0)
            .state
                .label Холати:
                if accepted
                    .info(style="color: #00CD69") Қабул қилинди
                if !accepted
                    .info(style="color: #ED6262") Рад етилди
            .date
                .label Жўнатилган вақти:
                .info 04.04.2022
            hr
            .label Исм:
            .info Sobirov
            .label Фамилия:
            .info Alisher
            .label Телефон рақами:
            .info +998974411213
            .label Манзил:
            .info 43 Muqimiy ko'chasi, Тошкент 100096
            .label Вилоят:
            .info Навоий тумани
            .label Туман:
            .info Навбахор тумани
            .label Хизмат тури:
            .info Этказиб бериш
            .label Сервислар:
            .info Мева-собзавотларни сотиб олиш, саралаш, қайта-ишлаш, қадоқлаш ҳамда сақлаш Мева-собзавотларни сотиб олиш, саралаш, қайта-ишлаш, қадоқлаш ҳамда сақлаш Мева-собзавотларни сотиб олиш, саралаш, қайта-ишлаш, қадоқлаш ҳамда сақлаш
            .label Хизмат тури:
            .info Тупроқ таҳлили ва агрокимёвий тадқиқотлар лабораторияси хизмати Тупроқ таҳлили ва агрокимёвий тадқиқотлар лабораторияси хизмати

mixin sUserInfo3(accepted)
    // start sBiography
    +b.sUserInfo.section#sUserInfo&attributes(attributes)
        .list-a4
            +pic('agrolab-user.png', '', 0)
            .state
                .label Холати:
                if accepted
                    .info(style="color: #00CD69") Қабул қилинди
                if !accepted
                    .info(style="color: #ED6262") Рад етилди
            .date
                .label Жўнатилган вақти:
                .info 04.04.2022
            hr
            .label Исм:
            .info Sobirov
            .label Фамилия:
            .info Alisher
            .label Телефон рақами:
            .info +998974411213
            .label Манзил:
            .info 43 Muqimiy ko'chasi, Тошкент 100096
            .label Вилоят:
            .info Навоий тумани
            .label Туман:
            .info Навбахор тумани
            .label Хизмат тури:
            .info Этказиб бериш
            .label Сервислар:
            .info Мева-собзавотларни сотиб олиш, саралаш, қайта-ишлаш, қадоқлаш ҳамда сақлаш Мева-собзавотларни сотиб олиш, саралаш, қайта-ишлаш, қадоқлаш ҳамда сақлаш Мева-собзавотларни сотиб олиш, саралаш, қайта-ишлаш, қадоқлаш ҳамда сақлаш
            .label Хизмат тури:
            .info Тупроқ таҳлили ва агрокимёвий тадқиқотлар лабораторияси хизмати Тупроқ таҳлили ва агрокимёвий тадқиқотлар лабораторияси хизмати