mixin sWhantToSell(data)
	// start sWhantToSell
	+b.SECTION.sWhantToSell.section#sWhantToSell&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sWhantToSell
				
			.row
	// end sWhantToSell