mixin sFilesDownload(data)
    +b.user-files.section#user-files&attributes(attributes)
        .h3 Бириктирилган файллар
        .files-wrapper
            .download-item
                .inner-wrapper
                    +pic("icon-png.png",'',0).icon-download
                    .name-files
                        .name Rezume.png
                        .weight 153KB
                a(href="#" download)
                    +icon("arrow-download")
            .download-item
                .inner-wrapper
                    +pic("icon-png.png",'',0).icon-download
                    .name-files
                        .name Rezume-new-2.png
                        .weight 153KB
                a(href="#" download)
                    +icon("arrow-download")
            .download-item
                .inner-wrapper
                    +pic("icon-xls.png",'',0).icon-download
                    .name-files
                        .name Маълумотнома.xls
                        .weight 153KB
                a(href="#" download)
                    +icon("arrow-download")
            .download-item
                .inner-wrapper
                    +pic("icon-pdf.png",'',0).icon-download
                    .name-files
                        .name Стаж маълумотнома.pdf
                        .weight 153KB
                a(href="#" download)
                    +icon("arrow-download")
            .download-item
                .inner-wrapper
                    +pic("icon-docs.png",'',0).icon-download
                    .name-files
                        .name Стаж малумотлари тўлиқ.doc
                        .weight 153KB
                a(href="#" download)
                    +icon("arrow-download")

mixin sFilesDownloadImages(data)
    +b.user-files.section#user-files&attributes(attributes)
        .h3 Бириктирилган файллар
        .files-wrapper
            .download-item
                .inner-wrapper
                    +pic("icon-png.png",'',0).icon-download
                    .name-files
                        .name movoo001.png
                        .weight 153KB
                a(href="#" download)
                    +icon("arrow-download")
            .download-item
                .inner-wrapper
                    +pic("icon-png.png",'',0).icon-download
                    .name-files
                        .name movoo001 - 2.jpg
                        .weight 153KB
                a(href="#" download)
                    +icon("arrow-download")
            .download-item
                .inner-wrapper
                    +pic("icon-png.png",'',0).icon-download
                    .name-files
                        .name movoo001 - 2.jpg
                        .weight 153KB
                a(href="#" download)
                    +icon("arrow-download")
            .download-item
                .inner-wrapper
                    +pic("icon-png.png",'',0).icon-download
                    .name-files
                        .name movoo001 - 2.jpg
                        .weight 153KB
                a(href="#" download)
                    +icon("arrow-download")
            .download-item
                .inner-wrapper
                    +pic("icon-png.png",'',0).icon-download
                    .name-files
                        .name movoo001 - 2.jpg
                        .weight 153KB
                a(href="#" download)
                    +icon("arrow-download")

mixin sFilesDownloadArchive(data)
    +b.user-files.section#user-files&attributes(attributes)
        .h3 Юкланган файллар
        .files-wrapper
            .download-item
                .inner-wrapper
                    +pic("icon-png.png",'',0).icon-download
                    .name-files
                        .name Rezume.png
                        .weight 153KB
                .button-wrapper
                    a(href="#" download)
                        +icon("arrow-download")
                    a(href="#" download)
                        +icon("icon-files-delete")
            .download-item
                .inner-wrapper
                    +pic("icon-png.png",'',0).icon-download
                    .name-files
                        .name Rezume-new-2.png
                        .weight 153KB
                .button-wrapper
                    a(href="#" download)
                        +icon("arrow-download")
                    a(href="#" download)
                        +icon("icon-files-delete")
            .download-item
                .inner-wrapper
                    +pic("icon-xls.png",'',0).icon-download
                    .name-files
                        .name Маълумотнома.xls
                        .weight 153KB
                .button-wrapper
                    a(href="#" download)
                        +icon("arrow-download")
                    a(href="#" download)
                        +icon("icon-files-delete")
            .download-item
                .inner-wrapper
                    +pic("icon-pdf.png",'',0).icon-download
                    .name-files
                        .name Стаж маълумотнома.pdf
                        .weight 153KB
                .button-wrapper
                    a(href="#" download)
                        +icon("arrow-download")
                    a(href="#" download)
                        +icon("icon-files-delete")
            .download-item
                .inner-wrapper
                    +pic("icon-docs.png",'',0).icon-download
                    .name-files
                        .name Стаж малумотлари тўлиқ.doc
                        .weight 153KB
                .button-wrapper
                    a(href="#" download)
                        +icon("arrow-download")
                    a(href="#" download)
                        +icon("icon-files-delete")