mixin aside(data)
	// start aside
	+b.ASIDE.aside.section.pt-0&attributes(attributes)
		+e.toggle-btn--js.btn.btn-outline-info.mb-3.w-100.d-lg-none Показать меню 
			span
		+e.toggle-block.d-lg-block 
				mixin item(t, ...items) 
					ul
						li: strong= t
						li.has-children
							ul
								each item in items
									li: a(href="#")= item
										span 999 
				+item("Сабзавот уруғлари","Бодринг ","Помидор  ","Карам  ","Сабзи ","Қалапмир")
				+item("Дуккакли уруғлар","Ловия","Нўхат","Ясмиқ ","Люпин","Фасол")
				+item("Дон уруғлари","Қишки буғдой ","Арпа ","Жавдар ","Юлаф ","Қорабуғдой  ")
				+item("Майса уруғлари","Газон ","Жўхори ","Доривор ўсимликлар ","Эм-хашак ўтлари  ")
				+item("Полиз екини уруғлари","Тарвуз ","Қовун ","Қовоқ")
	// end aside
mixin aside2(data)
	// start aside
	+b.ASIDE.aside.section.pt-0&attributes(attributes)
		+e.toggle-block-filter--js.d-lg-block 
				
				+e.filter-title-toggle--js.d-lg-none 
					span 
					| Фильтр
				mixin item(t, ...items)
					+b.filter-item
						+e.title--js= t
						+e.dropdown
							if block 
								block
							else
								ul
									each item in items
										li: a(href="#")= item
											span 999 
				+item("Сабзавот уруғлари","Бодринг ","Помидор  ","Карам  ","Сабзи ","Қалапмир")
				//- +item('Нарх, сўм')
				+b.filter-item
						+e.title Категория
						+e.dropdown
							ul
								li: a(href="#") Бодринг <span>304 </span>
								li: a(href="#") Карам <span>296 </span>
								li: a(href="#") Сабзи <span>173 </span>
								li: a(href="#") Қалампир <span>173 </span>
				+b.filter-item
						+e.title Нарх, сўм
						+e.dropdown
							.range-wrap
								<input class="range-slider slider-js" type="text" data-min="20" data-max="440000"/>
								.row
									.col-lg-12.col-6
										+input('4 566 сум').input_from
									.col-lg-12.col-6
										+input('15 588 сум').input_to
				+item('Мева рангиﬂ')
					+in-c('checkbox','Яшил <span class="filter-count">4</span>')
					+in-c('checkbox','Қизил   <span class="filter-count">296</span>')
					+in-c('checkbox','Сариқ  <span class="filter-count">173</span>')
					+in-c('checkbox','Жигарранг  <span class="filter-count">13</span>')
					+in-c('checkbox','Қора  <span class="filter-count">61</span>')
				+item('Экиш жойи')
					+in-c('checkbox','Исталган жой  <span class="filter-count">4</span>')
					+in-c('checkbox','Қисман соя/ қуёш  <span class="filter-count">6</span>')
					+in-c('checkbox','Қуёш  <span class="filter-count">3</span>')
					+in-c('checkbox','Қуёшли жой  <span class="filter-count">13</span>')
				+item('Участкага екиш  ')
					+in-c('checkbox','Апрель  <span class="filter-count">304</span>')
					+in-c('checkbox','Май  <span class="filter-count">296</span>')
					+in-c('checkbox','Июнь  <span class="filter-count">173</span>')
					+in-c('checkbox','Июль  <span class="filter-count">137</span>')
					+in-c('checkbox','Август  <span class="filter-count">130</span>')
				+item('Хосил йиғиш даври')
					+in-c('checkbox','Апрель  <span class="filter-count">304</span>')
					+in-c('checkbox','Май  <span class="filter-count">296</span>')
					+in-c('checkbox','Июнь  <span class="filter-count">173</span>')
					+in-c('checkbox','Июль  <span class="filter-count">137</span>')
					+in-c('checkbox','Август  <span class="filter-count">130</span>')
	// end aside