include ../sVideos/_sVideos.pug

mixin aside(data)
	// start aside
	+b.ASIDE.aside.section.pt-0&attributes(attributes)
		+e.heading
			h1 Уруғлар
			.text-secondary 211 маҳсулотлари 
		+e.toggle-btn--js.btn.btn-outline-success.mb-3.w-100.d-lg-none Показать меню 
			span
		+e.toggle-block.d-lg-block 
				mixin item(t, ...items) 
					ul
						li: strong= t
						li.has-children
							ul
								each item in items
									li: a(href="#")= item
										span 999 
				+item("Сабзавот уруғлари","Бодринг ","Помидор  ","Карам  ","Сабзи ","Қалапмир")
				+item("Дуккакли уруғлар","Ловия","Нўхат","Ясмиқ ","Люпин","Фасол")
				+item("Дон уруғлари","Қишки буғдой ","Арпа ","Жавдар ","Юлаф ","Қорабуғдой  ")
				+item("Майса уруғлари","Газон ","Жўхори ","Доривор ўсимликлар ","Эм-хашак ўтлари  ")
				+item("Полиз екини уруғлари","Тарвуз ","Қовун ","Қовоқ")
	// end aside
mixin aside2(data)
	// start aside
	+b.ASIDE.aside.section.pt-0&attributes(attributes)
		+e.toggle-block-filter--js.d-lg-block 
				
				+e.filter-title-toggle--js.d-lg-none 
					span 
					| Фильтр
				mixin item(t, ...items)
					+b.filter-item
						+e.title= t
						+e.dropdown.d-block
							if block 
								block
							else
								ul
									each item in items
										li: a(href="#")= item
											span 999 
				+item("Сабзавот уруғлари","Бодринг ","Помидор  ","Карам  ","Сабзи ","Қалапмир")
				//- +item('Нарх, сўм')
				+b.filter-item
						+e.title Категория
						+e.dropdown
							ul
								li: a(href="#") Бодринг <span>304 </span>
								li: a(href="#") Карам <span>296 </span>
								li: a(href="#") Сабзи <span>173 </span>
								li: a(href="#") Қалампир <span>173 </span>
				+b.filter-item
						+e.title Нарх, сўм
						+e.dropdown
							.range-wrap
								<input class="range-slider slider-js" type="text" data-min="20" data-max="440000"/>
								.row
									.col-lg-12.col-6
										+input('4 566 сум').input_from
									.col-lg-12.col-6
										+input('15 588 сум').input_to
				+item('Мева ранги')
					+in-c('checkbox','Яшил ')
					+in-c('checkbox','Қизил   ')
					+in-c('checkbox','Сариқ  ')
					+in-c('checkbox','Жигарранг ')
					+in-c('checkbox','Қора  ')
				+item('Экиш жойи')
					+in-c('checkbox','Исталган жой  ')
					+in-c('checkbox','Қисман соя/ қуёш ')
					+in-c('checkbox','Қуёш  ')
					+in-c('checkbox','Қуёшли жой ')
				+item('Участкага екиш  ')
					+in-c('checkbox','Апрель  ')
					+in-c('checkbox','Май  ')
					+in-c('checkbox','Июнь  ')
					+in-c('checkbox','Июль ')
					+in-c('checkbox','Август ')
				+item('Хосил йиғиш даври')
					+in-c('checkbox','Апрель  ')
					+in-c('checkbox','Май  ')
					+in-c('checkbox','Июнь  ')
					+in-c('checkbox','Июль ')
					+in-c('checkbox','Август ')
				.container-fluid.px-lg-0
					button.btn.btn-primary.w-100.my-2 Қидирув
					button.btn.btn-outline-primary.w-100.my-2 Филтрни ўчириш


mixin aside3(data)
	// start aside
	+b.ASIDE.aside.section.pt-0&attributes(attributes)
		.form-filter
			+e.toggle-btn--js.btn.btn-outline-success.mb-3.w-100.d-lg-none Показать меню
				span
			+e.toggle-block.d-lg-block
				+b.filter-item
					+e.title Ойлик
					+e.dropdown
						.range-wrap
							<input class="range-slider slider-js" type="text" data-min="20" data-max="440000"/>
							.row
								.col-lg-12.col-6
									+input('4 566 сум').input_from
								.col-lg-12.col-6
									+input('15 588 сум').input_to
				mixin item(t, ...items)
					ul
						li: strong= t
						li.has-children
							ul
								each item in items
									li: a(href="#")= item
				+item("Регион","Тошкент ","Андижон  ","Бухоро  ","Жиззах ","Қашқадарё","Навоий","Наманган","Самарқанд","Сурхондарё","Сирдарё","Хоразм","Қорақалпоғистон")
				+item("Иш графиги","Толиқ иш куни","Қисман иш куни","Мавсумий ","Амалиёт")
				+item("Иш тажрибаси","Муҳим емас","Ёш мутахассис (1-3 йил)","Мутахассис (3-6 йил)","Профессионал (6 йилдан ортиқ)")

mixin aside4(data)
	// start aside
	+b.ASIDE.aside.section.pt-0&attributes(attributes)
		+e.toggle-block-filter--js.d-lg-block

			+e.filter-title-toggle--js.d-lg-none
				span
				| Фильтр
			+b.filter-item
				+e.title.d-lg-none Каталог
				+e.dropdown
					+e.all-products Барча маҳсулотлар: &nbsp;
						span 21 235
					ul.catalog-items
						li
							a(href="#")
								span.icon-cat
									+icon("sosiska")
								span.name Қишлоқ хўжалиги ускуналари
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("bakalashka")
								span.name Тайёр маҳсулот
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("pribory")
								span.name Махсус ускуналар
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("sosiska")
								span.name Дон маҳсулотлари
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("bakalashka")
								span.name Агрокимё
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("pribory")
								span.name Қишлоқ хўжалиги ҳайвонлари
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("sosiska")
								span.name Ўсимликларни ҳимоя қилиш воситалари
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("bakalashka")
								span.name Фермер хўжалиги ускуналари
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("pribory")
								span.name Ўруғлар
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("sosiska")
								span.name Ветеринария
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("bakalashka")
								span.name Ўғитлар
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("pribory")
								span.name Озуқа
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("sosiska")
								span.name Боғ ва томорқа
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("bakalashka")
								span.name Рақамли ускуналар ва электроника
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("pribory")
								span.name Гаровга қуйилган мулк
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("sosiska")
								span.name Ёқилғи-мойлаш материаллари
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("bakalashka")
								span.name Иш юритиш материаллари
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("pribory")
								span.name Қурилиш материаллари
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("sosiska")
								span.name Қадоқлаш материаллари
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("bakalashka")
								span.name Махсус кийим
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("pribory")
								span.name Экиш материаллари
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("sosiska")
								span.name Мини-заводлар
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("bakalashka")
								span.name Резина-техник махсулотлар
								span
									+icon("chevron-right")
						li
							a(href="#")
								span.icon-cat
									+icon("pribory")
								span.name Эхтиёт қисмлар
								span
									+icon("chevron-right")
			+b.filter-item
				+e.title Ойлик
				+e.dropdown
					.range-wrap
						<input class="range-slider slider-js" type="text" data-min="20" data-max="440000"/>
						.row
							.col-lg-12.col-6
								+input('4 566 сум').input_from
							.col-lg-12.col-6
								+input('15 588 сум').input_to
			+b.filter-item
				+e.title Тўлов тури
				+e.dropdown
					+in-c('checkbox', 'Пул ўтказиш орқали')
					+in-c('checkbox', 'Нақт пул орқали')
					+in-c('checkbox', 'Карта орқали')
			+b.filter-item
				+e.title Этказиб бериш тури
				+e.dropdown
					+in-c('checkbox', 'Омборхонадан олиб кетиш')
					+in-c('checkbox', 'Ўзбекистон бўйлаб етказиб бериш')
			+b.filter-item
				+e.title.lg-up-hidden Этказиб бериш жойлари
				+e.dropdown
					select(id="regionsFilter" name="regionsFilter" multiple="multiple")
						option(value="Андижанская область") Андижанская область
						option(value="Бухарская область") Бухарская область
						option(value="Джизакская область") Джизакская область
						option(value="Кашкадарьинская область") Кашкадарьинская область
						option(value="Навоийская область") Навоийская область
						option(value="Наманганская область") Наманганская область
						option(value="Самаркандская область") Самаркандская область
			+b.filter-item
				+e.title Савдолашиш
				+e.dropdown
					+in-c('checkbox', 'Келишув асосида')
					+in-c('checkbox', 'Савдолашиш')
			+b.filter-item
				+e.title Худудлар
				+e.dropdown
					+in-c('checkbox', 'Андижон')
					+in-c('checkbox', 'Фарғона')
					+in-c('checkbox', 'Жиззах')
					+in-c('checkbox', 'Хоразм')
					+in-c('checkbox', 'Наманган')
					+in-c('checkbox', 'Навоий')
					+in-c('checkbox', 'Қашқадарё')
					+in-c('checkbox', 'Қорақалпоғистон')
					+in-c('checkbox', 'Самарқанд')
					+in-c('checkbox', 'Сирдарё')
					+in-c('checkbox', 'Сурхондарё')
					+in-c('checkbox', 'Тошкент')
	// end aside

mixin aside5(data)
	// start aside5
	+b.ASIDE.aside.section.pt-0.w-255&attributes(attributes)
		h2 Бошқа видеолар
		+sLibraryVideosVertical()

mixin aside6(data)
	// start aside5
	+b.ASIDE.aside.section.pt-0.w-255&attributes(attributes)
		h2 Бошқа мақолалар
		+sLibraryArticlesVertical()