mixin sAgrolab(data)
    // start sOurGoal
    div.agrolab.section#agrolab&attributes(attributes)
        .container
            .agro_content
                .row
                    .col-md-5
                        +pic("logo-agrolab.png",'bg',0).logo-agrolab.d-none.d-lg-block
                    .col-md-7
                        .wrapper
                            .h2.mb-3 Агролаб интенсив курслари
                            .desc Агролаб сервиси орқали сиз сифатли бўлган лобаратория хизматларидан фойдаланишингиз ва ўз тадқиқотларингизни ўтказишингиз мумкин
                            button.btn.btn-primary Сўровнома қолдириш