.agrolab {
  .agro_content {
    background: #D9F8E9;
    border-radius: 11px;
    padding: 58px 82px;
  }
  .col-md-5 {
    width: 38%;
  }
  .col-md-7 {
    width: 62%;
  }
  .logo-agrolab {
    width: 264px;
  }
  .wrapper {
    h2, .h2 {
      font-weight: 700;
      font-size: 40px;
    }
    .desc {
      font-size: 20px;
      line-height: 27.3px;
      margin-bottom: 34px;
    }
    .btn {
      font-weight: 400;
      white-space: nowrap;
    }
  }
}

@include media-breakpoint-down(lg) {
  .agrolab {
    .agro_content {
      padding: 10px 30px 40px;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .col-md-7, .col-md-5 {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .wrapper {
      h2, .h2 {
        font-size: 27px;
        margin-top: 25px;
      }
      .desc {
        font-size: 16px;
      }
    }
  }
}
.agroservice {
  .agro_content {
    background: linear-gradient(276.34deg, #E9FBFF 0%, #C5F4FF 100%);
    border-radius: 19px;
    padding: 55px 0 0 55px;
    overflow: hidden;
    @include media-breakpoint-down(lg) {
      padding: 30px;
    }
  }
  .wrapper {
    padding-bottom: 55px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 0;
      text-align: center;
    }
    h2, .h2 {
      font-weight: 700;
      font-size: 45px;
      line-height: 44.5px;
      @include media-breakpoint-down(md) {
        font-size: 27px;
        line-height: 25px;
      }
    }
    .desc {
      font-weight: 500;
      font-size: 20px;
      line-height: 19.5px;
      margin-bottom: 50px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
      }
    }
    .btn {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      min-width: 188px;
    }
  }
  .picture {
    align-items: flex-end;
    display: flex;
  }
}
.breadcrumbSection {
  background: rgba(62, 62, 62, 0.03);
  .breadcrumb {
    background: transparent;
    margin-bottom: 0;
  }
}
.agroserviceBanner {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  background: rgba(62, 62, 62, 0.03);
  .agro_content {
    padding: 0 1.2rem 55px;
    @include media-breakpoint-down(xl) {
      padding: 10px 1.2rem 55px;
    }
    @include media-breakpoint-down(lg) {
      padding: 10px 1.2rem 30px;
    }
    .row {
      align-items: flex-end;
    }
  }
  .wrapper {
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
    h2, .h2 {
      font-weight: 700;
      font-size: 43px;
      line-height: 42px;
      @include media-breakpoint-down(md) {
        font-size: 27px;
        line-height: 25px;
      }
    }
    .desc {
      font-size: 18px;
      color: #393939;
      line-height: 22px;
      margin-bottom: 25px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
      }
    }
    .btn {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      min-width: 188px;
    }
  }
  picture {
    width: 72%;
    float: right;
  }
}

.sLibraryBanner {
  padding-top: 0;
  .library_content {
    background: #D9D9D9;
    border-radius: 19px;
    overflow: hidden;
    position: relative;
    padding: 35px;
    @include media-breakpoint-up(lg) {
      min-height: 294px;
    }
    picture {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    > .row {
      position: relative;
      z-index: 1;
    }
    .content {
      color: white;
      .wrapper {
        @include media-breakpoint-down(lg) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      h2 {
        font-weight: 700;
        font-size: 43px;
        line-height: 42px;
        @include media-breakpoint-down(lg) {
          font-size: 30px;
          text-align: center;
        }
      }
      .btn {
        min-width: 188px;
      }
    }
  }
}