
extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/aside/_aside.pug
include ../blocks/sOrder/_sOrder.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWhantToSell/_sWhantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug

block variables
	- let  mainPage= null 
	- let  bg= '15.jpg'

block title
	- let  title= ' Саватча'
	title= title
block pagecontent


	.section.container
		mixin btn(a,t)
			a.btn.btn-primary.px-3.m-3(href= a  data-fancybox)= t
		+btn('#modal-go-reg','Рўйхатдан ўтиш')
		+btn('#modal-view-order','Буюртмани кўриш')

