extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWhantToSell/_sWhantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug
include ../blocks/sRegistration/_sRegistration.pug

block variables
	- let  mainPage= null 
	- let  bg= '03-registration.jpg'

block title
	- let  title= 'Рўйхатдан ўтиш'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+sRegistration()
	+footer()



