extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWantToSell/_sWantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug
include ../blocks/sWarning/_sWarning.pug

block variables
	- let  mainPage= null 
	//- - let  bg= '10-warning-no-app.jpg'

block title
	- let  title= 'Сизда E-IMZO дастури ўрнатилмаган'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+sWarning(`warning.svg`, `Сизда E-IMZO дастури ўрнатилмаган`, `Юридик маълумотларни киритиш учун Е-ИМЗО дастурини`, ` юклаб олинг`)
	+footer()



