extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWantToSell/_sWantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug
//- include ../blocks/legal-info/_legal-info.pug
include ../blocks/sPersonalAccount/_sPersonalAccount.pug
include ../blocks/sAboutStore/_sAboutStore.pug

block variables
	- let  mainPage= null 
	//- - let  bg= '13-1.jpg'

block title
	- let  title= 'Дўкон ҳақида'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine('comp')
		+top-nav('comp') 
	+breadcrumb('Асосий саҳифа', 'Кабинет', title)
	+sPersonalAccount()
		.row.row--main
			.col-lg.col--aside
				+b.UL.navigation.d-none.d-lg-block
					+e.LI.item: a(href="#") Юридик малумотлар
					+e.LI.item: a(href="#") Докон ҳақида
					+e.LI.item: a(href="#") Профиль
					+e.LI.item.active: a(href="#") Махсулотлар
						+e.SPAN.item-count 1
					+e.LI.item: a(href="#") Буюртмалар
						+e.SPAN.item-count 59
					+e.LI.item: a(href="#") Махсулот қўшиш
					+e.LI.item: a(href="#") Хабарлар
			.col-lg.col--main
				+sAboutStore()
	+footer()



