extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWhantToSell/_sWhantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug
//- include ../blocks/legal-info/_legal-info.pug
include ../blocks/sOrderHead/_sOrderHead.pug
include ../blocks/sProdHead/_sProdHead.pug
include ../blocks/sBasket/_sBasket.pug

block variables
	- let  mainPage= null 
	//- - let  bg= '13-personal-account.jpg'

block title
	- let  title= '№ 001-001'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	//- +breadcrumb('Асосий саҳифа', 'Кабинет', title)
	+sOrderHeadSeller({
		number:'№ 001-001',
		color:'#27B7D6',
		status:'Янги буюртма',
		})
	+sProdHeadSeller(`b`)
	+sBasket("order").--order
		+orderClosed({
		title:'Сотувчи ва харидор ортасида барча харидлар якунланганидан сўнг, Буюртмани ёпиш мумкин бўлади',
		label:'Буюртмани ёпиш',
		})
	+footer()



