extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWantToSell/_sWantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug
include ../blocks/sPersonalAccount/_sPersonalAccount.pug
include ../blocks/personal-info/_personal-info.pug
include ../blocks/legal-info/_legal-info.pug

block variables
	- let  mainPage= null 
	//- - let  bg= '13-personal-account.jpg'

block title
	- let  title= 'Кабинет'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа',title)
	+sPersonalAccount()
		+e.wrapper
			+e.heading
				+b.avatar
					img(src=`img/@2x/avatar.jpg`, alt="")
					+e.initials ШД
				h1 Шокиров <br> Дилмурод
			+b.UL.navigation
				+e.LI.item.active: a(href="#") Менинг малумотларим
				+e.LI.item: a(href="#") Менинг буюртмаларим
				+e.LI.item: a(href="#") Хабарлар
	+footer()



