extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWantToSell/_sWantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug
//- include ../blocks/legal-info/_legal-info.pug
include ../blocks/sOrderHead/_sOrderHead.pug
include ../blocks/sProdHead/_sProdHead.pug
include ../blocks/sBasket/_sBasket.pug

block variables
	- let  mainPage= null 
	//- - let  bg= '13-personal-account.jpg'

block title
	- let  title= '№ 001-001'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+top-nav-cabinet()
	//- +breadcrumb('Асосий саҳифа', 'Кабинет', title)
	+sOrderHeadSeller({
		number:'№ 001-001',
		color:'#00CC69',
		status:'Буюртма ёпилган',
		date:'29.04.2021',
		})
	+sProdHeadSeller()
	+sBasket("order").--order
		+orderClosed({
		title:`Ушбу буюртма харидор томинидан тасдиқиланган`,
		label:'Буюртма ёпилган',
		})(checked)
	+footer()



