extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/aside/_aside.pug
include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWhantToSell/_sWhantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug

block variables
	- let  mainPage= null 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Уруғлар'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа',title)
	+b.page-title
		.container
			.row
				.col-auto
					h1 Уруғлар
				.col-auto.pt-3
					.text-secondary 211 маҳсулотлари
	.container
		.row.row--main
			.col.col--aside
				+aside()
			.col.col--main
				+sCatalog()
			
	//- +headerBlock
	//- +sHowWorks
	//- +sAdvantages
	//- +sCategories
	//- +sPopulars
	//- +sWhantToSell
	//- +sAbout
	+footer()



