extends layout/main


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/aside/_aside
include ../blocks/sCatalog/_sCatalog
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWantToSell/_sWantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug

block variables
	- let  mainPage= 'catalog-page'
	//- - let  bg= '14.jpg'

block title
	- let  title= 'Каталог'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа', title)

	.container
		.row.row--main
			.side-catalog.col-lg.col--aside
				.head-row.row
					.col-auto.d-none.d-sm-block
						a.back(href="#").text-body
							+icon("chevron-left")
					.col
						.row
							.col-sm-12.col-auto
								h1.mb-0= title
				+aside4()
			.col-lg.col--main
				+sCatalog4()

	+footer()



