extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWantToSell/_sWantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug
//- include ../blocks/legal-info/_legal-info.pug
include ../blocks/sPersonalAccount/_sPersonalAccount.pug
//- include ../blocks/sChat/_sChat.pug

block variables
	- let  mainPage= null 
	//- - let  bg= '13-personal-account.jpg'

block title
	- let  title= 'Хабарлар'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа', 'Кабинет', title)
	+sPersonalAccount()
		+e.wrapper
			+b.all-users
				h1 Хабарлар
				mixin user(n, t)
					+e.user(href="#")&attributes(attributes)
						+e.name!= n
						+e.time!= t
				+user(`Шокиров Дилмурод`, `16:09 Сегодня`)
				+user(`АгроФерма`, `16:09 Сегодня`)
				+user(`ПомидорыИзТашкента`, `16:09 Сегодня`)
				+user(`УзбекистанскиеТовары`, `16:09 Сегодня`)
				+user(`Самид`, `16:09 Сегодня`)
				+user(`Марат`, `16:09 Сегодня`)
				+user(`Аршак`, `16:09 Сегодня`)
	+footer()




