extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWantToSell/_sWantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug
include ../blocks/sRegistration/_sRegistration.pug

block variables
	- let  mainPage= 'body-reg' 
	//- - let  bg= '03-registration.jpg'

block title
	- let  title= 'Рўйхатдан ўтиш'
	title= title
block pagecontent


	//- +mob-mnu()
	//- +header()
	//- 	+topLine()
	//- 	+top-nav()
	+b.SECTION.sRegistration.section.container#sRegistration&attributes(attributes)
			+e.logo-wrap.text-center
				a.logo(href="/")
					img(src="img/svg/logo.svg", alt="")
			+form-wrap
				h1.mb-2 Юридик маълумотлар
				p.text-secondary Компания малумотларни топиш учун <br> ИНН рақамини киритинг
				+input(`ИНН рақамини киритинг`, 'text', `ИНН`)  
				.row.text-start
					mixin item(t,p)
						.col-sm-6
							.text-secondary= t
							p= p
					+item(`Банкнинг тўлиқ номи`,`"Агробанк"аксиядорлик тижорат банки`)
					+item(`ОКПО`,`564784651321`)
					+item(`Юридик адрес`,`43 Мукимий Кўчаси, Тошкент, Ўзбекистон, 100096-уй`)
					+item(`Код ОПФ`,`152`)
					+item(`ИНН`,`1237484878`)
					+item(`Рўйхатдан ўтган вақти`,`2012.03.06`)
					+item(`МФО`,`00394`)
					+item(`Юридик шахс номи`,`ООО”Azia Media”`)
				.row.justify-content-center
					.col-auto
						+e.BUTTON.btn.btn.btn-outline-primary Ўтказиб юбориш
					.col-auto
						+e.BUTTON.btn.btn.btn-primary Сақлаш
				//- +e.footer 
				//- 	.text-secondary Мен савдо майдончасидан #[a.text-info(href="#") фойдаланиш шартлари] ва  #[a.text-info(href="#") қоидаларига] розиман
	//- +footer()



