extends layout/main.pug


include ../blocks/sAboutProject/_sAboutProject.pug
include ../blocks/sOurGoal/_sOurGoal.pug
include ../blocks/sOurDuty/_sOurDuty.pug
include ../blocks/sServicePurpose/_sServicePurpose.pug

block variables
	- let  mainPage= 'about-project'
	- let  bg= 'main.jpg'

block title
	- let  title= 'Лойиҳа ҳақида'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа', title)
	+sAboutProject()
	+sOurGoal()
	+sOurDuty()
	+sServicePurpose(`Хизмат кимлар учун?`)
		+card(`Сотувчилар учун`, `Ўз махсулотига ега бўлган, янги мижозлар орқали бизнесини ривожлантирмоқчи бўлган бизнес егалари ишлаб чиқарувчи корхоналар учун`, 1)
			+card-item(1, `Ўзингиз ва компаниянгиз ҳақида маълумотни тўлдиринг`)
			+card-item(2, `Маҳсулотингизни сайтга юкланг`)
			+card-item(3, `Савдо орқли фойдага ега бўлинг`)
		+card(`Харидорлар учун`, `Хар бир харидор ўзлари учун керакли бўлган махсулотни танлаб унга буюртма беришлари ва сотувчи билан ўзаро алоқа ўрнатишлари мумкин`, 2)
			+card-item(4, `Фермерлар ўз махсулотларини жойлаштирадилар`)
			+card-item(5, `Сиз керакли маҳсулотни танлайсиз`)
			+card-item(6, `Етказиб бериш ва вақти ҳақида келишиб оласиз`)
	+footer()



