extends layout/main.pug


//- include ../blocks/sAboutProject/_sAboutProject.pug
//- include ../blocks/sOurGoal/_sOurGoal.pug
//- include ../blocks/sOurDuty/_sOurDuty.pug
include ../blocks/sContent/_sContent.pug

block variables
	- let  mainPage= 'bg-only-mobile-gray'
	- let  bg= 'main.jpg'

block title
	- let  title= '"Унутилмас саёҳатни ютиб олинг"'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа', 'Янгиликлар', title)
	.container
		h1 "Унутилмас саёҳатни ютиб олинг"
	+sContent(1)
	//- +sOurGoal()
	//- +sOurDuty()
	
	+footer()



