extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWantToSell/_sWantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug
//- include ../blocks/legal-info/_legal-info.pug
include ../blocks/sPersonalAccount/_sPersonalAccount.pug
include ../blocks/sChat/_sChat.pug
include ../blocks/sNotifications/_sNotifications.pug

block variables
	- let  mainPage= 'page-cabinet' 
	//- - let  bg= '13-personal-account.jpg'

block title
	- let  title= '5.7 Онлайн консултант'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		//- +topLine()
		+top-nav-cabinet()
	+breadcrumb('Асосий саҳифа', 'Кабинет', title)
	+b.alert-block
		mixin item(t,c)
			+b.alert-item(href="#" style=`--alert-color:${c}`)
				+e.title= t
				+e.text Учрашув вақти: 04.01.2022  11:00 - 11:30
		+item("Сизнинг соровингиз қабул қилинди",'rgba(0, 205, 105, 0.5)')
		+item("Видео мулоқот вақти",'rgba(0, 111, 249, 0.5)')
		+item("Сизнинг соровингиз рад этилди",'rgba(237, 98, 98, 0.5)')
	+sPersonalAccount()
		.sChat__message.sChat__message--lg
			.h4 Консултант билан алоқа якунланди
			.sChat__message__time Суҳбат сиз учун манфатли бўлган бўлса, мутаҳассисни баҳолашингиз мумкин
			+stars
			+input("Изҳингизни қолдиринг",'textarea')
			button.btn.btn-primary(type="button") Оркага
	+sNotificationsScroll()
	+sNotifications()
	+footer()



