extends layout/main.pug


include ../blocks/sAboutProject/_sAboutProject.pug
include ../blocks/sOurGoal/_sOurGoal.pug
include ../blocks/sOurDuty/_sOurDuty.pug
include ../blocks/sServicePurpose/_sServicePurpose.pug

block variables
	- let  mainPage= 'about-project bg-white'
	- let  bg= 'main.jpg'

block title
	- let  title= 'Лойиҳа ҳақида'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа', title)
	+sAboutProject3()
	+sServicePurpose(`Биз ҳақимизда`) 
		.row.aligin-items-center.pt-4
			+e.col.col-lg-6.text-center
				img(src="img/svg/img-left2.svg", alt="")
			.col-lg-6.col-xl
				+e.card-content
					p “Ўсимликларни ҳимоя қилиш” интенсив ўқув курсларининг асосий мақсади — соҳадаги мутаҳассисларни қайта тайёрлаш ва уларга хорижий тажрибаларга асосланган энг сўнги замонавий билимларни бериш.
					a.btn.btn-primary.w-190(href="#")  Батафсил

	+sOurGoal()
	+sOurDuty3()
	+sForm3
	//- .section
	//- 	.container
	//- 		+b.bot-banner(style="--bg-banner: rgba(55, 123, 225, 0.25); --color-banner: #37474F;")
	//- 			.row
	//- 				.col-auto
	//- 					//- +pic('chat-bot.png','',0)
	//- 					img(src="img/svg/banner-2.svg", alt="")
	//- 				.col
	//- 					+e.title Лобаратория хизматлари
	//- 					p Агролаб сервиси орқали сиз сифатли бўлган лобаратория хизматларидан фойдаланишингиз ва ўз тадқиқотларингизни ўтказишингиз мумкин
	//- 					+e.btn(href="#") Батафсил
	//- +sServicePurpose(`Хизмат кимлар учун?`)
	//- 	+cardS(`Сотувчилар учун`, `Ўз махсулотига ега бўлган, янги мижозлар орқали бизнесини ривожлантирмоқчи бўлган бизнес егалари ишлаб чиқарувчи корхоналар учун`, 1)
	//- 		+card-item(1, `Ўзингиз ва компаниянгиз ҳақида маълумотни тўлдиринг`)
	//- 		+card-item(2, `Маҳсулотингизни сайтга юкланг`)
	//- 		+card-item(3, `Савдо орқли фойдага ега бўлинг`)
	//- 	+cardS(`Харидорлар учун`, `Хар бир харидор ўзлари учун керакли бўлган махсулотни танлаб унга буюртма беришлари ва сотувчи билан ўзаро алоқа ўрнатишлари мумкин`, 2)
	//- 		+card-item(4, `Фермерлар ўз махсулотларини жойлаштирадилар`)
	//- 		+card-item(5, `Сиз керакли маҳсулотни танлайсиз`)
	//- 		+card-item(6, `Етказиб бериш ва вақти ҳақида келишиб оласиз`)
	+footer()



