extends layout/main.pug

include ../blocks/sHeaderBanner/_sHeaderBanner.pug
include ../blocks/sAgroServices/_sAgroServices.pug

block variables
	- let  bg= 'main.jpg'

block title
	- let  title= 'Агрохизматлар'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav('logout')
	+breadcrumb('Асосий саҳифа', title)
	+sHeaderBannerService()
	+agroServicesTabs()
	+agroServicesAbout()
	+footer()
