extends layout/main.pug

include ../blocks/sHeaderBanner/_sHeaderBanner.pug
include ../blocks/sLibrary/_sLibrary.pug

block variables
	- let  bg= 'main.jpg'

block title
	- let  title= 'Медиабиблиотека'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа', title)
	+sHeaderBannerMediaLibrary()
	+sLibraryViews()
	+footer()
