extends layout/main.pug

include ../blocks/aside/_aside.pug
include ../blocks/sLibrary/_sLibrary.pug

block variables
	- let  bg= 'main.jpg'

block title
	- let  title= 'Фермер учун шошилинч харидлар: йил охиригача нима тўланади?'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа','Медиабиблиотека', 'Фан ва технология', title)
	.container
		.page-with-aside
			+mediaLibraryPageImage()
			+aside6()
	+footer()
