extends layout/main.pug

include ../blocks/sAgrolab/_sAgrolab.pug
include ../blocks/sLibrary/_sLibrary.pug

block variables
	- let  bg= 'main.jpg'

block title
	- let  title= 'Фан ва технология'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа','Медиабиблиотека', title)
	+sLibraryBanner()
	+mediaLibraryTabs()
	+footer()
