extends layout/main


include ../blocks/sForm/_sForm.pug

block variables
    - let  mainPage= 'vacancy-page'
    - let  bg= 'main.jpg'

block title
    - let  title= 'Резуме жойлаш'
    title= title
block pagecontent


    +mob-mnu()
    +header()
        +topLineAgrojobs()
        +topNavAgrojobs()

    +breadcrumb('Асосий саҳифа', 'Резумелар', title)

    +sForm8()

    +footer()