extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sPopulars/_sPopulars.pug
include ../blocks/sWantToSell/_sWantToSell.pug
include ../blocks/sHowWorks/_sHowWorks.pug
include ../blocks/sPartners/_sPartners.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+headerBlock
	+sHowWorks
	+sAdvantages
	+sCategories
	+sPopulars
	+sWantToSell
	+sPartners
	//- +sAbout
	+footer()



