// start .sCabinetOrders
@use "sass:math";

.sCabinetOrders {
	--sPT: 0;
	// --sPB: ;
	// --sTPB: ;
	.orders-item {
		&:last-child {
			margin-bottom: 0;
		}
		&.notification {
			border-color: var(--bs-primary);
		}
	}

	&--seller {
		.sCabinetOrders__heading {
			h1 {
				font-weight: bold;
				line-height: 116%;
				margin-bottom: rem(24);
				@include rfs(32);
				@include media-breakpoint-up(xl) {
					font-size: rem(32);
				}
			}
		}
		.form-select-filter {
			margin-bottom: rem(10);
		}
	}
	&--products {
		.sCabinetOrders__heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: rem(30);
			h1 {
				font-weight: bold;
				line-height: 116%;
				margin-bottom: 0;
				@include rfs(32);
				@include media-breakpoint-up(xl) {
					font-size: rem(32);
				}
			}
		}
		.sCabinetOrders__add-prod {
			@extend .btn, .btn-primary;
			// border: none;
			// outline: none;
			// background: none;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: rem(10) rem(22);
			// color: #3e3e3e;
			.icon {
				@include mt;
				font-size: rem(19);
				@include media-breakpoint-up(md) {
					font-size: rem(26);
				}
			}
			span {
				@include mt;
				font-weight: 500;
				font-size: rem(14);
				line-height: math.div(18, 16);
				margin-left: rem(4);
				@include media-breakpoint-up(md) {
					margin-left: rem(8);
					font-size: rem(16);
				}
			}
			&:hover,
			&:active {
				.icon {
					// color: var(--bs-primary);
				}
				span {
					// color: var(--bs-primary);
				}
			}
		}
		.orders-item__status {
			margin-bottom: rem(-20);
		}
		.orders-item__number {
			font-size: rem(12);
			line-height: 125%;
			color: #000000;
			margin-bottom: rem(7);
		}
		h5 {
			font-weight: bold;
			font-size: 18px;
			line-height: 21px;
			letter-spacing: 0.035em;
			margin-bottom: rem(8);
		}
		ul {
			margin-top: rem(28);
		}
	}


	&__head{
		& + table{

			margin-top: 36px;
		}
		.row{
			align-items: center;
		}
		.icon-menu-i{
			font-size: 17px;
			color: #393939;
			margin-right: rem(37);
		}
	}

	.page-numbers{
		justify-content: center;
	}




	&--base{
		border: 1px solid #E6E6E6; 
		border-radius: 12px;
	}
	&__head{
		// border-bottom: 1px solid #E6E6E6; 
		position: relative;
		.cabinetTab{

			padding-left: rem(14);
			padding-right: rem(14);
			padding-top: 27px;
			margin-bottom: 0; 
			& + .sCabinetOrders__input-wrap{
				@include media-breakpoint-up(lg){
		
					position: absolute;
					right: 14px;
					top: 14px;
					margin: 0;
				}
				margin: 15px 14px;
				
			}
		}
		.select-with-arrows{
			// margin-top: -15px;
		}
		margin-bottom: 0;
	}
	&__body{
		padding: 10px 14px;
		.pagination-wrapper{
			margin-top: 30px;
			padding-bottom: 50px;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
		table{
		width: 100%;
	}
} // end.sCabinetOrders

.orders-item {
	background: #ffffff;
	/* Серый/Серый */

	border: 1px solid #e6e6e6;
	border-radius: 12px;
	padding: rem(23) rem(25);
	margin-bottom: rem(24);
	@include mt;
	&:hover {
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
	}
	&__title {
		font-size: rem(18);
		font-weight: bold;
		margin-bottom: rem(10);
	}
	&__status {
		font-weight: 500;
		position: relative;
		padding-left: rem(20);
		&::before {
			content: "";
			width: rem(14);
			height: rem(14);
			border-radius: 50%;
			background-color: var(--color);
			display: block;
			left: 0;
			top: rem(4);
			position: absolute;
		}
	}
	&__number {
		font-size: 12px;
		margin-bottom: rem(16);
	}
	ul {
		margin-bottom: 0;
	}
	li {
		color: $black;
		list-style: none;
		margin-bottom: rem(5);
		&:last-child {
			margin-bottom: 0;
		}
		span {
			margin-right: rem(5);
		}
	}
	&__col {
		@include media-breakpoint-up(md) {
			width: calc(var(--bs-gutter-x) + 76px * 3);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;
			margin-top: 0;
		}
		margin-top: rem(28);
		.row {
			--bs-gutter-x: 8px;
		}
	}
	&__img-wrap {
		@include block;
		width: 68px;
		border-radius: 4px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: inset 0 0 0 2px #ced4da;
		color: #ced4da;
		font-size: rem(18);
		background-image: url(../img/svg/empty-img.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 80%;
		span {
			box-shadow: inset 0 0 0 2px #ced4da;
			border-radius: 4px;
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__btn {
		@extend .btn;
		width: rem(146);
		margin-top: 40px;
	}

}


.prod-line{
	&__img-wrap{
		@include block;
		width: 72px;
		border-radius: 8px;
		overflow: hidden;
	}
	tr{
		position: relative;
	}
	td{
		&:first-child{

			vertical-align: middle;
		}
		vertical-align: middle;
		@include media-breakpoint-down(md) {
			padding-right: 10px;
				vertical-align: top;
				padding-bottom: 39px;
				&:nth-last-child(2) ,
				&:nth-last-child(3) {
					display: none;
				}
			 
				&:nth-last-child(1){
					text-align: right;
				}
			
			}
		&:not(:last-child){
			
			padding-right: 15px;
		}
		&:nth-child(2){
			width: 87px;
		}
		&:nth-last-child(2){
			// padding-right: 10px;
		
		}
	}
		.row{
				justify-content: flex-end;
				flex-wrap: nowrap;
			}
	ul{
		max-width: rem(250);
	}
	li{
		list-style: none;
		display: inline-block; 
		margin-bottom: 7px;
		a{
			@extend .text-body;
			.icon{
				margin-left: rem(3);
				font-size: .8em;
				position: relative;
				top: rem(-1);
			}
		}
	}
	&__btn-circle{
		@extend .btn, .btn-outline-secondary-light;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		color: var(--bs-primary);
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon{

			margin: 0 !important;
			position: static !important;
			font-size: 12px;
			&-edit{
				stroke: currentColor;
				fill: none;
			}
		}
		position: relative;
		.tooltip{
			// opacity: 1;
			pointer-events: none;
			right: 5px;
			left: auto;
			top: 100%;
			&__inner{
				margin-top: 5px;
				background: #FFFFFF;
				box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
				padding: 5px 8px;
				color: #3E3E3E;
				position: relative;
				&::after,
				&::before{
					content: '';
					width: 6px;
					height: 6px;
					right: 6px;
					top: -3px;
					transform: rotate(45deg);
					position: absolute;
					
				}
				&::before{
					
					box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
					z-index: -1;
				}
				&::after{
					background: #FFFFFF;
		
				}
			}
		}
		&:hover{
			.tooltip{
				opacity: 1;
				pointer-events: all;
			}
		}
	}
}


.prod-order-item {
	border: 1px solid #E0E0E0;
	min-height: rem(93);
	@include mt;
	&:hover{

		box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
	}
	border-radius: 5px;
	padding: 14px 18px;
	margin-bottom: 12px;
	position: relative;
	padding-left: 98px;
	@include media-breakpoint-up(lg) {
		.row{
			align-items: center;
		}
	}
	&__img-wrap{
		top: 14px;
		@include block;
		width: 65px;
		border-radius: 8px;
		overflow: hidden;
		position: absolute;
		left: 14px;
	}
	&__status{
		padding: 3px 17px;
		color: #fff;
		font-size: 12px;
		background: var(--status-bg);
		border-radius: 5px;
		width: 121px;
	}
}