mixin sConsultant(data)
    div.SECTION.sConsultant.section#sConsultant&attributes(attributes)
        .con-items
            .con-item
                .image
                    +pic("avatar-2.png",'',0)
                .info
                    .name Собиров Алишер
                    .spec Аграном
                    a.btn.btn-primary Кириш
            .con-item
                .image
                    +pic("avatar-2.png",'',0)
                .info
                    .name Собиров Алишер
                    .spec Аграном
                    a.btn.btn-primary Кириш
            .con-item
                .image
                    +pic("avatar-2.png",'',0)
                .info
                    .name Собиров Алишер
                    .spec Аграном
                    a.btn.btn-primary Кириш
            .con-item
                .image
                .info
                    .name Собиров Алишер
                    .spec Аграном
                    a.btn.btn-primary Кириш

mixin sConsultantVideo(data)
    div.SECTION.sConsultantVideo.section#sConsultantVideo&attributes(attributes)
        .container
            .field-items
                .views-row
                    +b.item-video(href="https://www.youtube.com/watch?v=KP09uMK-tho" data-fancybox)
                        +e.DIV.img-wrap.bg-wrap
                            +pic(`speaker_webcam.jpg`,'bg',0).picture-bg
                        +e.title 06cb993b1946vx6556asx21asx5321as613123213568sfsfc15gvsd65sdc2vj_0.mp4
                    .date-repost
                        .date 04.01.2022 /11:30-12:00
                        a.btn.btn-outline-primary Поделиться
                            +icon('repost')
                .views-row
                    +b.item-video(href="https://www.youtube.com/watch?v=KP09uMK-tho" data-fancybox)
                        +e.DIV.img-wrap.bg-wrap
                            +pic(`speaker_webcam.jpg`,'bg',0).picture-bg
                        +e.title 06cb993b1946vx6556asx21asx5321as613123213568sfsfc15gvsd65sdc2vj_0.mp4
                    .date-repost
                        .date 04.01.2022 /11:30-12:00
                        a.btn.btn-outline-primary Поделиться
                            +icon('repost')
                .views-row
                    +b.item-video(href="https://www.youtube.com/watch?v=KP09uMK-tho" data-fancybox)
                        +e.DIV.img-wrap.bg-wrap
                            +pic(`speaker_webcam.jpg`,'bg',0).picture-bg
                        +e.title 06cb993b1946vx6556asx21asx5321as613123213568sfsfc15gvsd65sdc2vj_0.mp4
                    .date-repost
                        .date 04.01.2022 /11:30-12:00
                        a.btn.btn-outline-primary Поделиться
                            +icon('repost')
                .views-row
                    +b.item-video(href="https://www.youtube.com/watch?v=KP09uMK-tho" data-fancybox)
                        +e.DIV.img-wrap.bg-wrap
                            +pic(`speaker_webcam.jpg`,'bg',0).picture-bg
                        +e.title 06cb993b1946vx6556asx21asx5321as613123213568sfsfc15gvsd65sdc2vj_0.mp4
                    .date-repost
                        .date 04.01.2022 /11:30-12:00
                        a.btn.btn-outline-primary Поделиться
                            +icon('repost')
                .views-row
                    +b.item-video(href="https://www.youtube.com/watch?v=KP09uMK-tho" data-fancybox)
                        +e.DIV.img-wrap.bg-wrap
                            +pic(`speaker_webcam.jpg`,'bg',0).picture-bg
                        +e.title 06cb993b1946vx6556asx21asx5321as613123213568sfsfc15gvsd65sdc2vj_0.mp4
                    .date-repost
                        .date 04.01.2022 /11:30-12:00
                        a.btn.btn-outline-primary Поделиться
                            +icon('repost')
                .views-row
                    +b.item-video(href="https://www.youtube.com/watch?v=KP09uMK-tho" data-fancybox)
                        +e.DIV.img-wrap.bg-wrap
                            +pic(`speaker_webcam.jpg`,'bg',0).picture-bg
                        +e.title 06cb993b1946vx6556asx21asx5321as613123213568sfsfc15gvsd65sdc2vj_0.mp4
                    .date-repost
                        .date 04.01.2022 /11:30-12:00
                        a.btn.btn-outline-primary Поделиться
                            +icon('repost')
