mixin sConsultant(data)
    +b.SECTION.sConsultant.section#sConsultant&attributes(attributes)
        .con-items
            .con-item
                .image
                    +pic("avatar-2.png",'',0)
                .info
                    .name Собиров Алишер
                    .spec Аграном
                    a.btn.btn-primary Кириш
            .con-item
                .image
                    +pic("avatar-2.png",'',0)
                .info
                    .name Собиров Алишер
                    .spec Аграном
                    a.btn.btn-primary Кириш
            .con-item
                .image
                    +pic("avatar-2.png",'',0)
                .info
                    .name Собиров Алишер
                    .spec Аграном
                    a.btn.btn-primary Кириш
            .con-item
                .image
                .info
                    .name Собиров Алишер
                    .spec Аграном
                    a.btn.btn-primary Кириш