mixin sBankProductsBody(h2, page)
	// start sBankProducts
	+b.sBankProducts.section&attributes(attributes)
		.container
			if h2
				+b.section-title.text-center(class="wow animate__fadeInUp" )
					h2= h2
			+e.slider-wrap
				.swiper-container(class=(page ? 'sBankProducts__slider--page sBankProducts__slider--page-js' : ' sBankProducts__slider--js'))
					.swiper-wrapper
						block
				if !page
					.d-none.d-md-block(class="wow animate__fadeInUp" )
						+arrow
			if page
				+pugin()
	// end sBankProducts
mixin itemSlide(i, t, p, l)
	+e.col.col-lg-3.swiper-slide(class="wow animate__fadeInUp" )
		+e.item(href='#')
			+e.DIV.img-wrap
				if i
					//- img(src=`img/@2x/populars-${i}.jpg` alt="")
					+pic(`bank-${i}.jpg`,'',0)
			+e.DIV.caption
				+e.DIV.price!= t
				if p
					p!= p
				if !l
					div
						.text-primary Батафсил
				else if l=='hide'
				else
					.row.mt-auto
						.col.text-info Батафсил
						.col-auto.text-secondary 14.09.2021
mixin sBankProducts(data)
	+sBankProductsBody('Банк махсулотлари')
		+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`,'','hide')
		+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`,'','hide')
		+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `,'','hide')
		+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `,'','hide')
		+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`,'','hide')
		+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`,'','hide')
		+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `,'','hide')
		+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `,'','hide')
mixin sBankProducts2(data)
	+sBankProductsBody('Янгиликлар')
		+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, `"Фермерлар мактабида" ўсимликларни ҳимоя қилиш `)
		+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`)
		+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, `Виса билан ҳамкорликада "Унутилмас саёҳатни ютиб олинг" аксиясини еълон қиламиз.`)
		+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, `Банкоматларда техник ишлар олиб борилмоқда!`)
		+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, `"Фермерлар мактабида" ўсимликларни ҳимоя қилиш `)
		+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`)
		+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, `Виса билан ҳамкорликада "Унутилмас саёҳатни ютиб олинг" аксиясини еълон қиламиз.`)
		+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, `Банкоматларда техник ишлар олиб борилмоқда!`)
mixin sBankProducts-22(data)
	+sBankProductsBody('','page')
		- for (var x = 0; x < 4; x++)
			+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, `"Фермерлар мактабида" ўсимликларни ҳимоя қилиш `)
			+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`)
			+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, `Виса билан ҳамкорликада "Унутилмас саёҳатни ютиб олинг" аксиясини еълон қиламиз.`)
			+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, `Банкоматларда техник ишлар олиб борилмоқда!`)
			//- +itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, `"Фермерлар мактабида" ўсимликларни ҳимоя қилиш `,'l')
			//- +itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`,'l')
	
mixin sBankProducts-27(data)
	+sBankProductsBody('','page')
		- for (var x = 0; x < 4; x++)
			+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, `"Фермерлар мактабида" ўсимликларни ҳимоя қилиш `)
			+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`)
			+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, `Виса билан ҳамкорликада "Унутилмас саёҳатни ютиб олинг" аксиясини еълон қиламиз.`)
			+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, `Банкоматларда техник ишлар олиб борилмоқда!`)
			//- +itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, `"Фермерлар мактабида" ўсимликларни ҳимоя қилиш `,'l')
			//- +itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`,'l')
	
