// start .sPasswordReset
.sPasswordReset {
	--sPT: #{rem(50)};
	--sPB: #{rem(50)};
	// --sTPB: ;
	.form-wrap {
		h1 {
			margin-bottom: 64px;
		}
		
		&__btn {
			margin-top: rem(40);
			margin-bottom: rem(40);
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sPasswordReset
