mixin sPasswordReset(data)
	// start sPasswordReset
	+b.SECTION.sPasswordReset.section#sPasswordReset&attributes(attributes)
		.container
			+form-wrap
				h1 Тизимга кириш
				+input(``, 'password', `Янги парол`)
				+input(``, 'password', `Паролни тасдиқлаш`)
				+e.BUTTON.btn.btn.btn-primary Тасдиқлаш
				+e.footer
					+e.subtitle Тизимдан рўйхатдан ўтмаганмисиз?
					a.link-info(href="#") Рўйхатдан ўтиш
	// end sPasswordReset