mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title.text-center(class="wow animate__fadeInUp" )
				h2 Аргробанк лойиҳалари ва ҳамкорлари
		+e.slider-wrap(class="wow animate__fadeInUp" )
			.container
				+e.slider--js.swiper-container
					.swiper-wrapper
						mixin slide(i,t)
							+e.slide.swiper-slide
								+e.item
									.row
										if img
										.col-auto
											+pic(`logo-${i}.png`,'',0)
										if t
											.col!= t
						+slide('1')
						+slide('2')
						+slide('3',`Тошкент давлат аграр университети`)
						+slide('4',`Қишлоқ хўжалиги вазирлиги`)
						+slide('6',`Илмий тадқиқот институтлари`)
						+slide('6',`Халқаро университетлар`)
				+arrow
			.container
				.swiper-pagination
	// end sPartners