mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title.text-center(class="wow animate__fadeInUp" )
				h2 Аргробанк лойиҳалари ва ҳамкорлари
		+e.slider-wrap(class="wow animate__fadeInUp" )
			.container
				+e.slider--js.swiper-container
					.swiper-wrapper
						mixin slide(t)
							+e.slide.swiper-slide
								+e.item
									span!= t
						+slide(`Фермерлар Мактаби`)
						+slide(`Агролаб`)
						+slide(`Тошкент давлат аграр университети`)
						+slide(`Агролаб`)
						+slide(`Фермерлар Мактаби`)
						+slide(`Тошкент давлат аграр университети`)
				+arrow
			.container
				.swiper-pagination
	// end sPartners