
mixin cardf(i, h, p, u, t)
	.col-xl-3.col-md-4
		+b.card-prod--vertical.--favorite
			div
				+e.img-wrap.bg-wrap(href="#")
					+pic(`prod-${i}.jpg`,'bg',0).picture-bg
			+e.heading
				+e.title!= h
				+e.value
					+e.prices!= p
					+e.unit.text-secondary!= u
				p!= t
				+e.card-btn Харид қилиш
mixin catalog-filter()
	.row.align-items-center.g-2.py-3
			.col-auto Саралаш: 
			.col
				.row 
					.col-auto: +e.filter-btn.active: +icon("filter-1") 
					.col-auto: +e.filter-btn: +icon("filter-2") 
					.col-auto: +e.filter-btn: +icon("filter-3") 
					.col-auto: +e.filter-btn: +icon("filter-4") 
			.col-auto.d-none.d-md-block
				+b.btns-head
					+e.btn-head.active(type="button")
						+icon("horizontal")
					+e.btn-head(type="button")
						+icon("vertical")
			.col-auto.d-lg-none
				+e.toggle-filter--js 
					+icon("filter-icon")
					| Фильтр
mixin sCatalog(fav)
	// start sCatalog
	+b.sCatalog.section.pt-0&attributes(attributes)
		if !fav
			+b.banner-block(style="background: #D8E0F0")
				.row.align-items-center
					.col
						+e.content
							h3 2021йил учун екиш мавсуми бошланди
							p Келажакда ҳосил учун уруғнинг керакли турини танланг
							+e.btn(href="#") Батафсил
					.col-md-auto
						+pic("pile-black-beans1.png",'',0)
			+e.btns.row.gy-3
				+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Полиз экини уруғлари
				+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Дуккакли уруғлар
				+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Дон уруғлари
				+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Майса уруғлари
				+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Сабзавот уруғлари
			h2 Оммабоб махсулотлар
			+catalog-filter()
		div
			+card-hor(1,fav)
			+card-hor(2,fav)
			+card-hor(3,fav)
			+card-hor(4,fav)
			+card-hor(5,fav)
			+card-hor(6,fav)
		if !fav
			+e.foot.text-center
				+e.btn-footer(type="button") Кўпроқ кўриш
				
	// end sCatalog

	
mixin sCatalog2(data)
	// start sCatalog
	+b.sCatalog.section.pt-0&attributes(attributes)
		+e.btns.row.gy-3
			+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Полиз экини уруғлари
			+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Дуккакли уруғлар
			+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Дон уруғлари
			+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Майса уруғлари
			+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Сабзавот уруғлари
		+catalog-filter()
		div
			+card-hor(1)
			+card-hor(2)
			+card-hor(3)
			+card-hor(4)
			+card-hor(5)
			+card-hor(6)
		//- +e.foot
		//- 	.row
		//- 		.col
		//- 			+pugin()
		//- 		.col-auto.d-none.d-sm-block
		//- 			.text-secondary.pt-3 211 тадан 24 таси кўрилди
		+e.foot
			+e.btn-more(href="#").btn-outline-primary Кўпроқ кўриш
				
	// end sCatalog



mixin sCatalog3(data)
	// start sCatalog
	+b.sCatalog.section.pt-0&attributes(attributes)
		+e.btns.row.gy-3
			+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Полиз экини уруғлари
			+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Дуккакли уруғлар
			+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Дон уруғлари
			+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Майса уруғлари
			+e.col.col-auto: a.btn.btn-sm.btn-primary(href="#") Сабзавот уруғлари
		+catalog-filter()
		+e.row.row
			+card(1,'Қизил Юсуф памидори Самарқанд махсулоти')
			+card(2,'Бинафша Шоҳ Нўхати')
			+card(3)
			+card(4,'Мелотрия Колибри Самарқанд махсулоти')
				+e.btn.btn-outline-primary.disabled(type="button") Запрос оставлен
			+card(5)
			+card(6)
			+card(5)
			+card(6)
		//- +e.foot
		//- 	.row
		//- 		.col
		//- 			+pugin()
		//- 		.col-auto.d-none.d-sm-block
		//- 			.text-secondary.pt-3 211 тадан 24 таси кўрилди
		+e.foot
			+e.btn-more(href="#").btn-outline-primary Кўпроқ кўриш
	// end sCatalog

mixin sCatalog15(data)
	// start sCatalog
	+b.sCatalog.section.pt-0&attributes(attributes)
		.container 
			.section-title.text-center
				h2 Оммабоп маҳсулотлар
			+e.row.row
				+card(1,'Қизил Юсуф памидори Самарқанд махсулоти')
				+card(2,'Бинафша Шоҳ Нўхати')
				+card(3)
				+card(4,'Мелотрия Колибри Самарқанд махсулоти')
					+e.btn.btn-outline-primary.disabled(type="button") Запрос оставлен
				+card(5)
				+card(6)
				+card(5)
				+card(6)
	// end sCatalog

