// start .sCatalog
.sCatalog {
	// --sPT: ;
	--sPB: #{rem(60)};
	// --sTPB: ;
	&__btns {
		margin-bottom: rem(45);
	}
	&__foot {
		@include media-breakpoint-up(md) {
			margin-top: rem(60);
		}
		margin-top: rem(30);
	}
	&__btn-footer {
		@extend .btn;
		@extend .btn-outline-primary;
		width: rem(250);
	}

	&__toggle-filter {
		color: #3e3e3e;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		.icon {
			font-size: rem(16);
			margin-right: 3px;
		}
	}
	&__row {
		@include media-breakpoint-up(md) {
			--bs-gutter-y: var(--bs-gutter-x);
		}
	}
	&__btn-more{
		margin-left: auto;
		margin-right: auto;
		@extend .btn;
		width: 100%;
		max-width: rem(250);
		display: block;
	}
	&__filter-btn{
		cursor: pointer;
		.icon{
			font-size: rem(16);
		}
		&.active,
		&:hover{
			color: var(--bs-primary);
		}	
	}


		&__empty{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(380);
		.icon{
			color: var(--bs-primary);
			fill: transparent;
			stroke: currentColor;
			stroke-width: 4px;
			font-size: rem(109);
			margin-bottom: 15px;

		}
		text-align: center;
		p{
			color: #7C7E80;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCatalog
.btns-head {
	&__btn-head {
		@extend .btn;
		padding: 0;
		// margin-left: rem(12);
		margin-right: rem(12);
		color: #7c7e80;
		&:hover,
		&.active {
			color: var(--bs-primary);
		}
		.icon {
			font-size: rem(18);
		}
	}
}

.banner-block {
	position: relative;
	margin-bottom: rem(10);
	z-index: 2;
	@include media-breakpoint-down(md) {
		img {
			opacity: 0.15;
			max-height: 100%;
			max-width: 100%;
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
		}
	}
	&__content {
		@include media-breakpoint-up(md) {
			padding: rem(32) rem(32) rem(15);
		}
		padding: rem(22);

		max-width: rem(500);
		padding-bottom: rem(15);
	}
	// padding-right: 0;
	p {
		max-width: rem(310);
		line-height: 125%;
	}
	// h3,
	// p{

	// }
	h3 {
		margin-bottom: rem(14);
	}
	&__btn {
		@extend .btn, .btn-success;
		padding: rem(11) rem(38);
		color: #fff;
		font-size: rem(14);
	}
}

.card-prod {
	border: 1px solid #e6e6e6;

	@include mt;
	@include media-breakpoint-down(md) {
		margin-top: -1px;
	}
	@include media-breakpoint-up(md) {
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 14px;
			box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
			opacity: 0;
			@include mt;
			z-index: -1;
		}
		&:hover {
			&::before{
				opacity: 1;
			} 
			--scale: 1;
		}
	}
	&:hover {
		.card-prod__card-btn {
			// @extend .btn-outline-primary:hover;
			@extend .btn-outline-primary;
		}
	}
	.row {
		@include media-breakpoint-up(md) {
			--bs-gutter-x: 33px;
		}
	}
	@include media-breakpoint-down(md) {
		border-left: none;
		border-right: none;
		padding-left: 0;
		padding-right: 0;
	}
	@include media-breakpoint-up(md) {
		border-radius: 14px;
	}
	padding: rem(22);
	padding-bottom: rem(18);
	margin-bottom: var(--bs-gutter-x);
	&__img-wrap {
		@include block();
		display: block;
		overflow: hidden;
		@include media-breakpoint-up(md) {
			width: rem(183);
		}
		width: rem(140);
		// min-height: 100%;
		border-radius: 12px;
	}
	&__caption {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(md) {
			padding-top: rem(8);
		}
		flex-grow: 1;
		@include media-breakpoint-down(md) {
			min-height: 100%;
		}
		// .card-prod__heading {
		// 	margin-bottom: rem(5);
		// 	--bs-gutter-x: #{rem(10)};
		// 	@include media-breakpoint-up(md) {
		// 		--bs-gutter-x: #{rem(10)};
		// 	}
		// }
		// .card-prod__name {
		// 	font-weight: 500;
		// 	font-size: rem(14);
		// 	line-height: calc(22 / 14);
		// }
	}
	&--vertical {
		--sp: #{rem(15)};
		padding: var(--sp);
		display: flex;
		margin-bottom: 0;
		@include media-breakpoint-up(md) {
			&::before{
				height: calc(100% + #{rem(38)} );
			}
			min-height: 100%;
			flex-direction: column;
		}
	}
	@include media-breakpoint-up(md) {
		&--favorite {
			padding: 0;
		}
		&--favorite &__caption {
			padding: rem(12);
		}
		&--favorite &__img-wrap {
			border-radius: 12px 12px 0 0;
		}
	}
	&--vertical &__btn {
		// margin-top: 1rem;
		margin-top: 0;
		@include media-breakpoint-up(md) {
			// margin-top: auto;
		}
	}
	@include media-breakpoint-up(md) {
	}
	&--vertical .fw-500.mb-1 {
		// padding-bottom: rem(7);
	}
	&--vertical &__img-wrap {
		flex: 0 0 auto;
		// margin-right: rem(7);
		@include media-breakpoint-up(md) {
			margin-top: 0;
			width: 100%;
			--ratio: (115 / 183);
		}
	}
	&__price {
		font-size: rem(25);
		font-weight: 500;
		line-height: 1;
		margin-bottom: rem(5);
		span {
			color: #7c7e80;
			// font-size: 12px;
			@extend .h6;
			font-weight: normal;
			margin-left: rem(8);
		}
	}
	ul {
		list-style: none;
		margin-bottom: 0;
		span {
			@extend .text-secondary;
			margin-right: rem(5);
		}
	}
	li {
		margin-bottom: rem(1);
	}
	&__btn-more {
		.icon {
			font-size: rem(8);
			color: $body-color;
			margin-left: rem(2);
		}
	}
	&__foot {
		@include media-breakpoint-up(md) {
			max-width: calc(180px + var(--bs-gutter-x));
		}
	}
	&__btn {
		width: 100%;
		@extend .btn;
		// @extend .btn-primary;
		padding: rem(10) rem(5);
		// padding-right: rem(5);
		@include media-breakpoint-down(md) {
			width: rem(183);
		}
		@include media-breakpoint-up(md) {
			margin-top: rem(10);
		}
	}
	&__icon-wrap {
		text-align: center;
		min-width: rem(12);
		margin-right: rem(8);
		display: inline-block;
		.icon {
			font-size: rem(14);
			&-pay {
				font-size: rem(12);
			}
		}
	}

	&__row {
		@include media-breakpoint-down(md) {
			height: 100%;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__heading {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 0;
		@include media-breakpoint-up(md) {
			padding: rem(12) rem(12) rem(15);
		}
		@include media-breakpoint-up(lg) {
			padding: rem(14) rem(15) rem(19);
		}
		p {
			font-size: rem(12);
			line-height: calc(17 / 12);
			color: #68717a;
			margin-bottom: rem(10);
			flex-grow: 1;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	&__title {
		font-weight: bold;
		font-size: rem(15);
		line-height: calc(22 / 16);
		color: #3e3e3e;
		margin-bottom: rem(5);
		@include media-breakpoint-up(xl) {
			font-size: rem(16);
		}
	}
	&__value {
		display: flex;
		align-items: center;
		margin-bottom: rem(8);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(12);
		}
	}
	&__prices {
		font-weight: 500;
		font-size: rem(14);
		line-height: calc(18 / 14);
		color: #152536;
		margin-right: rem(8);
	}
	&__unit {
		font-weight: normal;
		font-size: rem(12);
		line-height: calc(18 / 12);
	}
	&__card-btn {
		@extend .btn;
		@extend .btn-outline-primary;
		@include mt;
		max-width: 131px;
		width: 100%;
		font-size: rem(14);
		line-height: calc(16 / 14);
		font-weight: normal;
		padding: rem(11) rem(20);
		margin-top: rem(15);
		@include media-breakpoint-up(lg) {
			margin-top: rem(20);
		}
		@include media-breakpoint-down(md) {
			align-self: flex-start;
		}
	}

	.addBlock{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
		input{
			font-size: 16px;
		}
		&__btn--plus{
			@extend .btn-secondary-light;
			color: #000 !important;
		}
	}
	position: relative;
	&__footer-links{
		display: flex;
		z-index: 4;
		// justify-content: space-between;
		justify-content: space-around;
		padding-top: 14px;
		
		@include media-breakpoint-up(md){
			padding: var(--sp);
			padding-top: 14px;
		position: absolute;
		left: -1px;
		top: calc(100% - 14px);
		width: calc(100% + 2px);
		background-color: #fff;

		border: 1px solid #e6e6e6;
		border-top: none;
		// box-sizing: content-box;
		border-radius: 0 0 14px 14px ;
		transform-origin: left top;
		transform: scaleY(var(--scale, 0));
		@include mt; 
	}
	}
	&__footer-link{
		color: #AAAAAA;
		cursor: pointer;
		
		&hover,
		&.active{
			color: var(--bs-primary);
			
			path{
					--op: 1;
			}
		}
		
		.icon{
			font-size: 1.2rem;
			&-email-link{
				// fill: transparent;
				// stroke:currentColor;
				// stroke-width: .2px;
				
			}
		}
	}
	&--horizontal {
		@include media-breakpoint-up(md) {
		margin-bottom: 13px;
		}
		margin-bottom: 0;
		@include media-breakpoint-down(md) {
			margin-top: -1px;
			p{
				margin-bottom: 0;
			}
			.h5.mb-3{
				font-size: 24px;
			}
		}
		.addBlock{
			width: 175px;
			@include media-breakpoint-down(md) {
				margin-left: 0;
				margin-right: 0;
			}
				@include media-breakpoint-up(md) {

					justify-content: center;
					margin-bottom: 0;
				}
				justify-content: start;
			input{
				width: rem(80);
			}
				@include media-breakpoint-up(md) {

					&__btn{
						background: none;
						border: none;
					}
				}
		}
	}
	.addBlock{
			width: 175px;
			@include media-breakpoint-down(md) {
			}
			margin-left: 0;
			margin-right: 0;
			}
	&__footer-links{
		@include media-breakpoint-down(md) {
			left: 0;
			bottom: 15px;
			width: 140px;
			padding-top: 0;
		}
		position: absolute;
	}
	&__img-wrap{
		margin-bottom: 40px;
		@include media-breakpoint-down(md) {
			margin-right: 28px;
		}
	}
	&--horizontal .card-prod{
		&__footer-links{
			transform: none;
			border: none;
			margin-bottom: 4px;
			
			@include media-breakpoint-up(md) {
				
				position: static;
				@include roww(10px, m);
				}
				position: absolute;
				// justify-content: center;
		}
			@include media-breakpoint-up(md) {

				&__footer-link{
					width: 32px;
					height: 32px;
					border: 1px solid #E0E0E0;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					.icon{
						font-size: 14px;
					}
				}
			}

	}
	.btn-sm{
		font-weight: normal;
	}
	&--horizontal &__btns{
		--bs-gutter-x: 7px !important;
		--bs-gutter-y: var(--bs-gutter-x);
	}
}
