mixin topLine(comp)
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			.row.d-none.d-md-flex
				.col-auto
					+b.swich-block
						if !comp
							+e.btn(href="#").active Харидорлар
							+e.btn(href="#") Сотувчилар
						if comp
							+e.btn(href="#") Харидорлар
							+e.btn(href="#").active Сотувчилар
				if comp
					.col-auto.d-none.d-sm-block
						+e.name Менинг компаниям
			.row
				.col-auto.d-md-none
					+b.toggle-menu-mobile--js
						span
				.col-md-auto.col
					a(href="/")
						img(src="img/svg/logo.svg", alt="") 
				.col-md.order-md-0.order-last
					+search-block
				.col-auto
					+b.top-btn(href="#")
						+e.SPAN.icon-wrap
							+icon("user")
						+e.SPAN.text Кириш
				.col-auto.position-relative
					+b.top-btn--alerts(type="button")
						+e.SPAN.icon-wrap
							+icon("bang")
							+e.SPAN.count 99 
						+e.SPAN.text Хабарнома
					+b.dropdown-alert
						+e.item(href='#')
							+e.DIV.img-wrap.bg-wrap
								+pic("prod-1.jpg",'bg',0).picture-bg
							+e.DIV.caption
								+e.text.fw-500.text-body Буюртмалар
								+e.DIV.title: span.text-primary ЧП “Mega Gruop”
								+e.text.text-secondary Буюртма “Буюртма этказилган” статусига ўзгарди
								+e.time Кеча 14:27
						+e.item(href='#')
							+e.DIV.img-wrap.bg-wrap
								+pic("prod-2.jpg",'bg',0).picture-bg
							+e.DIV.caption
								+e.text.fw-500.text-body Буюртмалар
								+e.DIV.title: span.text-primary ЧП “Mega Gruop”
								+e.text.text-secondary Буюртма “Буюртма этказилган” статусига ўзгарди
								+e.time Кеча 14:27
						+e.item(href='#')
							+e.DIV.img-wrap.bg-wrap
								+pic("prod-3.jpg",'bg',0).picture-bg
							+e.DIV.caption
								+e.text.fw-500.text-body Буюртмалар
								+e.DIV.title: span.text-primary ЧП “Mega Gruop”
								+e.text.text-secondary Буюртма “Буюртма этказилган” статусига ўзгарди
								+e.time Кеча 14:27
				if !comp
					.col-auto
						+b.top-btn(href="#")
							+e.SPAN.icon-wrap
								+icon("basket")
								+e.SPAN.count 99 
							+e.SPAN.text Саватча
				.col-auto
					+b.lang-choose
						+e.current Уз
						+e.dropdown 
							+e.dropdown-item(href="#")  Уз1
							+e.dropdown-item(href="#")  Уз2
							+e.dropdown-item(href="#")  Уз3
							+e.dropdown-item(href="#")  Уз4
	// end topLine