mixin topLine(comp)
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			.row.d-none.d-md-flex
				.col-auto
					+b.swich-block
						if !comp
							+e.btn(href="#").active Харидорлар
							+e.btn(href="#") Сотувчилар
						if comp
							+e.btn(href="#") Харидорлар
							+e.btn(href="#").active Сотувчилар
				if comp
					.col-auto.d-none.d-sm-block
						+e.name Менинг компаниям
			.row
				.col-auto.d-md-none
					+b.toggle-menu-mobile--js
						span
				.col-md-auto.col
					a(href="/")
						img(src="img/svg/logo.svg", alt="") 
				.col-md.order-md-0.order-last
					+e.search-wrap.d-md-block
						+search-block
				if !comp
					.col-auto.d-md-none
						+b.top-btn--search-toggle-js(type="button")
							+icon("search")
							+e.text Поиск
				.col-auto
					+b.top-btn(type="button")
						+e.icon-wrap
							+icon("user")
						+e.text Кириш
				.col-auto.position-relative
					+b.top-btn--alerts(type="button")
						+e.icon-wrap
							+icon("bang")
							+e.count 99 
						+e.text Хабарнома
					+b.dropdown-alert
						+e.item
							+e.img-wrap.bg-wrap(href="#")
								+pic("prod-1.jpg",'bg',0).picture-bg
							+e.caption
								+e.text Буюртмалар
								+e.title: a(href="#")  ЧП “Mega Gruop”
								+e.text.text-secondary Буюртма “Буюртма этказилган” статусига ўзгарди
								+e.time Кеча 14:27
						+e.item
							+e.img-wrap.bg-wrap(href="#")
								+pic("prod-2.jpg",'bg',0).picture-bg
							+e.caption
								+e.text Буюртмалар
								+e.title: a(href="#")  ЧП “Mega Gruop”
								+e.text.text-secondary Буюртма “Буюртма этказилган” статусига ўзгарди
								+e.time Кеча 14:27
						+e.item
							+e.img-wrap.bg-wrap(href="#")
								+pic("prod-3.jpg",'bg',0).picture-bg
							+e.caption
								+e.text Буюртмалар
								+e.title: a(href="#")  ЧП “Mega Gruop”
								+e.text.text-secondary Буюртма “Буюртма этказилган” статусига ўзгарди
								+e.time Кеча 14:27
				if !comp
					.col-auto
						+b.top-btn(type="button")
							+e.icon-wrap
								+icon("basket")
								+e.count 99 
							+e.text Саватча
				.col-auto
					+b.lang-choose
						+e.current Уз
						+e.dropdown 
							+e.dropdown-item  Уз1
							+e.dropdown-item  Уз2
							+e.dropdown-item  Уз3
							+e.dropdown-item  Уз4
	// end topLine