.header {
	background-color: #fff;

	@include media-breakpoint-up(md) {
		min-height: 100px;
	}
}
body:not(.main-page) .top-nav {

}
// start .topLine
.topLine {
	--sPT: 8px;
	--sPB: 8px;
	border-bottom: 1px solid #E6E6E6;
	.row {
		--bs-gutter-x: 20px;
		align-items: center;
	}
	&__name {
		font-weight: 500;
		font-size: rem(19);
		margin-bottom: rem(15);
	}
	ul{
		list-style: none;
		font-size: rem(11);
		display: flex;
		margin-bottom: 0;
		white-space: nowrap;
		a{
			&:hover{
				background: #F2F2F2;
			}
		}
	}
	sup{
		// position: relative;
		// top: rem(4);
	}
	&__link{
		color: #7C7C7C !important;
		padding: rem(2) rem(9);
		display: inline-flex;
		align-items: center;
		border-radius: 50px;
		img,
		.icon{
			font-size: rem(12);
				@include media-breakpoint-up(lg) {
					margin-right: rem(7);
				}
			color: var(--bs-primary);
		}
	}
	&__contacts{
		ul{
			justify-content: flex-end;
		}
	}

	&__center{
		ul{
			justify-content: center;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
		.search-block {
			// display: none;
			padding-top: rem(10);
		}
	}
	@include media-breakpoint-down(sm) {
		img {
			// width: rem(110);
		}
	}
	@include media-breakpoint-down(xs) {
		.logo{
			zoom: .8;
			position: relative;
		}
	}
} // end.topLine

.top-btn {
	border-radius: 0;
	&--alerts.active {
		pointer-events: none;
	}
	span {
		display: block;
	}
	&__text {
		margin-top: rem(5);
		@include media-breakpoint-down(sm) {
			display: none !important;
		}
	}
	position: relative;
	&__icon-wrap {
		position: relative;
		// width: rem(16px);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	&__count {
		position: absolute;
		right: rem(-8px);
		top: rem(-8px);
		width: rem(16px);
		height: rem(16px);
		background: #ed6262;
		border-radius: 50%;
		color: #fff;
		display: flex !important;
		justify-content: center;
		// line-height: 1;
		align-items: center;
		font-size: rem(10);
		font-weight: 500;
	}
	@extend .btn;
	@extend .btn-link;
	box-shadow: none !important;
	padding: 0;
	font-size: rem(11);
	box-shadow: none;
	&:not(:hover) {
		color: #7c7e80;
		// .icon {
		// 	color: #000;
		// }
	}
	.icon {
		font-size: rem(22);
	}
}

.swich-block {
	display: inline-block;
	margin-bottom: rem(14);
	display: inline-flex;
	align-items: center;
	background: #f2f2f2;
	border-radius: 33px;
	padding: rem(2);
	@include media-breakpoint-down(md) {
		margin-left: 1.21429rem;
	}
	&__btn {
		padding: rem(4) rem(4);
		display: inline-block;
		border-radius: 16px;
		color: #7c7e80;
		font-size: 11px;
		cursor: pointer;
		min-width: 80px;
		text-align: center;
		&.active {
			color: #fff;
			font-weight: bold;
			background-color: var(--bs-primary);
		}
		&:first-child {
			margin-right: rem(8);
		}
	}
}

.lang-choose {
	position: relative;

	@include media-breakpoint-up(sm) {
		width: rem(65px);
	}
	width: rem(60px);
	// width: rem(55px);
	text-align: right;
	font-weight: bold;
	cursor: pointer;
	z-index: 200;
	border-radius: rem(4px);

	&:hover {
		// --hover: ' ';
		// background: #F2F2F2;
		--bg: #dddada;
	}
	&__current {
		background: var(--bg, #f2f2f2);
		@include mt;
		&.active {
			pointer-events: none;
		}
		&:hover {
		}
		border-radius: rem(4px);
		position: relative;
		@include media-breakpoint-up(sm) {
			padding-right: rem(29);
		}
		padding-right: rem(24);
		padding-top: rem(5);
		padding-bottom: rem(5);
		&::after {
			content: var(--chevron-down);
			position: absolute;
			@include media-breakpoint-up(sm) {
				right: rem(10);
			}
			right: rem(8);
			top: rem(2);
		}
	}
	&__dropdown {
		background: var(--bg, #f2f2f2);
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		border-radius: rem(4px);
		// visibility: var(--hover, hidden);
		// opacity: var(--hover, 0);
		display: none;
		// @include mt;
		overflow: hidden;
	}

	&__dropdown-item {
		@include mt;
		padding-top: rem(4);
		padding-bottom: rem(4);
		color: $body-color !important;
		display: block;
		@include media-breakpoint-up(sm) {
			padding-right: rem(29);
		}
		padding-right: rem(24);
		@include mt;
		// transform: var(--hover, 0);
		&:hover {
			background-color: $secondary2;
		}
	}
}

.dropdown-alert {
	display: none;
	position: absolute;
	top: calc(100% + 10px);
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	padding-top: rem(5);
	padding-bottom: rem(5);
	z-index: 300;
	width: 320px;
	left: 50%;
	@include media-breakpoint-up(xl) {
		// width: 397px;

		margin-left: -200px;
	}
	@include media-breakpoint-up(sm) {
		width: 397px;

		margin-left: -300px;
	}
	margin-left: -230px;
	&__item {
		padding: rem(5) rem(10);
		display: flex;
		align-items: flex-start;
		position: relative;
		font-size: 12px;
		border-radius: 4px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&:hover {
			background-color: #f8f9fa;
		}
	}
	&__img-wrap {
		width: 61px;
		@include block;
		flex: 0 0 61px;
		margin-right: 10px;
	}
	&__text {
		display: inline-block;
		line-height: 1;
	}
	&__title {
		font-weight: 500;
		font-size: 14px;
		// margin-bottom: 8px;
	}
	&__time {
		// font-size: 10px;
		position: absolute;
		right: 10px;
		top: 10px;
		color: #999999;
	}
	&__caption {
		max-width: 184px;
	}
}


.has-children{
	position: relative;
	color: #999999;
	display: flex;
	align-items: center;
	ul{
		display: block;
		position: absolute;
		left: 0;
		top: 100%;
		background-color: #fff;
		background: #FFFFFF;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
		z-index: 200;
		display: none;
		li{
			min-width: rem(142);
			cursor: pointer;
			padding: rem(6) rem(16);
			&:not(:last-child){
				border-bottom: 1px solid #E4E4E4;
			}
		}
	}
	&:hover{
		ul{
			display: block;
		}
	}
}


	.has-children{
		padding-left: rem(9);
		padding-right: rem(9 + 4 + 4);
		&::after{
			content: '';
			background: var(--chevron-down-gray);
			top: rem(10);
			right: rem(4);
			background-repeat: no-repeat;
			background-size: 100%;
			width: rem(6);
			height: rem(4);
			position: absolute;
		}
	}