mixin infoTable(data)
    .information-table
        .item-view
            .icon-wrapper
                +icon('info-home')
            .wrapper-info
                .label Номи
                .name МЧЖ "Azia media"Шокиров
        .item-view
            .icon-wrapper
                +icon('info-bank')
            .wrapper-info
                .label Банк МФО си
                .name "Агробанк" аксиядорлик-тижорат банки»
        .item-view
            .icon-wrapper
                +icon('info-phone')
            .wrapper-info
                .label Телефон рақами
                .name +998974050002
        .item-view
            .icon-wrapper
                +icon('info-map')
            .wrapper-info
                .label Манзил
                .name 43 Мукимий Кўчаси, Тошкент, Ўзбекистон, 100096-уй
        .item-view
            .icon-wrapper
                +icon('info-building')
            .wrapper-info
                .label Вилоят
                .name Самарқанд вилояти
        .item-view
            .icon-wrapper
                +icon('info-message')
            .wrapper-info
                .label СТИР
                .name 154786022
        .item-view
            .icon-wrapper
                +icon('info-aim')
            .wrapper-info
                .label Туман
                .name МЧЖ "Azia media"Шокиров
        .item-view
            .icon-wrapper
                +icon('info-empty-wallet')
            .wrapper-info
                .label Хисоб рақами
                .name 2223 1238 4568 1234 9963

mixin trustedSeller(data)
    .trusted-seller
        .title
            .icon-wrapper
                +icon('galka-cloud')
            span Ишончли сотувчи
        .desc
            p Компанияга Агрозамин томонидан ишонч билдирилган