mixin sForgotPassword(data)
	// start sForgotPassword
	+b.SECTION.sForgotPassword.section#sForgotPassword&attributes(attributes)
		.container
			+form-wrap
				h1 Тизимга кириш
				+e.subtitle Паролни унутдингизми?
				+input(`Е-mail манзилингизни киритинг`, 'email', `E-mail`)
				+e.BUTTON.btn.btn.btn-primary Ҳавола жўнатиш
				+e.footer
					+e.subtitle Тизимдан рўйхатдан ўтмаганмисиз?
					+b.link-info(href="#") Рўйхатдан ўтиш
	// end sForgotPassword