.top-nav {
	padding-bottom: 13px;
	.container{
		position: relative;
		// padding-top: rem(9);
		// padding-bottom: rem(9);
		.row{
			align-items: center;
		}
	}
	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}
	
	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	
	// 
	@include media-breakpoint-between(md, xl) {}
	
	
	@include media-breakpoint-only(xl) {}
	
	@include media-breakpoint-down(xs) {}
	&__col{
		
		@include media-breakpoint-up(md) {
			
			max-width: calc(100% - var(--catalog-toggle-w) - var(--bs-gutter-x));
			padding-left: rem(30);
		}
		padding-left: 0;
	}
	&__col-catalog{
		@include media-breakpoint-down(md) {
			padding: 0;
		}

	}
}



.scroll-menu-wrap{
}
.catalog-block{ 
		@include media-breakpoint-down(md) {
			// display: none;
			
			&:not(.active) {
				transform: translateX(-100%);
			}
			@include mt;
			overflow-x: hidden;
			position: fixed;
			width: 100%;
			height: 100%;
			overflow-y: auto;
			left: 0;
			top: 0;
			background-color: #fff;
			padding-top: rem(15);
			padding-bottom: rem(15);
			z-index: 1000;
		}
		@include media-breakpoint-up(md){

			--h: 1px;
		}
		--h: 2px;
	&__toggle{
			@include media-breakpoint-down(md) {
				// padding-bottom: rem(10);
				font-size: 20px;
				margin-bottom: rem(15);
				margin-left: .6rem;
				span {
					background-color: transparent;
				}

				span:after,
				span:before {
					top: 0;
					bottom: 0;
				}

				span:before {
					transform: rotate3d(0, 0, 1, 45deg);
				}

				span:after {
					transform: rotate3d(0, 0, 1, -45deg);
				}
			}
			&--mob{
				
			}
			box-sizing: border-box;
			border-radius: 30px;
			font-weight: 500;
			padding: rem(6) rem(10);
			@include media-breakpoint-up(md) {
				width: rem(133);


				border: 1.5px solid #CFCFCF;
			}
			// padding-left: rem(27);
			padding-left: rem(37);
		position: relative;
		cursor: pointer;
		span:after,
		span:before {
			content: "";
			position: absolute;
			left: 0;
		}

		span {
			@include a-cent(y);
				@include media-breakpoint-up(md){
					left: rem(18);
				}
				left: rem(10px);
		}

		span:before { 
			top: calc(var(--h) * 4);
		}

		span:after {
			bottom: calc(var(--h) * 4);
		}

		span {
			display: block;
			 
		}

		span,
		span:after,
		span:before {
			// width: 32px;
			@include media-breakpoint-up(md) {
				width: rem(12);
			}
			width: rem(18);
			height: var(--h);
			background-color: currentColor;
			transition: all 0.3s;
			backface-visibility: hidden;
			border-radius: 6px;
			transform-origin: 50% 50%;
		}
			&:hover {
				border-color: $primary;
			}

		&.active {
			pointer-events: none;
		}
		&.active span {
			background-color: transparent;
		}

		&.active span:after,
		&.active span:before {
			top: 0;
			bottom: 0;
		}

		&.active span:before {
			transform: rotate3d(0, 0, 1, 45deg);
		}

		&.active span:after {
			transform: rotate3d(0, 0, 1, -45deg);
		}

		--hoverMain: ' ';
	}
	ul{
		list-style: none;
	}
	&__dropdown-inner{
		@include media-breakpoint-up(md){
			position: relative;
			z-index: 2;
			width: rem(336);
		}

	}
	.left-menu{
		 & >li > a{
			 font-weight: bold;
		 }
		// position: relative;
		// z-index: 4;
		// position: relative;
		margin-bottom: 0;
		ul{
			margin-bottom: 0;
		}
		background-color: #fff;
		
		border: 1px solid #E6E6E6;
		@include media-breakpoint-up(md){
				max-height: calc(100vh - var(--header-h));

				overflow-y: auto;
				overflow-x: hidden;
			}
			@include media-breakpoint-down(md) {
				// position: absolute;
				// top: 0;
				// height: 100vh;
				// width: 100%;
			}

		// width: calc(336 /);
	}
	&__dropdown{
		@include media-breakpoint-down(md) {
			display: block !important;
		}
		@include media-breakpoint-up(md) {
			z-index: 1200; 
			// min-height: 620px;
			// width: calc(100% - var(--bs-gutter-x));
			position: absolute;
			left: calc(var(--bs-gutter-x) / 2);
			top: 100%;
		
			// visibility: var(--hoverMain, hidden);
			// opacity: var(--hoverMain, 0);
			// @include mt;
		}
		display: none;
		// display: block;
		@include media-breakpoint-up(md) {
		&::after{
			content: '';
			position: absolute;
			width: 200vw;
			left: -100vw;
			top: 0;
			z-index: -1;
			height: 10000vh;
			background: #000000;
			opacity: 0.6;
			pointer-events: none;
		}
		}
		

	}
	&:hover { 
	}
}
 
.menu-item-has-children {
	// position: relative;
	margin-bottom: -1px; 
		// &::before {
		// 	content: '';
		// 	left: calc(100% - 40px);
		// 	// top: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	position: absolute;
		// 	visibility: var(--hover, hidden);
		// 	// border: 1px solid #000;
		// 	// background-color: red;
		// }
		// &:hover
		// ,
		&.active
		{
			// &::before{
			// 	content: '';
			// 	position: absolute;
			// 	left: 30%;
			// 	top: 30%;
			// 	width: 100%;
			// 	height: 100%;
			// }
			--hover: ' ';
			> a{
				color: $primary;
			}
			& >  .sub-menu-wrap > .sub-menu{
				display: block !important;
			}
		} 
		&:last-child {
			&> a {
			}
		}
		a{
		position: relative;
		z-index: 5;
		background-color: #fff;
		.icon{
			position: absolute;
			font-size: rem(12);
			right: rem(12);
			top: rem(18);
			// @include mt;
			@include media-breakpoint-down(md){
				right: rem(15);
				// transform: rotate(90deg);
			}
		}
	}
	> a{
		display: block;
		padding: rem(14) rem(17);
		border-top: 1px solid #E0E0E0;
		border-bottom: 1px solid #E0E0E0;
		// border-bottom: 0.5px solid #E0E0E0;

		@include media-breakpoint-up(md) {

			width: var(--li-w);
			border: none;
			// pointer-events: none; 
		}
		position: relative;
		z-index: 10;
		// font-weight: 500;
		color: var(--colorLink, #{$body-color});
		.icon{
			position: absolute;
			font-size: rem(12);
			right: rem(12);
			top: rem(18);
			// @include mt;
			@include media-breakpoint-down(md){
				right: rem(15);
				// transform: rotate(90deg);
			}
		}
		&.active{
			.icon{
					@include media-breakpoint-down(md){
				// transform: rotate(270deg);
					}

			}
		}
	
	}
	&:hover{
		--colorLink: #{$primary};
		// --hover: ' ';
	}
	.sub-menu-wrap{
				@include media-breakpoint-up(md) {
			// display: var(--hover, none) !important;
			
			position: absolute;
			// visibility: var(--hover, hidden);
			// opacity: var(--hover, 0);
			// @include mt;
			
			
			// z-index: var(--hover, 0);
			// left: var(--li-w);
			min-height: 100%;
			// z-index: -1;
			left: 100%;
			top: 0;
			// width: calc(100% + 2px);
			// padding: rem(30);
		}
	}
	li{}
	.sub-menu-wrap{

		@include media-breakpoint-down(md){
			position: fixed;
			transform: translateX(-100%);
			left: 0;
			top: 0;
			z-index: 1200;
			width: 100%;
			@include mt;
			
			
		}
	}
	
	.sub-menu{
		max-height: calc(100vh - var(--header-h));
		overflow-y: auto;
		overflow-x: hidden;
		@include media-breakpoint-down(md){
			height: 100vh;
			padding-bottom: 50px;
		}
		@include media-breakpoint-up(md){
			
			display: none;
			width: rem(268);
		}
		background-color: #fff;
		.sub-menu{
			// display: none;
			// display: block;

		}
		
		&>li>a{
			@include media-breakpoint-up(md) {
			border-bottom: 1px solid #E6E6E6;
			}
		}
		@include media-breakpoint-down(md) {
			display: none;
		}
		a{
		display: block;
		padding: rem(15) rem(20);
		position: relative; 
	}
	li{
		margin: 0;
	}

		ul{
			@include media-breakpoint-down(md){
				// height: 100vh;
				// overflow-y: auto;
				// overflow-x: hidden;
				// z-index: 1300;
				// position: fixed;
				width: 100vw;
			}
			@include media-breakpoint-up(md){
				
				position: absolute;
					left: 100%;
					width: rem(268);
				}
			top: 0;
			background-color: #fff;
		}
 
		@include media-breakpoint-up(lg) {
			
			// --count: 3;
		}
		@include media-breakpoint-up(md) {
			// display: flex;
			// flex-wrap: wrap;
		// --count: 2;
		// padding-left: calc(var(--li-w) + #{rem(30)});
		background-color: #fff;
		border: 1px solid #E6E6E6;
		> ul{
			position: absolute;
			left: 100%;
			top: 0;

		}
		}
		> li{
			@include media-breakpoint-up(md){
				display: block;
				width: calc(100% / var(--count));
				// display: inline-block;
				// width: 100%;
				// padding-left: 0;
			}
			// padding-left: rem(15);
				// margin-bottom: rem(30);
			strong{
				font-weight: 500;
				display: block;
				margin-bottom: rem(16);
			}
			a{
				color: #676767;
				&:hover{
					color: $success;
				}
			}
			li{
				// margin-bottom: rem(10);
			}
			li:last-child a{
				// @extend .text-info;
			}
		}
	}

}
li.active{
	&> .sub-menu-wrap {
		@include media-breakpoint-down(md){

			transform: translateX(0);
		}

	}
}

.btn-back{
	position: relative;
	text-align: center;
	padding: rem(20) rem(30);
	font-size: 20px;
	font-weight: 500;
	svg{
		// transform: rotateY(180deg);
		left: 25px;
		top: rem(28);
		position: absolute;

	}
}




.menu__dropdown {
	width: rem(200);
	background: #FFFFFF;
	border: 1px solid #DBE4EC;
	border-top: none;
	box-shadow: 0px 5px 15px rgba(45, 55, 65, 0.1);
	
	a{
		white-space: normal;
	}

	border-radius: 5px;
	margin-top: 10px;
	right: 0;
	z-index: 200;
	transform-origin: 0 0;

	// @include mt;
	// --s: 1s;
	&:not(.show) {
		opacity: 0;
		// display: none;

	}

	&::before {

		content: '';
		width: 15px;
		height: 15px;
		position: absolute;
		right: 5px;
		top: -5px;
		transform: rotate(45deg);
		background: #FFFFFF;
		// pointer-events: none;
		border: 1px solid #DBE4EC;
		z-index: 2;
	}

	// &::before{ 
	// 	// width: 17px;
	// 	// height: 17px;
	// 	z-index: -1;
	// }


	li {
		z-index: 4;
		position: relative;
		list-style: none;

		&:first-child {
			border-radius: 5px 5px 0 0;
			background-color: #fff;
		}

		&:not(:last-child) {

			border-bottom: 1px solid #DBE4EC;
		}
	}

	a {
		font-weight: 600;
		padding: rem(13) rem(14);
		color: $body-color;
		display: block;

		&:hover {
			color: $primary;
		}
	}
}



.menu__dropdown-toggle {
	@extend .btn;
	// padding: 0;
	display: inline-flex;
	align-items: center;
	// margin-left: rem(20);
	padding: rem(8) rem(0);
	margin-bottom: rem(2);
	box-shadow: none;
	color: #999999;
	box-shadow: none !important;
	border: none !important;
	&.active,
	&:hover {
		color: $primary;
		--chevron-down-gray: var(--chevron-down-primary); 
		border-color: $primary;
	}
	line-height: 1.4;
	font-size: 1rem;
	@include media-breakpoint-down(xl) {
		// padding-top: 1.07143rem ;
		// padding-bottom: 1.07143rem ;
		// font-size: 14px;
	}
	@include media-breakpoint-up(xl) {

		padding-left: rem(20);
	}

	padding-left: rem(10);

	&::after {
		content: var(--chevron-down-gray);
		margin-left: rem(10);
		position: relative;
		top: rem(-1);
	}
}

.menu-item-has-children .sub-menu>li.menu-item-has-children.active > a {
	color: $success;
}