mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav(comp) 
	// start top-nav  в этом блоке   отличия
	+b.top-nav.block-with-lazy(class= (comp ? 'd-md-none' : null))
		.container
			.row
				//- .col-auto.d-lg-none
				//- 	+b.toggle-menu-mobile--js
				//- 		span
				+e.col-catalog.col-auto
					+b.catalog-block
						if comp
							+b.swich-block
								+e.btn(href="#") Харидорлар
								+e.btn(href="#").active Сотувчилар
							+e.toggle--mob 
								span 
								+e.toggle-text МЧЖ "Green technology"
						if !comp
							.d-md-none
								+b.swich-block
									+e.btn(href="#").active Харидорлар
									+e.btn(href="#") Сотувчилар
								+e.toggle--mob 
									span 
									+e.toggle-text Каталоглар
							
							+e.toggle--desctop.d-none.d-md-block
								span 
								+e.toggle-text Каталоглар
							+e.dropdown
								ul.left-menu
									mixin liLeft(a)
										li.menu-item-has-children
											a(href="#")= a  
												+icon("chevron-right")
											ul.sub-menu
												mixin li(a)
													li 
														a(href="#")= a  
												mixin col(t)
													li
														ul
															li: strong= t
															block
															+li('Ещё')

												+col('Полиз екини уруғлари') 
													+li('Тарвуз')
													+li('Қовун')
													+li('Қовоқ')
													+li('Хандалак')
													+li('Ошқовоқ')
												+col('Майса уруғлари')
													+li("Газон")
													+li("Жўхори")
													+li("Доривор ўсимликлар")
													+li("Эм-хашак ўтлари") 
												+col('Дуккакли уруғлар')
													+li("Ловия")
													+li("Нўхат")
													+li("Люпин")
													+li("Ясмиқ ")
													+li("Фасол")
												+col('Сабзавот уруғлари')
													+li("Бодринг")
													+li("Помидор")
													+li("Карам")
													+li("Сабзи") 
												+col('Дон уруғлари')
													+li("Қишки буғдой")
													+li("Арпа")
													+li("Жавдар")
													+li("Юлаф") 
												block






									+liLeft('Уруғлар')
										+col('Полиз екини уруғлари') 
											+li('Тарвуз')
											+li('Қовун')
											+li('Қовоқ')
											+li('Хандалак')
											+li('Ошқовоқ')
										+col('Майса уруғлари')
											+li("Газон")
											+li("Жўхори")
											+li("Доривор ўсимликлар")
											+li("Эм-хашак ўтлари") 
									+liLeft('Ўғитлар')
										+col('Полиз екини уруғлари') 
											+li('Тарвуз')
											+li('Қовун')
											+li('Қовоқ')
											+li('Хандалак')
											+li('Ошқовоқ')
											+li('Ошқовоқ')
											+li('Ошқовоқ')
											+li('Ошқовоқ')
									+liLeft('Ўсимликларни ҳимоялаш воситалари')
									+liLeft('Озуқалар')
									+liLeft('Боғ эрлари')
									+liLeft('Дон махсулотлари')
									+liLeft('Агрокимё')
									+liLeft('Екиш материаллари')
									+liLeft('Тайёр маҳсулотлар')
				if !comp
					+e.col.col
						.scroll-menu-wrap(data-btn="Яна")
							+mnu()
					
	// end top-nav