mixin sFaq(data)
	// start sFaq
	+b.sFaq.section#sFaq&attributes(attributes)
		.container
			mixin item(t)
				+b.accordeon-item
					+e.head= t
						+icon("accordeon")
					+e.body
						p Сайтга махсулотингизни жойлашдан аввал сиз юридик малумотларингизни тақдим етишингиз керак бўлади. Шундан сўнг шахсий кабинетиниздаги "Махсулот қўшиш" бўлими орқали ўз махсулотингизни қўшишингиз мумкин
			+item('Сайтга қандай қилиб ўз махсулотимни жойлаштиришим мумкин?')
			+item('Сотувчи билан қандай алоқа ўрнатиш мумкин?')
			+item('Тизимдан рўйхатдан ўтмасдан махсулот харид қилиш мумкинми?')
			+item('Қўшилган махсулот қанча вақт ичида сайтга жойланади?')
			+item('Тизим оператори билан қандай боғланиш мумкин?')
	// end sFaq
mixin sFaq36(data)
	// start sFaq
	+b.sFaq--files.section#sFaq&attributes(attributes)
		.container
			.tabs-region
				.tab
					button.tablinks.vac.active(onclick="openCity(event, 'kitob-tab')") 100 китоб
					button.tablinks.res(onclick="openCity(event, 'bog-tab')") Боғдорчилик
					button.tablinks.res(onclick="openCity(event, 'chor-tab')") Чорвачилик ва йилқичилик
					button.tablinks.res(onclick="openCity(event, 'deh-tab')") Деҳқончилик
					button.tablinks.res(onclick="openCity(event, 'chorbog-tab')") Чорвачилик ва боғдорчилик
				.tabcontent.opened(id="kitob-tab")
					mixin item(t)
						+b.accordeon-item
							+e.head= t
								+icon("close")
							+e.body
								mixin link(t)
									div
										+b.file-link(href="#")
											img(src="img/svg/file-link.svg", alt="")
											div
												+e.title= t
												.text-secondary PDF
								+link(`Иссиқхоналарда сабзавот кўчатчилиги`)
								+link(`Иссиқхоналарда микроиқлим шароити`)
								+link(`Тупроқсиз екин етиштириш`)
								+link(`Бодрингни иссиқхонада етиштириш`)
								+link(`Помидорни иссиқхонада етиштириш`)
					+item('Боғдорчилик')
					+item('Деҳқончилик')
					+item('Иссиқхона')
					+item('Сабзавот')
					+item('Полиз')
					+item('Доривор ўсимликлар')
					+item('Чорвачилик')
					+item('Паррандачилик')
					+item('Ҳайвон касалликлари')
				.tabcontent(id="bog-tab")
					mixin item(t)
						+b.accordeon-item
							+e.head= t
								+icon("close")
							+e.body
								mixin link(t)
									div
										+b.file-link(href="#")
											img(src="img/svg/file-link.svg", alt="")
											div
												+e.title= t
												.text-secondary PDF
								+link(`Иссиқхоналарда сабзавот кўчатчилиги`)
								+link(`Иссиқхоналарда микроиқлим шароити`)
								+link(`Тупроқсиз екин етиштириш`)
								+link(`Бодрингни иссиқхонада етиштириш`)
								+link(`Помидорни иссиқхонада етиштириш`)
					+item('Боғдорчилик')
					+item('Деҳқончилик')
					+item('Иссиқхона')
					+item('Сабзавот')
					+item('Полиз')
					+item('Доривор ўсимликлар')
					+item('Чорвачилик')
					+item('Паррандачилик')
					+item('Ҳайвон касалликлари')
				.tabcontent(id="chor-tab")
					mixin item(t)
						+b.accordeon-item
							+e.head= t
								+icon("close")
							+e.body
								mixin link(t)
									div
										+b.file-link(href="#")
											img(src="img/svg/file-link.svg", alt="")
											div
												+e.title= t
												.text-secondary PDF
								+link(`Иссиқхоналарда сабзавот кўчатчилиги`)
								+link(`Иссиқхоналарда микроиқлим шароити`)
								+link(`Тупроқсиз екин етиштириш`)
								+link(`Бодрингни иссиқхонада етиштириш`)
								+link(`Помидорни иссиқхонада етиштириш`)
					+item('Боғдорчилик')
					+item('Деҳқончилик')
					+item('Иссиқхона')
					+item('Сабзавот')
					+item('Полиз')
					+item('Доривор ўсимликлар')
					+item('Чорвачилик')
					+item('Паррандачилик')
					+item('Ҳайвон касалликлари')
				.tabcontent(id="deh-tab")
					mixin item(t)
						+b.accordeon-item
							+e.head= t
								+icon("close")
							+e.body
								mixin link(t)
									div
										+b.file-link(href="#")
											img(src="img/svg/file-link.svg", alt="")
											div
												+e.title= t
												.text-secondary PDF
								+link(`Иссиқхоналарда сабзавот кўчатчилиги`)
								+link(`Иссиқхоналарда микроиқлим шароити`)
								+link(`Тупроқсиз екин етиштириш`)
								+link(`Бодрингни иссиқхонада етиштириш`)
								+link(`Помидорни иссиқхонада етиштириш`)
					+item('Боғдорчилик')
					+item('Деҳқончилик')
					+item('Иссиқхона')
					+item('Сабзавот')
					+item('Полиз')
					+item('Доривор ўсимликлар')
					+item('Чорвачилик')
					+item('Паррандачилик')
					+item('Ҳайвон касалликлари')
				.tabcontent(id="chorbog-tab")
					mixin item(t)
						+b.accordeon-item
							+e.head= t
								+icon("close")
							+e.body
								mixin link(t)
									div
										+b.file-link(href="#")
											img(src="img/svg/file-link.svg", alt="")
											div
												+e.title= t
												.text-secondary PDF
								+link(`Иссиқхоналарда сабзавот кўчатчилиги`)
								+link(`Иссиқхоналарда микроиқлим шароити`)
								+link(`Тупроқсиз екин етиштириш`)
								+link(`Бодрингни иссиқхонада етиштириш`)
								+link(`Помидорни иссиқхонада етиштириш`)
					+item('Боғдорчилик')
					+item('Деҳқончилик')
					+item('Иссиқхона')
					+item('Сабзавот')
					+item('Полиз')
					+item('Доривор ўсимликлар')
					+item('Чорвачилик')
					+item('Паррандачилик')
					+item('Ҳайвон касалликлари')
	// end sFaq