mixin sFaq(data)
	// start sFaq
	+b.sFaq.section#sFaq&attributes(attributes)
		.container
			mixin item(t)
				+b.accordeon-item
					+e.head= t
						+icon("accordeon")
					+e.body
						p Сайтга махсулотингизни жойлашдан аввал сиз юридик малумотларингизни тақдим етишингиз керак бўлади. Шундан сўнг шахсий кабинетиниздаги "Махсулот қўшиш" бўлими орқали ўз махсулотингизни қўшишингиз мумкин
			+item('Сайтга қандай қилиб ўз махсулотимни жойлаштиришим мумкин?')
			+item('Сотувчи билан қандай алоқа ўрнатиш мумкин?')
			+item('Тизимдан рўйхатдан ўтмасдан махсулот харид қилиш мумкинми?')
			+item('Қўшилган махсулот қанча вақт ичида сайтга жойланади?')
			+item('Тизим оператори билан қандай боғланиш мумкин?')
	// end sFaq