include ../sFilesDownload/_sFilesDownload.pug
mixin sBiography(data)
	// start sBiography
	+b.sBiography.section#sBiography&attributes(attributes)
		.container
			.user-wrapper
				+e.user
					.avatar-wrapper
						+pic(`avatar-${2}.png`,'bg',0)
						+icon('icon-user-cabinet')
					+e.user-info
						+e.user-job Аграном
						+e.user-name Собиров Алишер
						+e.user-due Сўнги ташриф: 22:30
				button.btn.btn-primary Хабар ёзиш
			h4 Консултант биографияси
			p Проведение научных исследований в области агрономии. Изучение и внедрение передовых методов возделывания полевых, садовых, огородных культур. Разработка и внедрение технологий по борьбе с вредителями, болезнями растений и сорняками. Разработка агротехнических мероприятий, направленных на повышение плодородия почв и увеличения урожайности сельскохозяйственных культур. Разработка производственных планов, видов и количества посадочных культур. Проведение научных исследований в области агрономии. Изучение и внедрение передовых методов возделывания полевых, садовых, огородных культур. Разработка и внедрение технологий по борьбе с вредителями, болезнями растений и сорняками. Разработка агротехнических мероприятий, направленных на повышение плодородия почв и увеличения урожайности сельскохозяйственных культур. Разработка производственных планов, видов и количества посадочных культур.

			+sFilesDownload()
	// end sBiography


mixin sBiography2(data)
	// start sBiography
	+b.sBiography2.section#sBiography&attributes(attributes)
		.container
			.user-wrapper
				+e.user
					.avatar-wrapper
						+pic(`user-avatar.png`,'bg',0)
						+icon('icon-user-cabinet')
					+e.user-info
						+e.user-title Сўровнинг қисқача моҳияти
						+e.user-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			+sFilesDownloadImages()
	// end sBiography

mixin sBiographyList(data)
	// start sBiography
	+b.sBiographyList.section#sBiographyList&attributes(attributes)
		.container
			h1 Қўнгироқлар тарихи
			.list-wrapper
				.head-region
					.cols.name Мутаҳассис номи
					.cols.prof Мутаҳассислиги
					.cols.date Сана
					.cols.time Вақти
					.cols.link
				.list-region
					.list-item
						.cols.name Собиров Алишер
						.cols.prof Ўсимликлар химояси
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Собиров Алишер
						.cols.prof Ветеринар, Зоотехник, Агроном, Агротехник
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Саидназиров Саидкамол
						.cols.prof Аграном
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Тўрамуротова Гулшод
						.cols.prof Аграном
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Собиров Алишер
						.cols.prof Узумчилик
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Тўрамуротова Гулшод
						.cols.prof Аграном
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Собиров Алишер
						.cols.prof Ветеринар, Зоотехник, Агроном, Агротехник
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Amirov Abdimumin
						.cols.prof Зоотехник
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Amirov Abdimumin
						.cols.prof Зоотехник
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Саидназиров Саидкамол
						.cols.prof Аграном
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
			+pugin

mixin sBiographyList2(data)
	// start sBiography
	+b.sBiographyList2.section#sBiographyList2&attributes(attributes)
		.container
			h1 Қўнгироқлар тарихи
			.list-wrapper
				.head-region
					.cols.name Мутаҳассис номи
					.cols.date Сана
					.cols.time Вақти
					.cols.link
				.list-region
					.list-item
						.cols.name Собиров Алишер
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Собиров Алишер
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Саидназиров Саидкамол
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Тўрамуротова Гулшод
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Собиров Алишер
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Тўрамуротова Гулшод
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Собиров Алишер
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Amirov Abdimumin
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Amirov Abdimumin
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
					.list-item
						.cols.name Саидназиров Саидкамол
						.cols.date 04.04.2022
						.cols.time 11:30 - 12:00
						.cols.link
							a(href="#").btn.btn-outline-primary Батафсил
			+pugin

mixin sBiographyInquiries(data)
	// start sBiography
	+b.sBiographyInquiries.section#sBiographyInquiries&attributes(attributes)
		.tabs-region
			.tab
				button.tablinks.vac.active(onclick="openCity(event, 'fermer-tab')") Fermerlar Maktabi
				button.tablinks.res(onclick="openCity(event, 'agrolab-tab')") Agrolab
				button.tablinks.res(onclick="openCity(event, 'agromarkaz-tab')") Agromarkaz
			.tabcontent.opened(id="fermer-tab")
				.list-wrapper
					.head-region
						.cols.sid Сўров ID си
						.cols.status Холати
						.cols.date Жўнатилган вақти
						.cols.link
					.list-region
						.list-item
							.cols.sid 215
							.cols.status.accepted Қабул қилинди
							.cols.date 04.04.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 154
							.cols.status.accepted Қабул қилинди
							.cols.date 25.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 654
							.cols.status.rejected Рад етилди
							.cols.date 22.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 458
							.cols.status.accepted Қабул қилинди
							.cols.date 18.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 125
							.cols.status.rejected Рад етилди
							.cols.date 15.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 778
							.cols.status.accepted Қабул қилинди
							.cols.date 10.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 456
							.cols.status.rejected Рад етилди
							.cols.date 04.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 874
							.cols.status.rejected Рад етилди
							.cols.date 02.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
				+pugin
			.tabcontent(id="agrolab-tab")
				.list-wrapper
					.head-region
						.cols.sid Сўров ID си
						.cols.status Холати
						.cols.date Жўнатилган вақти
						.cols.link
					.list-region
						.list-item
							.cols.sid 215
							.cols.status.accepted Қабул қилинди
							.cols.date 04.04.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 154
							.cols.status.accepted Қабул қилинди
							.cols.date 25.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 654
							.cols.status.rejected Рад етилди
							.cols.date 22.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 458
							.cols.status.accepted Қабул қилинди
							.cols.date 18.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 125
							.cols.status.rejected Рад етилди
							.cols.date 15.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 778
							.cols.status.accepted Қабул қилинди
							.cols.date 10.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 456
							.cols.status.rejected Рад етилди
							.cols.date 04.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 874
							.cols.status.rejected Рад етилди
							.cols.date 02.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
				+pugin
			.tabcontent(id="agromarkaz-tab")
				.list-wrapper
					.head-region
						.cols.sid Сўров ID си
						.cols.status Холати
						.cols.date Жўнатилган вақти
						.cols.link
					.list-region
						.list-item
							.cols.sid 215
							.cols.status.accepted Қабул қилинди
							.cols.date 04.04.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 154
							.cols.status.accepted Қабул қилинди
							.cols.date 25.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 654
							.cols.status.rejected Рад етилди
							.cols.date 22.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 458
							.cols.status.accepted Қабул қилинди
							.cols.date 18.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 125
							.cols.status.rejected Рад етилди
							.cols.date 15.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 778
							.cols.status.accepted Қабул қилинди
							.cols.date 10.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 456
							.cols.status.rejected Рад етилди
							.cols.date 04.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
						.list-item
							.cols.sid 874
							.cols.status.rejected Рад етилди
							.cols.date 02.03.2022
							.cols.link
								a(href="#").btn.btn-outline-primary Батафсил
				+pugin