@use "sass:math";

.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		// @extend .text-body;
		color: $body-color;
		&:hover {
			color: var(--bs-primary);
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(20);
	}
}

.soc-authorization {
	display: flex;
	justify-content: center;
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 5px;
		// width: 36px;
		border: none;
		outline: none;
		background-color: $white;
		&:not(:last-child) {
			margin-right: rem(12);
		}
		&:hover {
			span {
				color: $info;
			}
		}
		img {
			width: 23px;
			height: 23px;
			margin-bottom: 5px;
		}
		span {
			@include mt;
			font-size: 12px;
			line-height: math.div(7, 6);
			color: #676767;
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.search-block {
	// max-width: rem(637);
	form {
		position: relative;
	}
	input {
		@extend .form-control;
		border-radius: 41px;
		padding-left: rem(20);
		padding-right: rem(40);
		padding-top: rem(7);
		padding-bottom: rem(7);
		height: auto;
		font-size: 14px !important;
	}
	button {
		position: absolute;
		@extend .btn;
		padding: 0 rem(10);
		box-shadow: none !important;
		right: 0;
		right: rem(7);
		top: rem(-1);
		height: 100%;
		.icon {
			color: #999999;
			font-size: 14px;
		}
	}
}

.orderClosed {
	margin-bottom: rem(130);
	@include media-breakpoint-up(md) {
		margin-bottom: rem(70);
	}
	&__title {
		font-size: rem(18);
		line-height: 125%;
		color: #999999;
		max-width: 760px;
		margin-bottom: rem(16);
	}
	.form-switch {
		padding-left: rem(44);
	}
	.form-check-input {
		width: rem(44);
		height: rem(22);
		margin-left: rem(-44);
		margin-top: 0;
		margin-right: rem(22);
	}
	.form-check-label {
		font-weight: bold;
		font-size: rem(16);
		line-height: math.div(22, 16);
	}
}

.info-message {
	position: relative;
	min-height: 75px;
	background: #edeff2;
	border-radius: 4px;
	padding: rem(15) rem(15) rem(15) rem(54);
	@include media-breakpoint-up(md) {
		max-width: 520px;
	}
	p {
		color: #000000;
		&:last-child {
			margin-bottom: 0;
		}
	}
	img {
		position: absolute;
		top: rem(15);
		left: rem(15);
		max-width: 25px;
		max-height: 25px;
	}
}
