include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left-slider')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right-slider')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11

	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin search-block()
	+b.search-block
		form
			input(type="text"  placeholder="Агрозамин бўйича қидирув" )
			button 
				+icon("search")
		+e.dropdown.d-none
			- for (var x = 0; x < 6; x++)
				+e.item(href="#")
					.row
						.col Мини-трактор YTO-ME304
						.col-auto.text-secondary2 Махсулотлар
			+e.item(href="#")
				.row
					.col Трактор
					.col-auto.text-secondary2 Каталог

mixin stars()
	+b.stars&attributes(attributes)
		+icon("star").active
		+icon("star").active
		+icon("star").active
		+icon("star").active
		+icon("star")


mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1000")
		+e.btn--plus(type="button")

mixin orderClosed(data)
	+b.orderClosed
		+e.title= data.title
		+e.switch.form-check.form-switch
			input#switch.form-check-input(type='checkbox')&attributes(attributes)
			label.form-check-label(for='switch')= data.label

mixin info-message(p)
	+b.info-message&attributes(attributes)
		img(src="img/svg/message.svg", alt="")
		p!= p


mixin cardlinks(f)
	+e.footer-links&attributes(attributes)
		+e.footer-link(href="#")
			+icon("email-link")
		+e.footer-link(href="#" class= f)
			//- +icon("like-link")
			<svg class="icon icon-like-link" width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M16.1129 2.86902C15.8646 2.30759 15.5067 1.79882 15.0591 1.3712C14.6111 0.94231 14.083 0.601475 13.5033 0.367231C12.9023 0.123371 12.2577 -0.0014504 11.6068 1.27149e-05C10.6938 1.27149e-05 9.80292 0.244222 9.02875 0.705507C8.84355 0.815853 8.6676 0.937054 8.50092 1.06911C8.33423 0.937054 8.15828 0.815853 7.97308 0.705507C7.19892 0.244222 6.30807 1.27149e-05 5.39501 1.27149e-05C4.73752 1.27149e-05 4.10041 0.123022 3.49849 0.367231C2.91694 0.602396 2.39281 0.940672 1.94276 1.3712C1.49455 1.79834 1.13651 2.30723 0.888933 2.86902C0.631497 3.45332 0.5 4.07379 0.5 4.71235C0.5 5.31473 0.62594 5.94244 0.875969 6.58101C1.08525 7.11465 1.38529 7.66819 1.76866 8.22716C2.37614 9.11174 3.21142 10.0343 4.24858 10.9695C5.96729 12.5198 7.66934 13.5907 7.74157 13.6341L8.18051 13.9091C8.37498 14.0303 8.625 14.0303 8.81947 13.9091L9.25841 13.6341C9.33064 13.5889 11.0308 12.5198 12.7514 10.9695C13.7886 10.0343 14.6238 9.11174 15.2313 8.22716C15.6147 7.66819 15.9166 7.11465 16.124 6.58101C16.374 5.94244 16.5 5.31473 16.5 4.71235C16.5018 4.07379 16.3703 3.45332 16.1129 2.86902ZM8.50092 12.4782C8.50092 12.4782 1.90757 8.35198 1.90757 4.71235C1.90757 2.86902 3.46886 1.37482 5.39501 1.37482C6.74886 1.37482 7.92307 2.11288 8.50092 3.19102C9.07876 2.11288 10.253 1.37482 11.6068 1.37482C13.533 1.37482 15.0943 2.86902 15.0943 4.71235C15.0943 8.35198 8.50092 12.4782 8.50092 12.4782Z" fill="#00CD69"/>
				<path d="M16 4.99902C14 9.49904 12.5 9.99904 8.5 13.9993C4 9.99904 2.5 9.49904 0.5 4.99904C1 0.499951 5.5 0.499088 8.5 1.99938C11.5 0.497889 16 0.304598 16 4.99902Z" fill="#00CD69"/>
				</svg>

		+e.footer-link(href="#")
			+icon("phone-link")

mixin cardlinksWithPhone(f)
	+e.footer-links&attributes(attributes)
		+e.footer-link(href="#")
			+icon("email-link")
		+e.footer-link(href="#" class= f)
			//- +icon("like-link")
			<svg class="icon icon-like-link" width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M16.1129 2.86902C15.8646 2.30759 15.5067 1.79882 15.0591 1.3712C14.6111 0.94231 14.083 0.601475 13.5033 0.367231C12.9023 0.123371 12.2577 -0.0014504 11.6068 1.27149e-05C10.6938 1.27149e-05 9.80292 0.244222 9.02875 0.705507C8.84355 0.815853 8.6676 0.937054 8.50092 1.06911C8.33423 0.937054 8.15828 0.815853 7.97308 0.705507C7.19892 0.244222 6.30807 1.27149e-05 5.39501 1.27149e-05C4.73752 1.27149e-05 4.10041 0.123022 3.49849 0.367231C2.91694 0.602396 2.39281 0.940672 1.94276 1.3712C1.49455 1.79834 1.13651 2.30723 0.888933 2.86902C0.631497 3.45332 0.5 4.07379 0.5 4.71235C0.5 5.31473 0.62594 5.94244 0.875969 6.58101C1.08525 7.11465 1.38529 7.66819 1.76866 8.22716C2.37614 9.11174 3.21142 10.0343 4.24858 10.9695C5.96729 12.5198 7.66934 13.5907 7.74157 13.6341L8.18051 13.9091C8.37498 14.0303 8.625 14.0303 8.81947 13.9091L9.25841 13.6341C9.33064 13.5889 11.0308 12.5198 12.7514 10.9695C13.7886 10.0343 14.6238 9.11174 15.2313 8.22716C15.6147 7.66819 15.9166 7.11465 16.124 6.58101C16.374 5.94244 16.5 5.31473 16.5 4.71235C16.5018 4.07379 16.3703 3.45332 16.1129 2.86902ZM8.50092 12.4782C8.50092 12.4782 1.90757 8.35198 1.90757 4.71235C1.90757 2.86902 3.46886 1.37482 5.39501 1.37482C6.74886 1.37482 7.92307 2.11288 8.50092 3.19102C9.07876 2.11288 10.253 1.37482 11.6068 1.37482C13.533 1.37482 15.0943 2.86902 15.0943 4.71235C15.0943 8.35198 8.50092 12.4782 8.50092 12.4782Z" fill="#00CD69"/>
			<path d="M16 4.99902C14 9.49904 12.5 9.99904 8.5 13.9993C4 9.99904 2.5 9.49904 0.5 4.99904C1 0.499951 5.5 0.499088 8.5 1.99938C11.5 0.497889 16 0.304598 16 4.99902Z" fill="#00CD69"/>
			</svg>

		.sProdBody__footer-link.phone-button
			.icon-wrapper
				+icon("phone-link")
			a(href="tel:998994099877" class="tel") +998994099877

mixin card-hor(i, f)
	+b.card-prod--horizontal
		.row
			.col-auto
				+e.img-wrap.bg-wrap(href="#")
					+pic(`prod-${i}.jpg`,'bg',0).picture-bg
			.col
				+e.row.row
					.col
						.h5.mb-0: a.text-body(href="#")  Қизил Юсуф памидори
						p.text-secondary2 МЧЖ "Green technology"
						.d-none.d-md-block
							p Ўсимликнинг баландлиги 1 метрга етади, екиш пайтида уни зарур ишларни амалга ошириш керак. Озиқ-овқат маҳсулотларидан ташқари, нўхат жуда декоратив кўриришга ега бўлади. 
							+e.btns.row
								+e.col.col-auto: a.btn.btn-sm.btn-secondary-light(href="#") Томат
								+e.col.col-auto: a.btn.btn-sm.btn-secondary-light(href="#") Бодринг
								+e.col.col-auto: a.btn.btn-sm.btn-secondary-light(href="#") Сабзи
								+e.col.col-auto: a.btn.btn-sm.btn-secondary-light(href="#") Карам
								+e.col.col-auto: a.btn.btn-sm.btn-secondary-light(href="#") Карам
						//- +e.price 1 999 сум
						//- 	span килограмм
					+e.foot.col-md-auto.text-md-center
				
						.d-none.d-md-block
						.h5.mb-3 459 000 000 сум
						+addblock().--horizontal
						+cardlinks(f)
						+e.btn.btn-primary(type="button") Саватчага қўшиш
				
mixin card(i,t='Қизил Юсуф памидори', cl="col-xl-3 col-md-4")
	div(class= cl)&attributes(attributes)
		+b.card-prod--vertical
			div
				+e.img-wrap.bg-wrap(href="#")
					+pic(`prod-${i}.jpg`,'bg',0).picture-bg
			+e.caption
				.fw-500.mb-1: a.text-body(href="#")= t
				.text-secondary.pb-3.mb-auto МЧЖ "AvtoServisGroup"
				+e.price.text-md-center
					| 4 590 000 
					span.d-md-block.ms-0.pb-1 сум / кг
				+addblock()
				if block
					block
				else
					+e.btn.btn-outline-primary(type="button") Оставить заявку
				+cardlinks()

mixin b-c(i ,t)
	+b.btn-with-circle
		+e.btn(href="#")&attributes(attributes)
			+icon(i)
		+e.title= t

mixin cabinetTab()
	+b.cabinetTab
		+e.btn(href="#").active  Шахсий малумотлар
		+e.btn(href="#")  Юридик малумотлар