include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left-slider')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right-slider')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11

	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin search-block()
	+b.search-block
		form
			input(type="text"  placeholder="Агрозамин бўйича қидирув" )
			button 
				+icon("search")
		+e.dropdown.d-none
			- for (var x = 0; x < 6; x++)
				+e.item(href="#")
					.row
						.col Мини-трактор YTO-ME304
						.col-auto.text-secondary2 Махсулотлар
			+e.item(href="#")
				.row
					.col Трактор
					.col-auto.text-secondary2 Каталог

mixin stars()
	+b.stars&attributes(attributes)
		+icon("star").active
		+icon("star").active
		+icon("star").active
		+icon("star").active
		+icon("star")


mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1000")
		+e.btn--plus(type="button")

mixin orderClosed(data)
	+b.orderClosed
		+e.title= data.title
		+e.switch.form-check.form-switch
			input#switch.form-check-input(type='checkbox')&attributes(attributes)
			label.form-check-label(for='switch')= data.label

mixin info-message(p)
	+b.info-message&attributes(attributes)
		img(src="img/svg/message.svg", alt="")
		p!= p


mixin cardlinks(f)
	+e.footer-links&attributes(attributes)
		+e.footer-link(href="#")
			+icon("eye-prod")
			span 365
		+e.footer-link(href="#" class= f)
			+icon("convert-prod")
			span 125
		+e.footer-link(href="#")
			+icon("phone-prod")
			span 564

mixin cardlinksWithPhone(f)
	+e.footer-links&attributes(attributes).d-md-none
		+e.footer-link(href="#")
			+icon("email-link")
		+e.footer-link(href="#" class="favorite")
			+icon("like-link")
			+icon("like")
		+e.footer-link.phone-button
			.icon-wrapper
				+icon("phone-link")
			a(href="tel:998994099877" class="tel") +998994099877

mixin cardlinksWithPhoneNoLike(f)
	+e.footer-links&attributes(attributes)
		+e.footer-link(href="#")
			+icon("email-link")
		+e.footer-link.phone-button
			.icon-wrapper
				+icon("phone-link")
			a(href="tel:998994099877" class="tel") +998994099877

mixin cardlinksLike(f)
	+e.footer-links&attributes(attributes)
		+e.footer-link(href="#" class="favorite")
			+icon("like-link")
			+icon("like")

mixin card-hor(i, f)
	+b.card-prod--horizontal
		.row
			.col-auto
				+e.img-wrap.bg-wrap(href="#")
					+pic(`prod-${i}.jpg`,'bg',0).picture-bg
			.col
				+e.row.row
					.col
						.date Жойланган сана: &nbsp;
							span 02.07.2022
						.h5.mb-0: a.text-body(href="#")  Қизил Юсуф памидори
						p.text-secondary2 МЧЖ "Green technology"
						.description.d-none.d-md-block
							p Ўсимликнинг баландлиги 1 метрга етади, екиш пайтида уни зарур ишларни амалга ошириш керак. Озиқ-овқат маҳсулотларидан ташқари, нўхат жуда декоратив кўриришга ега бўлади. 
							+e.btns.row
								+e.col.col-auto: a.btn.btn-sm.btn-secondary-light(href="#") Томат
								+e.col.col-auto: a.btn.btn-sm.btn-secondary-light(href="#") Бодринг
								+e.col.col-auto: a.btn.btn-sm.btn-secondary-light(href="#") Сабзи
								+e.col.col-auto: a.btn.btn-sm.btn-secondary-light(href="#") Карам
								+e.col.col-auto: a.btn.btn-sm.btn-secondary-light(href="#") Карам
						//- +e.price 1 999 сум
						//- 	span килограмм
					+e.foot.col-md-auto.text-md-center
				
						.d-none.d-md-block
						.h5.mb-3 459 000 000
							span сум/тонна
						+addblock().--horizontal
						+e.btn.btn-primary(type="button") Саватчага қўшиш
						+cardlinks(f)
				
mixin card(i,t='Қизил Юсуф памидори', cl="col-xl-4 col-md-4")
	div(class= cl)&attributes(attributes)
		+b.card-prod--vertical
			div
				+e.img-wrap.bg-wrap(href="#")
					label.custom-input_product
						input.custom-input__input(name="checkbox" type="checkbox")
						span.custom-input__image.custom-input__checked-image
							+icon('heart-checked')
						span.custom-input__image
							+icon('heart')
					+pic(`prod-${i}.jpg`,'bg',0).picture-bg
			+e.caption
				.fw-500.mb-1: a.text-body(href="#")= t
				.text-secondary.pb-3.mb-auto МЧЖ "AvtoServisGroup"
				+e.price.text-md-center
					| 4 590 000 
					span.d-md-block.pb-1 сум / кг
				+addblock()
				if block
					block
				else
					+e.btn.btn-primary(type="button") Оставить заявку
				+cardlinks()

mixin b-c(i ,t)
	+b.btn-with-circle
		+e.btn(href="#")&attributes(attributes)
			+icon(i)
		+e.title= t

mixin cabinetTab()
	+b.cabinetTab
		+e.btn(href="#").active  Шахсий малумотлар
		+e.btn(href="#")  Юридик малумотлар