// start .sProdBody
.sProdBody {
	--sPT: 28px;
	--sPB: #{rem(90)};
	// --sTPB: ;
	h1{
		@include media-breakpoint-up(md) {
		padding-right: 200px;
		}
	}
	&__inner {
		@include media-breakpoint-up(md) {
			// border-bottom: 1px solid #e0e0e0;
			padding-bottom: rem(55);
		}
		margin-bottom: rem(25);
	}
	a {
		position: relative;
		.icon {
			position: relative;
			top: em(-2);
			font-size: 0.8em;
			margin-left: rem(10);
		}
	}
	&__img-wrap {
		display: block;
		@include block;
		// margin-bottom: rem(11);
		border-radius: 12px;
		overflow: hidden;
	}
	&__slider--sm {
		margin-top: rem(11);
		margin-bottom: rem(17);
	}
	&__slider--sm &__img-wrap {
		border-radius: 4px;
	}
	&__slider-sm-wrap {
		position: relative;
		padding-left: rem(26);
		padding-right: rem(26);
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		@include media-breakpoint-up(md) {
			width: 100%;
			margin-top: 0;
		}
		margin-top: rem(20);
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: rem(250);
	}
	h1 {
		font-weight: bold;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(16);
		}
	}
	&__price {
		margin-bottom: rem(20);
		strong {
			font-size: rem(24);
			margin-right: rem(8);
		}
		span {
			color: #7c7e80;
			font-size: 12px;
		}
	}

	p {
		line-height: 125%;
	}
	li {
		list-style: none;
		margin-bottom: rem(5);
		span {
			color: $secondary;
			margin-right: rem(2);
		}
	}
	&__content {
		position: relative;
		overflow: hidden;
		margin-bottom: rem(15);
	}

	.readmore-link-more {
		margin-bottom: rem(11)
	}

	&__col {
		@include media-breakpoint-up(md) {
			width: calc(250px + var(--bs-gutter-x));
			margin-bottom: 0;
		}
		margin-bottom: rem(30);
	}
	&__slider {
		max-width: rem(250);
		margin-left: auto;
		margin-right: auto;
	}
	&__caption {
		max-width: rem(665);
	}
	&__wrapper {
		margin: 40px 0 23px;
		@include media-breakpoint-down(lg) {
			margin: 20px 0;
		}
		.item-three {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include media-breakpoint-down(lg) {
				align-items: flex-start;
				flex-direction: column;
			}
			.items {
				display: flex;
				align-items: center;
				color: var(--bs-primary);
				@include media-breakpoint-down(lg) {
					margin-bottom: 10px;
				}
				.icon {
					margin-right: 7px;
					@include media-breakpoint-down(lg) {
						min-width: 32px;
					}
					&.icon-deliver-prod2 {
						font-size: 1.6rem;
					}
				}
				span {
					color: black;
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		&__slider-lg-wrap {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			max-width: 300px;
		}
	}
	&--seller {
		--sPT: 0;
		--sPB: #{rem(125)};
		// --sTPB: ;
		margin-top: 0;
		min-height: 675px;
		@include media-breakpoint-up(md) {
			--sPB: #{rem(214)};
			min-height: 695px;
		}
	}

	.text-end {
		a.ttu {
			font-weight: 500;
		}
	}

	&__col-right{
		position: relative;

	}
	&__footer-links{
			@include media-breakpoint-up(md) {

				position: absolute;
				top: 0;
				right: calc(var(--bs-gutter-x) / 2);
			}
			justify-content: center;
				display: flex;
				margin-bottom: 40px;
		@include roww(16px, m);

	}
	&__footer-link{
		@extend .btn, .btn-outline-secondary-light;
		width: 46px;
		height: 46px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--bs-primary);
		.icon{
			margin: 0 !important;
			padding: 0;
			font-size: 17px !important;
			position: static !important;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProdBody

.readmore-link-more {
	@extend .text-info;
	margin-bottom: rem(20);
	display: inline-block;
	position: relative;
	padding-right: rem(20);
	&::after {
		content: var(--chevron-down);
		margin-left: rem(5);
		// position: relative;
		position: absolute;
		top: rem(-2);
		right: 0;
	}
	&--close {
		&::after {
			top: rem(0);
			transform: rotateX(180deg);
		}
	}
}

.sProdBody__footer-link {
	&.phone-button {
		overflow: hidden;
		justify-content: flex-start;
		transition: 0.3s;
		a {
			font-weight: 400;
			font-size: 17px;
			margin-left: 11px;
		}
		.icon-wrapper {
			margin-left: 14px;
			height: 24px;
		}
	}
}
.button-wrapper {
	display: flex;
	button {
		margin-right: 20px;
		padding: 12px;
		width: 250px;
		font-weight: 400;
	}
}
.two-buttons {
	button {
		margin-left: 20px;
		font-weight: 400;
	}
}
@include media-breakpoint-down(xl) {
	.sProdBody {
		h1 {
			width: 54%;
		}
	}
}
@include media-breakpoint-down(lg) {
	.button-wrapper {
		button {
			width: 190px;
		}
	}
}
@include media-breakpoint-down(md) {
	.two-buttons {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		button {
			margin-left: 0;
			margin-bottom: 20px;
		}
	}
}
@include media-breakpoint-down(sm) {
	.button-wrapper {
		flex-direction: column;
		align-items: center;
		button {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}