// start .sProdBody
.active.sProdBody__footer-link.favorite {
	color: var(--bs-primary);
}
#productLocation {
	width: 100%;
	height: 327px;
}
.registration-date {
	font-size: 18px;
	color: #7C7E80;
	margin-top: 15px;
}
#sProvider {
	h1 {
		font-weight: 500;
		font-size: 20px;
		line-height: 28px;
	}
	.sProdBody {
		&__provider-region {
			border-bottom: none;
			margin-bottom: 15px;
			@include media-breakpoint-down(md) {
				display: block;
				margin-bottom: 0;
			}
			.sProdBody {
				&__footer-links {
					@include media-breakpoint-down(md) {
						justify-content: flex-start;
						margin-top: 15px;
						gap: 20px;
					}
				}
				&__footer-link {
					@include media-breakpoint-down(md) {
						margin: 0;
					}
				}
			}
		}
	}
}
.sProdBody {
	--sPT: 28px;
	--sPB: #{rem(90)};
	// --sTPB: ;
	&__provider-region {
		border-bottom: 1px solid #E6E6E6;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 30px;
		margin-bottom: 20px;
		@include media-breakpoint-down(md) {
			justify-content: center;
		}
		.sProdBody {
			&__footer-links {
				position: static;
				margin: 0;
				@include media-breakpoint-down(md) {
					display: none;
				}
			}
			&__provider {
				display: flex;
				align-items: center;
				.sProdBody {
					&__title-wrapper {
						h3 {
							font-weight: 500;
							font-size: 24px;
							margin-bottom: 5px;
							color: var(--bs-primary);
							transition: 0.3s;
						}
						p {
							color: #7C7E80;
							margin: 0;
							&.online {
								color: #4AABF2;
							}
						}
					}
				}
				&:hover {
					.sProdBody {
						&__title-wrapper {
							h3 {
								color: var(--bs-primary-hover);
							}
						}
					}
					.icon-wrapper {
						.icon-shop {
							color: var(--bs-primary-hover);
						}
					}
				}
				.icon-wrapper {
					width: 59px;
					height: 59px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #F5F5F5;
					border-radius: 50%;
					margin-right: 15px;
					overflow: hidden;
					.icon-shop {
						font-size: 20px;
						color: var(--bs-primary);
						margin-left: 0;
						top: 0;
						transition: 0.3s;
					}
				}
			}
		}
	}
	&__inner {
		@include media-breakpoint-up(md) {
			padding-bottom: 30px;
			border-bottom: 1px solid #E6E6E6;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 40px;
		}
		margin-bottom: 30px;
	}
	&__performance-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include media-breakpoint-down(md) {
			justify-content: space-between;
			align-items: flex-start;
		}
	}
	&__performance {
		display: flex;
		align-items: center;
		gap: 55px;
		@include media-breakpoint-down(lg) {
			gap: 30px;
		}
		@include media-breakpoint-down(md) {
			gap: 15px;
			flex-direction: column;
			align-items: flex-start;
		}
		.item-perform {
			display: flex;
			align-items: center;
			.icon-wrapper {
				align-items: center;
				background-color: #f5f5f5;
				border-radius: 50%;
				display: flex;
				height: 46px;
				justify-content: center;
				margin-right: 15px;
				width: 46px;
				.icon {
					color: var(--bs-primary);
				}
			}
		}
		.sProdBody {
			&__title-wrapper {
				.title {
					font-weight: 500;
				}
				p {
					margin: 0;
				}
			}
		}
	}
	a {
		position: relative;
		.icon {
			position: relative;
			top: em(-2);
			font-size: 0.8em;
			margin-left: rem(10);
		}
	}
	&__img-wrap {
		display: block;
		@include block;
		// margin-bottom: rem(11);
		border-radius: 12px;
		overflow: hidden;
	}
	&__slider--sm {
		margin-top: rem(11);
		margin-bottom: rem(17);
	}
	&__slider--sm &__img-wrap {
		border-radius: 4px;
	}
	&__slider-sm-wrap {
		position: relative;
		padding-left: rem(26);
		padding-right: rem(26);
	}
	&__btn {
		@extend .btn;
		@extend .btn-primary;
		@include media-breakpoint-up(md) {
			width: 100%;
			margin-top: 0;
		}
		margin-top: rem(20);
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: rem(250);
	}
	h1 {
		font-weight: bold;
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}
	&__price {
		margin-bottom: rem(20);
		strong {
			font-size: rem(24);
			margin-right: rem(8);
			font-weight: 500;
		}
		span {
			color: #7c7e80;
			font-size: 12px;
		}
	}
	p {
		line-height: 125%;
	}
	li {
		list-style: none;
		margin-bottom: rem(5);
		span {
			color: $secondary;
			margin-right: rem(2);
		}
	}
	&__content {
		position: relative;
		overflow: hidden;
		margin-bottom: rem(15);
	}
	.readmore-link-more {
		margin-bottom: rem(11)
	}
	&__col {
		@include media-breakpoint-up(md) {
			width: calc(250px + var(--bs-gutter-x));
			margin-bottom: 0;
		}
		margin-bottom: rem(30);
		.button-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 12px;
			@include media-breakpoint-down(md) {
				display: none;
				&__vertical {
					display: none;
				}
			}
			&__vertical {
				margin-top: 30px;
				gap: 12px;
				display: flex;
				flex-direction: column;
				button {
					margin: 0;
				}
			}
			button {
				margin: 0;
			}
			.sProdBody {
				&__footer-links {
					position: static;
					margin: 0;
				}
				&__footer-link {
					margin: 0;
				}
			}
		}
	}
	&__slider {
		max-width: rem(250);
		margin-left: auto;
		margin-right: auto;
	}
	&__caption {
		// max-width: rem(665);
		.date {
			color: #7C7E80;
			font-size: 18px;
		}
	}
	&__wrapper {
		margin: 20px 0 13px;
		@include media-breakpoint-down(lg) {
			margin: 20px 0;
			gap: 5px;
			display: flex;
			flex-direction: column;
		}
		.item-three, .item-one {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-flow: row nowrap;
			margin-bottom: 10px;
			gap: 30px;
			@include media-breakpoint-down(lg) {
				align-items: flex-start;
				flex-direction: column;
				margin-bottom: 0;
				gap: 5px;
			}
			.items {
				display: flex;
				align-items: flex-start;
				color: var(--bs-primary);
				@include media-breakpoint-down(lg) {
					margin-bottom: 10px;
					width: 100%;
				}
				.icon-wrapper {
					margin-right: 7px;
					width: 30px;
					margin-top: -3px;
				}
				.icon {
					&.icon-deliver-prod2 {
						font-size: 22px;
					}
					&.icon-handshake-prod {
						font-size: 26px;
					}
				}
				span {
					color: black;
				}
			}
		}
	}
	@include media-breakpoint-down(md) {
		&__slider-lg-wrap {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			max-width: 300px;
		}
	}
	&--seller {
		--sPT: 0;
		--sPB: #{rem(125)};
		// --sTPB: ;
		margin-top: 0;
		min-height: 675px;
		@include media-breakpoint-up(md) {
			--sPB: #{rem(214)};
			min-height: 695px;
		}
	}
	.text-end {
		a.ttu {
			font-weight: 500;
			display: flex;
			align-items: center;
		}
	}
	&__col-right{
		position: relative;
		@include media-breakpoint-down(md) {
			.button-wrapper {
				&__vertical {
					margin-top: 30px;
					display: flex;
					justify-content: center;
					flex-flow: row wrap;
					gap: 10px;
				}
			}
		}
	}
	&__map-col {
		width: calc(250px + var(--bs-gutter-x));
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
		@include media-breakpoint-down(md) {
			margin-top: 30px;
		}
	}
	&__trust-seller-col {
		width: calc(264px + var(--bs-gutter-x));
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
	}
	&__map-description {
		color: #7C7E80;
		line-height: 17.5px;
		margin-bottom: 5px;
		@include media-breakpoint-down(md) {
			text-align: center;
		}
	}
	&__footer-links{
			@include media-breakpoint-up(md) {

				position: absolute;
				top: 0;
				right: calc(var(--bs-gutter-x) / 2);
			}
			justify-content: center;
				display: flex;
				margin-bottom: 40px;
		@include roww(16px, m);

	}
	&__footer-link{
		@extend .btn, .btn-outline-secondary-light;
		width: 46px;
		height: 46px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--bs-primary);
		.icon{
			margin: 0 !important;
			padding: 0;
			font-size: 17px !important;
			position: static !important;
			&.icon-like-link {
				display: none;
			}
		}
		&:hover {
			color: var(--bs-primary);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProdBody

.readmore-link-more {
	@extend .text-info;
	margin-bottom: rem(20);
	display: inline-block;
	position: relative;
	padding-right: rem(20);
	&::after {
		content: var(--chevron-down);
		margin-left: rem(5);
		// position: relative;
		position: absolute;
		top: rem(-2);
		right: 0;
	}
	&--close {
		&::after {
			top: rem(0);
			transform: rotateX(180deg);
		}
	}
}

.sProdBody__footer-link {
	&.phone-button {
		overflow: hidden;
		justify-content: flex-start;
		transition: 0.3s;
		a {
			font-weight: 400;
			font-size: 17px;
			margin-left: 11px;
		}
		.icon-wrapper {
			margin-left: 14px;
			height: 24px;
		}
	}
}
.button-wrapper {
	display: flex;
	button {
		margin-right: 20px;
		padding: 12px;
		width: 250px;
		font-weight: 400;
	}
}
.two-buttons {
	button {
		margin-left: 20px;
		font-weight: 400;
	}
}
@include media-breakpoint-down(xl) {
	
}
@include media-breakpoint-down(lg) {
	.button-wrapper {
		button {
			width: 190px;
		}
	}
}
@include media-breakpoint-down(md) {
	.two-buttons {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		button {
			margin-left: 0;
			margin-bottom: 20px;
		}
	}
}
@include media-breakpoint-down(sm) {
	.button-wrapper {
		flex-direction: column;
		align-items: center;
		button {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}
.ymaps-2-1-79-balloon__content {
	.desc {
		line-height: 1;
	}
	.image {
		width: 50px;
		float: left;
		margin-right: 5px;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.ymaps-2-1-79-balloon-content__header {
	border-bottom: 1px solid #cecece;
	padding-bottom: 5px;
	margin-bottom: 10px;
	.title {
		color: var(--bs-primary);
	}
	.price {
		font-size: 14px;
		font-weight: 400;
		color: #7C7E80;
	}
}