extends ../layout/main


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../../blocks/aside/_aside
include ../../blocks/sCatalog/_sCatalog
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWantToSell/_sWantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug

block variables
	- let  mainPage= null 
	- let  bg= '14.jpg'

block title
	- let  title= 'Сабзавот уруғлари'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа','Уруғлар', title)
	+b.page-title
		.container
			.row
				.col-auto.d-none.d-sm-block
					a.back(href="#").text-body
						+icon("chevron-left") 
				.col
					.row
						.col-sm-12.col-auto
							h1.mb-0= title
						.col-sm-12.col-auto
							.text-secondary 211 маҳсулотлари
	.container
		.row.row--main
			.col-lg.col--aside
				+aside2()
			.col-lg.col--main
				+sCatalog2()
			
	//- +headerBlock
	//- +sHowWorks
	//- +sAdvantages
	//- +sCategories
	//- +sPopulars
	//- +sWantToSell
	//- +sAbout
	+footer()



