extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/aside/_aside.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sProdHead/_sProdHead.pug
include ../blocks/sProdBody/_sProdBody.pug
//- include ../blocks/sAbout/_sAbout.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sPopulars/_sPopulars.pug
//- include ../blocks/sWantToSell/_sWantToSell.pug
//- include ../blocks/sHowWorks/_sHowWorks.pug

block variables
	- let  mainPage= null 
	- let  bg= '15.jpg'

block title
	- let  title= ' Бинафша Шоҳ Нўхати'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа','Уруғлар','Сабзавот уруғлари',title)
	+sProdHead()
	+sProdBody()
	+sCatalog15()
			
	//- +headerBlock
	//- +sHowWorks
	//- +sAdvantages
	//- +sCategories
	//- +sPopulars
	//- +sWantToSell
	//- +sAbout
	+footer()



