extends ../layout/main


include ../../blocks/sAboutProject/_sAboutProject
include ../../blocks/sOurGoal/_sOurGoal
include ../../blocks/sOurDuty/_sOurDuty
include ../../blocks/sFaq/_sFaq

block variables
	- let  mainPage= 'bg-only-mobile-gray'
	- let  bg= 'main.jpg'

block title
	- let  title= 'Оммабоп саволлар'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа', title) 
	+sFaq
	+footer()



