extends ../layout/main


include ../../blocks/sAboutProject/_sAboutProject
include ../../blocks/sOurGoal/_sOurGoal
include ../../blocks/sOurDuty/_sOurDuty
include ../../blocks/sVideos/_sVideos

block variables
	- let  mainPage= null
	- let  bg= 'main.jpg'

block title
	- let  title= 'Медиабиблиотека'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа', title)
	//- .text-center 
	//- 	h1 Янгиликлар
	+sVideos
	+footer()



