extends layout/main.pug


include ../blocks/sAboutProject/_sAboutProject.pug
include ../blocks/sOurGoal/_sOurGoal.pug
include ../blocks/sOurDuty/_sOurDuty.pug
include ../blocks/sBankProducts/_sBankProducts.pug

block variables
	- let  mainPage= 'bg-only-mobile-gray'
	- let  bg= 'main.jpg'

block title
	- let  title= 'Агротехкарталар'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа', title)
	//- .text-center 
	//- 	h1 Янгиликлар
	+sBankProducts-37
	+footer()



