extends ../layout/main


include ../../blocks/sAboutProject/_sAboutProject
include ../../blocks/sOurGoal/_sOurGoal
include ../../blocks/sOurDuty/_sOurDuty
include ../../blocks/sServicePurpose/_sServicePurpose

block variables
	- let  mainPage= 'about-project bg-white'
	- let  bg= 'main.jpg'

block title
	- let  title= 'Лойиҳа ҳақида'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
	+breadcrumb('Асосий саҳифа', title)
	+sServicePurpose() 
		.row.aligin-items-center.pt-4
			+e.col.col-lg-6.col-xl-4.text-center
				//- img(src="img/svg/42-2.svg", alt="")
				+pic("42-3.png",'',0)
			.col-lg-6.col-xl
				+e.card-content
					h1 Фитопатология
					p Фитопатология (фито — ўсимлик ва патология) — патогенлар (юқумли касалликлар) ва екологик омиллар (физиологик омиллар) оқибатида ўсимлик касалликлари фани. У касалликларга қарши кураш воситаларини ишлаб чиқиш, ўсимликларнинг зарарланишини олдини олишни ўз ичига олади.
	section.section.container
		.section-title.text-center
			h2 Иссиқхона тушунчаси
		ul().custom-list
			li Қўзиқоринлардан келиб чиққан касалликлар
			li Прокарётлардан келиб чиққан касалликлар
			li Паразитик юқори ўсимликлар туфайли касалликлар
			li Вируслардан келиб чиққан касалликлар
			li Нематодлар сабаб бўлган касалликлар
			li Бир ҳужайралилар сабабли касалликлар
	+sForm2
		+form-wrap
			+e.title.h4.mb-4 Рўйхатдан ўтиш
			+input("Энтомология",'select','Таълим йўналишлари')
			+input("Интенсив курс",'select','Ўқиш тури')
			+input("",'text','Исм')
			+input("",'text','Фамилия')
			+input("",'tel','Телефон рақами')
			+input("",'email','E-mail')
			+e.input-wrap.form-group
				+e.SPAN.input-title.d-block.text-start Дата рождения *
				.row
					.col-4
						+input('Кун','select')
					.col-4
						+input('Ой','select')
					.col-4
						+input('Йил','select')
			+policy().mb-4
			button.btn.btn-primary.w-190 Рўйхатдан ўтиш
	+footer()


