extends ../layout/main


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sAbout/_sAbout.pug
include ../../blocks/sAdvantages/_sAdvantages
include ../../blocks/sCategories/_sCategories
include ../../blocks/sPopulars/_sPopulars
include ../../blocks/sWantToSell/_sWantToSell
include ../../blocks/sHowWorks/_sHowWorks
include ../../blocks/sPartners/_sPartners
include ../../blocks/sHeaderBanner/_sHeaderBanner
include ../../blocks/sBankProducts/_sBankProducts
include ../../blocks/sProductsOnSite/_sProductsOnSite
include ../../blocks/sInformation/_sInformation
include ../../blocks/aside/_aside
include ../../blocks/sVacancy/_sVacancy

block variables
    - let  mainPage= 'vacancy-page'
    - let  bg= 'main.jpg'

block title
    - let  title= 'Вакансиялар'
    title= title
block pagecontent


    +mob-mnu()
    +header()
        +topLine()
        +top-nav()

    +breadcrumb('Асосий саҳифа', title)

    .container
        .row.row--main
            .col-lg.col--aside
                +aside3()
            .col-lg.col--main
                +sVacancy()

    +footer()