mixin sBankProducsBody(h2, page)
	// start sBankProducs
	+b.sBankProducs.section&attributes(attributes)
		.container
			if h2
				+b.section-title.text-center(class="wow animate__fadeInUp" )
					h2= h2
			+e.slider-wrap
				.swiper-container(class=(page ? 'sBankProducs__slider--page sBankProducs__slider--page-js' : ' sBankProducs__slider--js'))
					.swiper-wrapper
						block
				if !page
					.d-none.d-md-block(class="wow animate__fadeInUp" )
						+arrow
			if page
				+pugin()
	// end sBankProducs
mixin itemSlide(i, t, p, l)
	+e.col.col-lg-3.swiper-slide(class="wow animate__fadeInUp" )
		+e.item(href='#')
			+e.DIV.img-wrap
				if i
					//- img(src=`img/@2x/populars-${i}.jpg` alt="")
					+pic(`bank-${i}.jpg`,'',0)
			+e.DIV.caption
				+e.DIV.price!= t
				p!= p
				if !l
					div
						+e.btn Батафсил
				else
					.row.mt-auto
						.col.text-info Батафсил
						.col-auto.text-secondary 14.09.2021
mixin sBankProducs(data)
	+sBankProducsBody('Банк махсулотлари')
		+itemSlide(1, `Visa Business корпоратив картаси`, `Виса халқаро тўлов тизимининг корпоратив банк картаси бўлиб у хизмат сафарлар харажатлари`)
		+itemSlide(`2`, `100 китоб тўплами`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`)
		+itemSlide(3, `Ўсимликларни ҳимоя қилиш бўйича ажратиладиган кредит`, `Ўсимликларни ҳимоя қилиш бўйича ажратиладиган кредит`)
		+itemSlide('', `Сабзавот ва мевалар ишлаб чиқаришни ривожлантириш учун кредит`, `Мева-сабзавот ва узумни етиштириш, қайта ишлаш ва експорт қилиш корхоналари учун`)
	+sBankProducsBody('Янгиликлар')
		+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, `"Фермерлар мактабида" ўсимликларни ҳимоя қилиш `,'l')
		+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`,'l')
		+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, `Виса билан ҳамкорликада "Унутилмас саёҳатни ютиб олинг" аксиясини еълон қиламиз.`,'l')
		+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, `Банкоматларда техник ишлар олиб борилмоқда!`,'l')
mixin sBankProducs-22(data)
	+sBankProducsBody('','page')
		- for (var x = 0; x < 4; x++)
			+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, `"Фермерлар мактабида" ўсимликларни ҳимоя қилиш `,'l')
			+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`,'l')
			+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, `Виса билан ҳамкорликада "Унутилмас саёҳатни ютиб олинг" аксиясини еълон қиламиз.`,'l')
			+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, `Банкоматларда техник ишлар олиб борилмоқда!`,'l')
			//- +itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, `"Фермерлар мактабида" ўсимликларни ҳимоя қилиш `,'l')
			//- +itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`,'l')
	
