// start .sBankProducs
.sBankProducs {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		.col-lg-3 {
				@include media-breakpoint-up(lg) {
				}
			flex: 0 0 auto;
			width: 252px;
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		border-radius: 8px;
		// width: rem(113);
		margin-top: auto;
	}
	p{
		// margin-bottom: rem(50);
		padding-bottom: rem(7);
		flex-grow: 1;
	}
	&__price{
		font-size: 1rem !important;
	}
	&__caption{
		display: flex;
		flex-direction: column;
		padding-bottom: 12px;
	}
	&__slider-wrap{
		position: relative;
	}
	&__slider{
			@include media-breakpoint-up(xl) {

				padding: 30px;
				margin: -30px;
				&::after,
				&::before{
					content: '';
					position: absolute;
					top: -30px;
					height: calc(100% + 60px);
					background-color: #fff;
					width: 30px;
					z-index: 20;
					pointer-events: none;
					
				}
				&::after{
					left: -37px;
				}
				&::before{
					right: -37px;
				}
			}
	}

	&__slider--page{
		overflow: visible;
	}
	@include media-breakpoint-up(xl) {
		--swiperArrowPosition: -55px;
	}
	--swiperArrowPosition: -15px;
	.swiper-button-hand{
		width: rem(40);
		height: rem(40);
		background: #FFFFFF;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
		line-height: rem(40);
		vertical-align: middle;
		text-align: center;
		color: $primary;
	}
	.pagination-wrapper{
		margin-top: rem(50);
	}
	.page-numbers{
		justify-content: center;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {
		&__slider{
			overflow: visible;
		}
	}
} // end.sBankProducs