mixin sBankProducs(data)
	// start sBankProducs
	+b.SECTION.sBankProducs.section#sBankProducs&attributes(attributes)
		.container
			+b.section-title.text-center(class="wow animate__fadeInUp" )
				h2 Банк махсулотлари
			+e.slider-wrap
				+e.slider--js.swiper-container
					.swiper-wrapper
						mixin item(i, t, p)
							+e.col.col-lg-3.swiper-slide(class="wow animate__fadeInUp" )
								+e.item(href='#')
									+e.DIV.img-wrap
										if i
											//- img(src=`img/@2x/populars-${i}.jpg` alt="")
											+pic(`bank-${i}.jpg`,'',0)
									+e.DIV.caption
										+e.DIV.price!= t
										p!= p
										+e.btn Батафсил
						+item(1, `Visa Business корпоратив картаси`, `Виса халқаро тўлов тизимининг корпоратив банк картаси бўлиб у хизмат сафарлар харажатлари`)
						+item(`2`, `100 китоб тўплами`, `Барча учун керакли бўлган фойдали китобларнинг електрон топлами`)
						+item(3, `Ўсимликларни ҳимоя қилиш бўйича ажратиладиган кредит`, `Ўсимликларни ҳимоя қилиш бўйича ажратиладиган кредит`)
						+item('', `Сабзавот ва мевалар ишлаб чиқаришни ривожлантириш учун кредит`, `Мева-сабзавот ва узумни етиштириш, қайта ишлаш ва експорт қилиш корхоналари учун`)
				.d-none.d-md-block
					+arrow
	// end sBankProducs