mixin sPopulars(data)
	// start sPopulars
	+b.SECTION.sPopulars.section#sPopulars&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Оммабоп маҳсулотлар
			+e.slider--js
				.row.swiper-wrapper
					mixin item(i, t, p)
						+e.col.col-lg-3.swiper-slide
							+e.item(href='#')
								+e.DIV.img-wrap
									if i
										img(src=`img/@2x/populars-${i}.jpg` alt="")
								+e.DIV.caption
									+e.DIV.price!= t
									p!= p
					+item(1, `12 099 сум/ дона`, `"Корневин" илдизларининг шаклланиши ва ўсишини стимулятори 0,005 kg`)
					+item(``, `12 099 сум/ шт1`, `Маккажўхори геолиа уруғлар " Ранняя лакомка»`)
					+item(2, `12 099 сум/ дона`, `Оқ мевали қовоқ геолиа "Лангар" уруғлари»`)
					+item(3, `12 099 сум/ дона`, `Ўсиш регулятори "Зиркон" 1 мл`)
	// end sPopulars