mixin sProdHead(p)
	// start sProdHead
	+b.sProdHead.section#sProdHead&attributes(attributes)
		.container
			+e.inner
				.row
					.col
						if !p
							p.text-secondary.d-none.d-md-block Арт. 12757510
						+pic("logo-prod.png",'',0).mb-2
						.h4 МЧЖ "Green technology"
						+stars
						ul
							li 
								+e.icon-wrap: +icon("mark")
								| Тошкент шахри
							li 
								+e.icon-wrap: +icon("shipping")
								| Жойидан олиб кетиш
							li 
								+e.icon-wrap: +icon("pay")
								| Жойида тўлов
					if !p
						.col-md-auto
							+e.btn(href="#") Қўнғироқ қилиш
	// end sProdHead


mixin sProdHeadSeller(b)
	// start sProdHeadSeller
	+b.SECTION.sProdHead--seller.section#sProdHead&attributes(attributes)
		.container
			+e.inner
				.row
					.col
						+e.row.row
							.col-auto
								+pic("avatar.jpg",'bg',0)
							.col-auto
								h4 Шокиров Дилмурод
								+e.email shokirov.d@yandex.ru
								+e.tel.text-secondary +998 97 405 00 03
						+b.sProdHead__message
							img(src="img/svg/message.svg", alt="")
							p Ассалому алайкум. Шу юсуповиский помидор ҳақида тўлиқроқ малумот олмоқчи едим телефон орқали алоқага чиқа оласизми? 
					if b
						.col-md-auto
							+e.btn(href="#") Хабар жўнатиш
	// end sProdHeadSeller