mixin sProdHead(data)
	// start sProdHead
	+b.SECTION.sProdHead.section#sProdHead&attributes(attributes)
		.container
			+e.inner
				.row
					.col
						p.text-secondary Арт. 12757510
						+pic("logo-prod.png",'',0).mb-2
						.h4 МЧЖ "Green technology"
						+stars
						ul
							li 
								+e.icon-wrap: +icon("mark")
								| Тошкент шахри
							li 
								+e.icon-wrap: +icon("shipping")
								| Жойидан олиб кетиш
							li 
								+e.icon-wrap: +icon("pay")
								| Жойида тўлов
					.col-auto
						+e.btn(href="#") Қўнғироқ қилиш
	// end sProdHead