// start .sProductsOnSite
.sProductsOnSite + .footer {
	margin-top: rem(97);
	@include media-breakpoint-up(md) {
		margin-top: rem(87);
	}
}
.sProductsOnSite {
	--sPT: #{rem(40)};
	--sPB: #{rem(40)};
	--sTPB: #{rem(40)};
	margin-top: rem(30);
	margin-bottom: rem(30);
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
		margin-top: rem(40);
		margin-bottom: rem(40);
	}
	@include media-breakpoint-up(lg) {
		--sTPB: 0;
	}
	background-color: #f8fafd;
	position: relative;
	overflow: hidden;
	.container {
		@include media-breakpoint-down(sm) {
			--bs-gutter-x: #{rem(24)};
		}
	}
	&__main-row {
		@include media-breakpoint-up(xl) {
		--bs-gutter-x: #{rem(37)};
		}
	}

	.section-title {
		text-align: center;
		@include media-breakpoint-up(sm) {
			text-align: left;
		}

		@include media-breakpoint-up(xl) {
			max-width: 287px;
		}
		&__btn {
			padding: rem(12) rem(20);
			min-width: 216px;
		}
		h1 {
			font-weight: bold;
			line-height: 116%;
			margin-bottom: rem(8);
			@include rfs(33px);
			@include media-breakpoint-up(xl) {
				font-size: rem(33);
			}
		}
		p {
			font-size: rem(14);
			line-height: 125%;
			margin-bottom: rem(30);
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(sm) {
				margin-left: 0;
				margin-right: 0;
				max-width: 480px;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(45);
			}
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		background: $white;
		border: 1px solid $border-color;
		border-radius: $border-radius-lg;
		position: relative;
		overflow: hidden;
		height: 100%;
		&:hover {
			box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
			.sProductsOnSite__card-btn {
				@extend .btn-outline-primary:hover;
			}
		}
		p {
			font-size: rem(12);
			line-height: calc(17 / 12);
			color: #68717a;
			margin-bottom: rem(10);
			flex-grow: 1;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__img-wrap {
		@include block(195 / 111);
		width: 100%;
		&::before {
			background-color: #e0e0e0;
			background-image: url(../img/logo.png);
			background-repeat: no-repeat;
			background-position: center;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
		}
	}

	&__caption {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: rem(12) rem(12) rem(15);
		@include media-breakpoint-up(lg) {
			padding: rem(14) rem(15) rem(19);
		}
	}
	&__title {
		font-weight: bold;
		font-size: rem(15);
		line-height: calc(22 / 16);
		color: #3e3e3e;
		margin-bottom: rem(5);
		@include media-breakpoint-up(xl) {
			font-size: rem(16);
		}
	}
	&__value {
		display: flex;
		align-items: center;
		margin-bottom: rem(12);
	}
	&__price {
		font-weight: 500;
		font-size: rem(14);
		line-height: calc(18 / 14);
		color: #152536;
		margin-right: rem(8);
	}
	&__unit {
		font-weight: normal;
		font-size: rem(12);
		line-height: calc(18 / 12);
	}
	&__card-btn {
		@extend .btn;
		@extend .btn-outline-primary;
		@include mt;
		max-width: 131px;
		width: 100%;
		font-size: rem(14);
		line-height: calc(16 / 14);
		font-weight: normal;
		padding: rem(11) rem(20);
		margin-top: rem(20);
	}
	// &__footer {
	// 	text-align: right;
	// 	padding-top: rem(20);
	// }

	&__link {
		@include mt;
		display: inline-block;
		padding: rem(12) 0;
		border-radius: 4px;
		background-color: transparent;
		font-size: rem(14);
		line-height: (21 / 14);
		white-space: nowrap;
		margin-left: auto;
		// @include media-breakpoint-up(md) {
		// }
		span {
			margin-right: rem(8);
		}

		.icon-shevron-right-sm {
			font-size: rem(10);
		}
	}

	&__slider {
		// padding-bottom: calc(var(--size));
		.row {
			--bs-gutter-x: #{rem(12)};
			@include media-breakpoint-down(lg) {
				// min-width: 967.44px;
				flex-wrap: nowrap;
				--bs-gutter-y: var(--bs-gutter-x);
			}
		}
		.sProductsOnSite__col {
			@include media-breakpoint-down(lg) {
				width: 240px;
			}
		}
		.swiper-wrapper {
			width: auto;
			--bs-gutter-y: var(--bs-gutter-x);
			margin-right: calc(-0.5 * var(--bs-gutter-x));
			margin-left: calc(-0.5 * var(--bs-gutter-x));
			margin-top: calc(-1 * var(--bs-gutter-y));
			@include media-breakpoint-up(lg) {
				transform: none !important;
			}
		}
		.swiper-slide {
			height: auto;
		}
	}

	.tabs {
		&__caption {
			display: flex;
			align-items: center;
			margin-bottom: rem(26);
		}
		&__btn {
			@include mt;
			padding: rem(10) rem(12) !important;
			border-radius: 4px !important;
			background-color: transparent;
			&:not(:last-child) {
				margin-right: rem(6);
			}
			span {
				@include mt;
				display: inline-block;
				font-weight: 500;
				font-size: rem(14);
				line-height: (16 / 14);
				color: #3e3e3e;
				white-space: nowrap;
			}
			&:hover {
				span {
					color: #00cd69;
				}
			}
			&.active {
				@extend .btn;
				@extend .btn-primary;
				span {
					color: $white;
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProductsOnSite
