mixin sProductsOnSite(data)
	// start sProductsOnSite
	+b.sProductsOnSite.section&attributes(attributes)
		.container
			.tabs(class="wow animate__fadeInUp" )
				.tabs__caption
					//- .tabs__caption.d-none.d-md-flex
					.tabs__btn.active
						span Уруғлар
					.tabs__btn
						span Ўғитлар
					.tabs__btn.d-none.d-md-block
						span Ўсимликларни ҳимоя қилиш маҳсулотлари
					.tabs__btn.d-none.d-xl-block
						span Техника
					.tabs__btn.d-none.d-xl-block
						span Бошқа ўғитлар
					.tabs__btn.d-none.d-xl-block
						span Ветеринария
					.tabs__btn.d-none.d-xl-block
						span Тайёр маҳсулот

					+e.link.d-block(href="#")
						span Барча категориялар
						+icon('shevron-right-sm')
				.tabs__wrap
					mixin tab()
						.tabs__content&attributes(attributes)
							+e.slider--js
								.swiper-wrapper
									+card(1,'Қизил Юсуф памидори Самарқанд махсулоти','sProductsOnSite__col  swiper-slide ')
									+card(2,'Бинафша Шоҳ Нўхати','sProductsOnSite__col  swiper-slide ')
									+card(3,'Мелотрия Колибри Самарқанд махсулоти','sProductsOnSite__col  swiper-slide ')
									+card(4,'Мелотрия Колибри Самарқанд махсулоти','sProductsOnSite__col  swiper-slide ')
										+e.btn.btn-outline-primary.disabled(type="button") Запрос оставлен
									+card(5,'Мелотрия Колибри Самарқанд махсулоти','sProductsOnSite__col  swiper-slide ')
									//- +card(5)
					+tab().active
					+tab()
					+tab()
					+tab()
	// end sProductsOnSite