mixin allcss()
	
	//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")
 
	//- link(href="libs/swiper/css/swiper.min.css", rel="stylesheet") 
	//- link(href="libs/@fancyapps/fancybox/jquery.fancybox.min.css", rel="stylesheet")
	//- <link rel="preconnect" href="https://fonts.googleapis.com">
	//- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	//- <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

	<link rel="preload" href="fonts/Ubuntu-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="fonts/Ubuntu-Medium.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="fonts/Ubuntu-Bold.woff2" as="font" type="font/woff2" crossorigin>
	link(href="libs/priority-nav/priority-nav-core.css", rel="stylesheet") 
	link(href="libs/filepond/filepond.min.css", rel="stylesheet")
	link(href="libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css", rel="stylesheet")
	link(href="libs/ion-rangeslider/css/ion.rangeSlider.min.css", rel="stylesheet") 
	link(href="libs/animate.css/animate.min.css", rel="stylesheet")
	link(href="libs/jquery-asPieProgress/css/asPieProgress.min.css", rel="stylesheet")
	link(href="libs/select2/css/select2.min.css", rel="stylesheet")
	link(href="js/datepicker/css/datepicker.min.css", rel="stylesheet")
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs()
	//- script(src="js/libs.js")

	//- script(src="libs/loading-attribute-polyfill/loading-attribute-polyfill.min.js")

	// modal libs
	script(  src="libs/jquery/jquery.min.js")
	script(   src="libs/@fancyapps/ui/fancybox.umd.js")
	// modal libs
	// slider libs
	script(  src="libs/swiper/swiper-bundle.min.js") 
	script(  src="libs/wowjs/wow.min.js")  
	script(  src="libs/jquery-asPieProgress/jquery-asPieProgress.min.js") 
	script(  src="libs/hc-sticky/hc-sticky.js")  
	script(  src="libs/typed.js/lib/typed.min.js")  
	// /slider libs

	//- script(src="libs/inputmask/inputmask.min.js")
	script(  src="libs/priority-nav/priority-nav.min.js")
	script(  src="libs/ion-rangeslider/js/ion.rangeSlider.min.js")
	script(  src="libs/readmore-js/readmore.min.js") 
	script(  src="libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js") 
	script(  src="libs/filepond/filepond.min.js") 
	script(  src="libs/jquery-filepond/filepond.jquery.js") 
	script(  src="libs/select2/js/select2.min.js") 
	script(  src="js/datepicker/js/datepicker.min.js")
	script(  src="js/maskedinput.js")
	//script(  src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=324252345234" type="text/javascript")
	//script(  src="event_reverse_geocode.js" type="text/javascript")
	script(  src="js/common.js")
	//- cut text libs
	//- script(src="libs/jquery.morelines.min.js")

	//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
	//- custom input range libs
	//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
	//- /custom input range libs

	//- mask for  input  libs
	//- / mask for  input  libs