mixin allcss()
	
	//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")
 
	//- link(href="libs/swiper/css/swiper.min.css", rel="stylesheet") 
	//- link(href="libs/@fancyapps/fancybox/jquery.fancybox.min.css", rel="stylesheet")
	//- <link rel="preconnect" href="https://fonts.googleapis.com">
	//- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	//- <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

	<link rel="preload" href="fonts/Ubuntu-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="fonts/Ubuntu-Medium.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="fonts/Ubuntu-Bold.woff2" as="font" type="font/woff2" crossorigin>
	link(href="libs/priority-nav/priority-nav-core.css", rel="stylesheet")
	link(href="libs/ion-rangeslider/css/ion.rangeSlider.min.css", rel="stylesheet")
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs()
	//- script(src="js/libs.js")

	//- script(src="libs/loading-attribute-polyfill/loading-attribute-polyfill.min.js")

	// modal libs
	script(async="defer" src="libs/jquery/jquery.min.js")
	script( async="defer" src="libs/@fancyapps/ui/fancybox.umd.js")
	// modal libs
	// slider libs
	script(async="defer" src="libs/swiper/swiper-bundle.min.js") 
	// /slider libs

	//- script(src="libs/inputmask/inputmask.min.js")
	script(async="defer" src="libs/priority-nav/priority-nav.min.js")
	script(async="defer" src="libs/ion-rangeslider/js/ion.rangeSlider.min.js")
	script(async="defer" src="libs/readmore-js/readmore.min.js")
	script(async="defer" src="js/common.js")
	//- cut text libs
	//- script(src="libs/jquery.morelines.min.js")

	//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
	//- custom input range libs
	//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
	//- /custom input range libs

	//- mask for  input  libs
	//- / mask for  input  libs