mixin sAboutProject(data)
	// start sAboutProject
	+b.SECTION.sAboutProject.section#sAboutProject&attributes(attributes)
		.container
			+e.banner.bg-wrap(class="wow animate__fadeIn" data-wow-delay=".1s")
				+pic(`about-project.jpg`,'bg', 0).picture-bg
				+b.section-title.text-center
					h1 Лойиҳа ҳақида
					p Агро бизнес учун қулай бўлган ягона махсус сервис

	// end sAboutProject