mixin sCowboy(data)
    // start sContent
    +b.SECTION.sCowboy.section#sCowboy&attributes(attributes)
        +pic('cowboy.jpg','bg',0)
        .info-wrap
            .container
                .info.col-lg-6
                    h2 Uzimizniki ’да сотинг ва сотиб олинг
                    button.btn.btn-primary Ўтиш