mixin personal-info(data)
	// start personal-info
	+b.personal-info
		+e.wrapper
			+e.heading
				+b.avatar.d-block.d-lg-none
					img(src=`img/@2x/avatar.jpg`, alt="")
					+e.initials ШД
				+e.subtitle.d-none.d-lg-block Шахсий маълумотлар
				h1 Шокиров Дилмурод
			+e.row.row
				mixin item(t, v)
					.col-6
						+e.item
							+e.name!= t
							+e.value!= v
				+item(`Туғилган сана`, `3.04.1991`)
				+item(`Жинси`, `Еркак`)

				+item(`E-mail`, `Кўрсатилмаган`)
				+item(`Телефон`, `+998 97 405 05 50`)
			.row.gy-2
				.col-md-auto
					+e.BUTTON.btn.btn.btn-primary Маълумотларни ўзгартириш
				.col-md-auto
					+e.BUTTON.btn.btn.btn-primary Паролни ўзгартириш
	// end personal-info